Repository soapbox-pub/soapbox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deps, lint-js, lint-sass, jest, nginx-test, docs-deploy

deps:
  stage: deps
  script: yarn install --ignore-scripts
  cache:
    key:
      files:
      - yarn.lock
    paths:
    - node_modules/
    policy: push

lint-js:
  stage: test
  script: yarn lint:js

lint-sass:
  stage: test
  script: yarn lint:sass

jest:
  stage: test
  script: yarn test:coverage --runInBand
  coverage: /All files[^|]*\|[^|]*\s+([\d\.]+)/
  artifacts:
    reports:
      junit: junit.xml
      coverage_report:
        coverage_format: cobertura
        path: .coverage/cobertura-coverage.xml

nginx-test:
  stage: test
  image: nginx:latest
  before_script:
  - cp installation/mastodon.conf /etc/nginx/conf.d/default.conf
  script: nginx -t

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
  - apk add curl
  script:
  - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline

Update translation files
  app/soapbox/locales/br.json
Due: jest

Hack some stuff to get Vite running (temporary)
  .eslintrc.js
  app/index.html
  app/soapbox/build-config.js
  app/soapbox/custom.ts
  app/soapbox/features/emoji/emoji-mart-data-light.ts
  app/soapbox/features/emoji/emoji-unicode-mapping-light.js
  app/soapbox/features/emoji/unicode-to-unified-name.js
  app/soapbox/main.tsx
  app/soapbox/utils/code.js
  app/soapbox/utils/static.ts
  jest.config.js
  tailwind.config.js
Due: lint-js, jest

IT COMPILES IN VITE
  app/soapbox/main.tsx
  app/styles/application.scss
  app/styles/index.css
  postcss.config.cjs
  tailwind.config.cjs
  tailwind/colors.cjs
Due: lint-js, lint-sass, jest

Autoplay embedded videos after the play button is clicked
  CHANGELOG.md
  app/soapbox/features/status/components/card.tsx
  app/soapbox/utils/media.ts
Due: lint-js, jest

Chats: improve design of attachments, fix sizing bug
  app/soapbox/features/chats/components/chat-message-list.tsx
Due: lint-js, jest

Chats: don't display "copy" button if there's no text to copy
  app/soapbox/features/chats/components/chat-message-list.tsx
Due: lint-js, jest

CHANGELOG: update for chat attachment improvements
  CHANGELOG.md
Due: none

Fix @see in features.ts
  app/soapbox/utils/features.ts
Due: lint-js, jest

Translated using Weblate (Spanish (Argentina))
  app/soapbox/locales/es-AR.json
Due: jest

Rename some files to .cjs, make the codebase aware of .cjs and .mjs extensions
  .eslintignore
  .eslintrc.cjs
  .gitlab-ci.yml
  .lintstagedrc.json
  babel.config.cjs
  jest.config.cjs
  jest/assetTransformer.cjs
  package.json
  postcss.config.cjs
  tailwind.config.cjs
  tailwind/__tests__/colors-test.js
  tailwind/colors.cjs
  webpack/configuration.ts
  webpack/rules/babel.ts
Due: lint-js, jest

vscode: don't lint css through VSCode (rely on stylint and Tailwind extension)
  .vscode/settings.json
Due: jest

Add tailwind.css
  app/soapbox/main.tsx
  app/styles/application.scss
  app/styles/tailwind.css
Due: lint-js, lint-sass, jest

Remove marky, mark-loader
  app/soapbox/main.tsx
  app/soapbox/performance.ts
  package.json
  webpack/rules/mark.ts
  yarn.lock
Due: deps, lint-js, jest

Translated using Weblate (Italian)
  app/soapbox/locales/it.json
Due: jest

chore(deps): update node.js to v19
  .gitlab-ci.yml
  Dockerfile
  Dockerfile.dev
Due: jest

index.html: remove referrer meta tag
  CHANGELOG.md
  app/index.ejs
Due: none

Vite: preliminary setup
  app/index.html
  package.json
  vite.config.ts
  yarn.lock
Due: deps, lint-js, jest

Update features.ts
  app/soapbox/utils/features.ts
Due: lint-js, jest

Vite: install vite-plugin-compile-time, start converting preval files
  app/soapbox/build-config.ts
  app/soapbox/features/emoji/emoji-compressed.ts
  app/soapbox/features/emoji/emoji-mart-data-light.ts
  app/soapbox/utils/code.ts
  jest.config.cjs
  package.json
  tsconfig.json
  vite.config.ts
  yarn.lock
Due: deps, lint-js, jest

Friendica support
  app/soapbox/normalizers/instance.ts
  app/soapbox/utils/features.ts
  package.json
  yarn.lock
Due: deps, lint-js, jest

Friendica, version parsing fixes
  app/soapbox/features/edit-profile/index.tsx
  app/soapbox/utils/features.ts
  app/soapbox/utils/html.ts
Due: lint-js, jest

Update CHANGELOG.md
  CHANGELOG.md
Due: none

OKAY, GET IT KIND OF WORKIGN AGAIN
  app/soapbox/build-config-compiletime.ts
  app/soapbox/build-config.ts
  app/soapbox/custom.ts
  app/soapbox/features/emoji/emoji-compressed.ts
  app/soapbox/features/emoji/emoji-mart-data-light.ts
  app/soapbox/features/emoji/emoji-unicode-mapping-light.js
  app/soapbox/features/emoji/unicode-to-filename.js
  app/soapbox/features/emoji/unicode-to-unified-name.js
  app/soapbox/reducers/auth.ts
  app/soapbox/utils/code-compiletime.ts
  app/soapbox/utils/code.ts
  app/soapbox/utils/static.ts
  package.json
  tsconfig.json
  vite.config.ts
  yarn.lock
Due: deps, lint-js, jest

Fix crypto icons
  app/soapbox/features/crypto-donate/components/crypto-icon.tsx
  app/soapbox/features/status/index.tsx
Due: lint-js, jest

vite: build stuff into static/packs like before
  vite.config.ts
Due: lint-js

vite: fix emojis
  package.json
  vite.config.ts
  yarn.lock
Due: deps, lint-js, jest

Add ability to follow hashtags in web UI
  app/soapbox/actions/tags.ts
  app/soapbox/components/ui/card/card.tsx
  app/soapbox/components/ui/column/column.tsx
  app/soapbox/features/hashtag-timeline/index.tsx
  app/soapbox/normalizers/tag.ts
  app/soapbox/reducers/index.ts
  app/soapbox/reducers/tags.ts
  app/soapbox/utils/features.ts
Due: lint-js, jest

Remove react-immutable-pure-component
  app/soapbox/components/autosuggest-input.tsx
  app/soapbox/components/autosuggest-textarea.tsx
  app/soapbox/components/emoji-selector.tsx
  package.json
  yarn.lock
Due: deps, lint-js, jest

browserlists: remove "not IE11" since "not dead" already prevents targeting it
  package.json
Due: jest

Revert "Merge branch 'remove-immutable-purecomponent' into 'develop'"
  app/soapbox/components/autosuggest-input.tsx
  app/soapbox/components/autosuggest-textarea.tsx
  app/soapbox/components/emoji-selector.tsx
  package.json
  yarn.lock
Due: deps, lint-js, jest

Translated using Weblate (Spanish)
  app/soapbox/locales/es.json
Due: jest

Translated using Weblate (French)
  app/soapbox/locales/fr.json
Due: jest

Show appropriate message when account is awaiting approval
  app/soapbox/actions/auth.ts
Due: lint-js, jest

Path conditions:
  deps: any of: yarn.lock
  lint-js: any of: **/*.js, **/*.jsx, **/*.ts, **/*.tsx, .eslintignore, .eslintrc.js
  lint-sass: any of: **/*.scss, **/*.css, .stylelintrc.json
  jest: any of: **/*.js, **/*.json, app/soapbox/**/*, webpack/**/*, custom/**/*, jest.config.js, package.json, yarn.lock, .gitlab-ci.yml
  nginx-test: any of: installation/mastodon.conf
  docs-deploy: any of: docs/**/*
