Repository soapbox-pub/soapbox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deps, lint, docs-deploy

.gitlab-ci.yml:

image: node:20

variables:
  NODE_ENV: test
  DS_EXCLUDED_ANALYZERS: gemnasium-python

default:
  interruptible: true

cache: &cache
  key:
    files:
      - yarn.lock
  paths:
    - node_modules/
  policy: pull

stages:
  - deps
  - test
  - deploy
  - release

deps:
  stage: deps
  script: yarn install --ignore-scripts
  only:
    changes:
      - yarn.lock
  cache:
    <<: *cache
    policy: push

danger:
  stage: test
  script:
    # https://github.com/danger/danger-js/issues/1029#issuecomment-998915436
    - export CI_MERGE_REQUEST_IID=${CI_OPEN_MERGE_REQUESTS#*!}
    - npx danger ci
  except:
    variables:
      - $CI_DEFAULT_BRANCH == $CI_COMMIT_REF_NAME
  allow_failure: true

lint:
  stage: test
  script: yarn lint
  only:
    changes:
      - "**/*.js"
      - "**/*.jsx"
      - "**/*.cjs"
      - "**/*.mjs"
      - "**/*.ts"
      - "**/*.tsx"
      - "**/*.scss"
      - "**/*.css"
      - ".eslintignore"
      - ".eslintrc.cjs"
      - ".stylelintrc.json"

build:
  stage: test
  before_script:
    - apt-get update -y && apt-get install -y zip
  script:
    - yarn build
    - cp dist/index.html dist/404.html
    - cd dist && zip -r ../soapbox.zip . && cd ..
  variables:
    NODE_ENV: production
  artifacts:
    paths:
     - soapbox.zip

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
    - apk add curl
  script:
    - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline
  only:
    variables:
      - $CI_DEFAULT_BRANCH == $CI_COMMIT_REF_NAME
    changes:
      - "docs/**/*"

review:
  stage: deploy
  environment:
    name: review/$CI_COMMIT_REF_NAME
    url: https://$CI_COMMIT_REF_SLUG.git.soapbox.pub
  before_script:
    - apt-get update -y && apt-get install -y unzip
  script:
    - unzip soapbox.zip -d dist
    - npx -y surge dist $CI_COMMIT_REF_SLUG.git.soapbox.pub
  allow_failure: true

pages:
  stage: deploy
  before_script:
    - apt-get update -y && apt-get install -y unzip
  script:
    # artifacts are kept between jobs
    - unzip soapbox.zip -d public
  variables:
    NODE_ENV: production
  artifacts:
    paths:
    - public
  only:
    variables:
      - $CI_DEFAULT_BRANCH == $CI_COMMIT_REF_NAME

docker:
  stage: deploy
  image: docker:24.0.6
  services:
    - docker:24.0.6-dind
  tags:
    - dind
  # https://medium.com/devops-with-valentine/how-to-build-a-docker-image-and-push-it-to-the-gitlab-container-registry-from-a-gitlab-ci-pipeline-acac0d1f26df
  script:
    - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
    - docker build -t $CI_REGISTRY_IMAGE:$CI_COMMIT_TAG .
    - docker push $CI_REGISTRY_IMAGE:$CI_COMMIT_TAG
  rules:
    - if: $CI_COMMIT_TAG
  interruptible: false

release:
  stage: release
  rules:
    - if: $CI_COMMIT_TAG
  script:
    - npx ts-node ./scripts/do-release.ts
  interruptible: false

include:
  - template: Jobs/Dependency-Scanning.gitlab-ci.yml

Translated using Weblate (Italian)
  src/locales/it.json
Due: none

Translated using Weblate (Japanese)
  src/locales/ja.json
Due: none

Update translation files
  src/locales/ja.json
Due: none

Translated using Weblate (Polish)
  src/locales/pl.json
Due: none

Translated using Weblate (Arabic)
  src/locales/ar.json
Due: none

Translated using Weblate (Spanish)
  src/locales/es.json
Due: none

Translated using Weblate (Chinese (Simplified))
  src/locales/zh-CN.json
Due: none

feature-gate routes
  src/features/admin/tabs/dashboard.tsx
  src/features/ui/index.tsx
  src/utils/features.ts
Due: lint

Multitenancy support
  src/api/hooks/admin/index.ts
  src/api/hooks/admin/useCreateDomain.ts
  src/api/hooks/admin/useDeleteDomain.ts
  src/api/hooks/admin/useDomains.ts
  src/api/hooks/admin/useUpdateDomain.ts
  src/components/ui/hstack/hstack.tsx
  src/components/ui/stack/stack.tsx
  src/entity-store/entities.ts
  src/features/admin/domains.tsx
  src/features/admin/tabs/dashboard.tsx
  src/features/auth-login/components/registration-form.tsx
  src/features/ui/components/modal-root.tsx
  src/features/ui/components/modals/edit-domain-modal.tsx
  src/features/ui/index.tsx
  src/features/ui/util/async-components.ts
  src/locales/en.json
  src/schemas/domain.ts
  src/schemas/index.ts
  src/schemas/instance.ts
  src/utils/features.ts
Due: lint

Change message for empty bookmark folder
  src/features/bookmarks/index.tsx
  src/locales/en.json
Due: lint

EditIdentity: pull identifiers from Nostr
  src/features/edit-identity/index.tsx
Due: lint

EditIdentity: only pull current user's pubkey
  src/features/edit-identity/index.tsx
Due: lint

useNostrReq: deduplicate events with NSet
  src/features/nostr/hooks/useNostrReq.ts
  src/hooks/useForceUpdate.ts
Due: lint

Upgrade lexical to 1.14.2
  package.json
  yarn.lock
Due: deps

Feature-gate EditIdentity screen
  src/features/settings/index.tsx
  src/features/ui/index.tsx
Due: lint

Update docker Docker tag to v26
  .gitlab-ci.yml
Due: none

yarn i18n
  src/locales/en.json
Due: none
