Repository soapbox-pub/soapbox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deps, lint-js, lint-sass, jest, nginx-test, docs-deploy

deps:
  stage: deps
  script: yarn install --ignore-scripts
  cache:
    key:
      files:
      - yarn.lock
    paths:
    - node_modules/
    policy: push

lint-js:
  stage: test
  script: yarn lint:js

lint-sass:
  stage: test
  script: yarn lint:sass

jest:
  stage: test
  script: yarn test:coverage --runInBand
  coverage: /All files[^|]*\|[^|]*\s+([\d\.]+)/
  artifacts:
    reports:
      junit: junit.xml
      coverage_report:
        coverage_format: cobertura
        path: .coverage/cobertura-coverage.xml

nginx-test:
  stage: test
  image: nginx:latest
  before_script:
  - cp installation/mastodon.conf /etc/nginx/conf.d/default.conf
  script: nginx -t

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
  - apk add curl
  script:
  - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline

Bump CHANGELOG to v3.1
  CHANGELOG.md
Due: none

Remove features.scopes, move to a getScopes function
  app/soapbox/actions/auth.ts
  app/soapbox/actions/consumer-auth.ts
  app/soapbox/actions/external-auth.ts
  app/soapbox/utils/features.ts
  app/soapbox/utils/scopes.ts
Due: lint-js, jest

Correctly normalize singleUserModeProfile if it has an @
  app/soapbox/normalizers/soapbox/__tests__/soapbox-config.test.ts
  app/soapbox/normalizers/soapbox/soapbox-config.ts
Due: lint-js, jest

Add useRegistrationStatus hook
  app/soapbox/features/auth-layout/index.tsx
  app/soapbox/features/landing-page/index.tsx
  app/soapbox/features/public-layout/components/header.tsx
  app/soapbox/features/ui/components/cta-banner.tsx
  app/soapbox/features/ui/components/modals/landing-page-modal.tsx
  app/soapbox/features/ui/components/navbar.tsx
  app/soapbox/features/ui/components/panels/sign-up-panel.tsx
  app/soapbox/hooks/index.ts
  app/soapbox/hooks/useRegistrationStatus.ts
Due: lint-js, jest

Fix CHANGELOG
  CHANGELOG.md
Due: none

FeaturesPanel: add onChange event
  app/soapbox/features/features-panel/index.tsx
Due: lint-js, jest

FeaturesEditor: allow saving changes
  app/soapbox/features/admin/features-editor.tsx
  app/soapbox/features/developers/features-editor.tsx
  app/soapbox/features/features-panel/index.tsx
  app/soapbox/features/ui/index.tsx
  app/soapbox/features/ui/util/async-components.ts
  app/soapbox/normalizers/soapbox/soapbox-config.ts
Due: lint-js, jest

Translated using Weblate (Italian)
  app/soapbox/locales/it.json
Due: jest

Translated using Weblate (Arabic)
  app/soapbox/locales/ar.json
Due: jest

Added a translation using Weblate (Bosnian)
  app/soapbox/locales/bs.json
Due: jest

Fix UnauthorizedModal and Navbar
  app/soapbox/features/ui/components/modals/unauthorized-modal.tsx
  app/soapbox/features/ui/components/navbar.tsx
Due: lint-js, jest

soapbox.tsx: simplify pepeEnabled variable
  app/soapbox/containers/soapbox.tsx
Due: lint-js, jest

RedirectRoot: correctly upgrade singleUserModeProfile of a remote user
  app/soapbox/normalizers/soapbox/__tests__/soapbox-config.test.ts
  app/soapbox/normalizers/soapbox/soapbox-config.ts
Due: lint-js, jest

Add tests to components with signup CTAs
  app/soapbox/features/ui/components/__tests__/cta-banner.test.tsx
  app/soapbox/features/ui/components/__tests__/navbar.test.tsx
  app/soapbox/features/ui/components/modals/__tests__/landing-page-modal.test.tsx
  app/soapbox/features/ui/components/modals/__tests__/unauthorized-modal.test.tsx
  app/soapbox/features/ui/components/navbar.tsx
  app/soapbox/features/ui/components/panels/__tests__/sign-up-panel.test.tsx
  app/soapbox/features/ui/components/panels/sign-up-panel.tsx
  app/soapbox/hooks/__tests__/useRegistrationStatus.test.ts
Due: lint-js, jest

Refactor tests with mock stores
  app/soapbox/features/ui/components/__tests__/cta-banner.test.tsx
  app/soapbox/features/ui/components/__tests__/navbar.test.tsx
  app/soapbox/features/ui/components/modals/__tests__/landing-page-modal.test.tsx
  app/soapbox/features/ui/components/modals/__tests__/unauthorized-modal.test.tsx
  app/soapbox/features/ui/components/panels/__tests__/sign-up-panel.test.tsx
  app/soapbox/hooks/__tests__/useRegistrationStatus.test.ts
  app/soapbox/jest/mock-stores.tsx
Due: lint-js, jest

Test public layout header
  app/soapbox/features/public-layout/components/__tests__/header.test.tsx
  app/soapbox/features/public-layout/components/header.tsx
Due: lint-js, jest

SoapboxConfig: fix UX of homepage redirect input
  app/soapbox/features/soapbox-config/index.tsx
Due: lint-js, jest

Delete unnecessary placeholder locale
  app/soapbox/features/soapbox-config/index.tsx
  app/soapbox/locales/en.json
Due: lint-js, jest

RegistrationForm: add @ icon
  app/soapbox/features/auth-login/components/registration-form.tsx
Due: lint-js, jest

Translated using Weblate (Polish)
  app/soapbox/locales/pl.json
Due: jest

Translated using Weblate (Croatian)
  app/soapbox/locales/hr.json
Due: jest

Translated using Weblate (Bosnian)
  app/soapbox/locales/bs.json
Due: jest

Add Bosnian to language picker
  app/soapbox/features/preferences/index.tsx
  app/soapbox/locales/messages.ts
Due: lint-js, jest

license?
  app/soapbox/features/compose/editor/LICENSE
  app/soapbox/features/compose/editor/index.tsx
  app/soapbox/features/compose/editor/nodes.ts
  app/soapbox/features/compose/editor/plugins/floating-link-editor-plugin.tsx
  app/soapbox/features/compose/editor/plugins/floating-text-format-toolbar-plugin.tsx
  app/soapbox/features/compose/editor/plugins/link-plugin.tsx
  app/soapbox/features/compose/editor/utils/get-dom-range-rect.ts
  app/soapbox/features/compose/editor/utils/get-selected-node.ts
  app/soapbox/features/compose/editor/utils/set-floating-elem-position.ts
  app/soapbox/features/compose/editor/utils/url.ts
Due: lint-js, jest

Improvements for sensitive content overlay for too long posts
  app/soapbox/components/status-content.tsx
  app/soapbox/components/statuses/sensitive-content-overlay.tsx
Due: lint-js, jest

Translated using Weblate (Spanish)
  app/soapbox/locales/es.json
Due: jest

Setup react-router v5-v6 transitional package https://github.com/remix-run/react-router/discussions/8753
  app/soapbox/containers/soapbox.tsx
  package.json
  yarn.lock
Due: deps, lint-js, jest

Minor composer improvements
  CHANGELOG.md
  app/soapbox/components/modal-root.tsx
  app/soapbox/features/compose/components/reply-indicator.tsx
  app/soapbox/features/ui/components/modals/compose-modal.tsx
  app/soapbox/reducers/pending-statuses.ts
Due: lint-js, jest

Move external CSS imports to main.tsx
  app/soapbox/main.tsx
  app/styles/application.scss
Due: lint-js, lint-sass, jest

Update en.json
  app/soapbox/locales/en.json
Due: jest

Translated using Weblate (Breton)
  app/soapbox/locales/br.json
Due: jest

Update translation files
  app/soapbox/locales/br.json
Due: jest

Path conditions:
  deps: any of: yarn.lock
  lint-js: any of: **/*.js, **/*.jsx, **/*.ts, **/*.tsx, .eslintignore, .eslintrc.js
  lint-sass: any of: **/*.scss, **/*.css, .stylelintrc.json
  jest: any of: **/*.js, **/*.json, app/soapbox/**/*, webpack/**/*, custom/**/*, jest.config.js, package.json, yarn.lock, .gitlab-ci.yml
  nginx-test: any of: installation/mastodon.conf
  docs-deploy: any of: docs/**/*
