Repository soapbox-pub/soapbox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deps, lint-js, lint-sass, jest, nginx-test, docs-deploy

deps:
  stage: deps
  script: yarn install --ignore-scripts
  cache:
    key:
      files:
      - yarn.lock
    paths:
    - node_modules/
    policy: push

lint-js:
  stage: test
  script: yarn lint:js

lint-sass:
  stage: test
  script: yarn lint:sass

jest:
  stage: test
  script: yarn test:coverage --runInBand
  coverage: /All files[^|]*\|[^|]*\s+([\d\.]+)/
  artifacts:
    reports:
      junit: junit.xml
      coverage_report:
        coverage_format: cobertura
        path: .coverage/cobertura-coverage.xml

nginx-test:
  stage: test
  image: nginx:latest
  before_script:
  - cp installation/mastodon.conf /etc/nginx/conf.d/default.conf
  script: nginx -t

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
  - apk add curl
  script:
  - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline

Add followed tags list
  app/soapbox/features/followed_tags/index.tsx
  app/soapbox/reducers/followed_tags.ts
Due: lint-js, jest

Update changelog
  CHANGELOG.md
  app/soapbox/locales/en.json
Due: jest

Card: normalize with zod
  app/soapbox/normalizers/card.ts
  app/soapbox/normalizers/index.ts
  app/soapbox/normalizers/soapbox/ad.ts
  app/soapbox/normalizers/status.ts
  app/soapbox/schemas/card.ts
  app/soapbox/schemas/index.ts
  app/soapbox/types/entities.ts
Due: lint-js, jest

Refactor ad providers to not use normalizeCard
  app/soapbox/features/ads/providers/index.ts
  app/soapbox/features/ads/providers/rumble.ts
  app/soapbox/features/ads/providers/truth.ts
Due: lint-js, jest

Remove normalizeAd
  app/soapbox/actions/importer/index.ts
  app/soapbox/features/group/components/__tests__/group-action-button.test.tsx
  app/soapbox/features/group/components/__tests__/group-options-button.test.tsx
  app/soapbox/jest/factory.ts
  app/soapbox/normalizers/index.ts
  app/soapbox/normalizers/soapbox/ad.ts
  app/soapbox/normalizers/soapbox/soapbox-config.ts
  app/soapbox/queries/ads.ts
  app/soapbox/schemas/account.ts
  app/soapbox/schemas/group.ts
  app/soapbox/schemas/index.ts
  app/soapbox/schemas/soapbox/ad.ts
  app/soapbox/schemas/utils.ts
  app/soapbox/types/soapbox.ts
  app/soapbox/utils/__tests__/ads.test.ts
  app/soapbox/utils/ads.ts
Due: lint-js, jest

Remove normalizeCard()
  app/soapbox/normalizers/__tests__/card.test.ts
  app/soapbox/normalizers/__tests__/status.test.ts
  app/soapbox/normalizers/card.ts
  app/soapbox/normalizers/index.ts
  app/soapbox/schemas/__tests__/card.test.ts
Due: lint-js, jest

Normalize Relationship with zod
  app/soapbox/actions/__tests__/account-notes.test.ts
  app/soapbox/actions/__tests__/accounts.test.ts
  app/soapbox/features/ui/components/__tests__/subscribe-button.test.tsx
  app/soapbox/jest/factory.ts
  app/soapbox/normalizers/index.ts
  app/soapbox/normalizers/relationship.ts
  app/soapbox/queries/__tests__/chats.test.ts
  app/soapbox/queries/__tests__/relationships.test.ts
  app/soapbox/reducers/relationships.ts
  app/soapbox/schemas/relationship.ts
  app/soapbox/types/entities.ts
Due: lint-js, jest

Convert EmojiReaction to zod
  app/soapbox/features/chats/components/__tests__/chat-message-reaction.test.tsx
  app/soapbox/features/chats/components/chat-message.tsx
  app/soapbox/normalizers/chat-message.ts
  app/soapbox/normalizers/emoji-reaction.ts
  app/soapbox/normalizers/index.ts
  app/soapbox/queries/__tests__/chats.test.ts
  app/soapbox/schemas/emoji-reaction.ts
  app/soapbox/schemas/index.ts
  app/soapbox/types/entities.ts
  app/soapbox/utils/features.ts
Due: lint-js, jest

cardSchema: drop card.pleroma from transformed type
  app/soapbox/schemas/card.ts
Due: lint-js, jest

Translated using Weblate (Chinese (Simplified))
  app/soapbox/locales/zh-CN.json
Due: jest

Update translation files
  app/soapbox/locales/no.json
  app/soapbox/locales/tr.json
  app/soapbox/locales/zh-CN.json
Due: jest

Translated using Weblate (Korean)
  app/soapbox/locales/ko.json
Due: jest

Translated using Weblate (Polish)
  app/soapbox/locales/pl.json
Due: jest

Translated using Weblate (Norwegian Bokmål)
  app/soapbox/locales/no.json
Due: jest

chore(deps): update dependency storybook-react-intl to v2
  package.json
  yarn.lock
Due: deps, jest

Add ability for owners to delete statuses from Group
  app/soapbox/actions/groups.ts
  app/soapbox/api/hooks/groups/useDeleteGroupStatus.ts
  app/soapbox/components/dropdown-menu/dropdown-menu-item.tsx
  app/soapbox/components/status-action-bar.tsx
  app/soapbox/locales/en.json
Due: lint-js, jest

Fix normalizeChatMessageEmojiReaction
  app/soapbox/normalizers/chat-message.ts
Due: lint-js, jest

Fix alignment on ThreadConnector
  app/soapbox/features/feed-filtering/feed-carousel.tsx
  app/soapbox/features/placeholder/components/placeholder-avatar.tsx
  app/soapbox/features/placeholder/components/placeholder-status.tsx
  app/soapbox/features/status/components/thread-status.tsx
Due: lint-js, jest

i18n
  app/soapbox/locales/en.json
Due: jest

Normalize poll with zod
  app/soapbox/components/polls/__tests__/poll-footer.test.tsx
  app/soapbox/components/polls/poll-footer.tsx
  app/soapbox/components/polls/poll-option.tsx
  app/soapbox/normalizers/__tests__/poll.test.ts
  app/soapbox/normalizers/__tests__/status.test.ts
  app/soapbox/normalizers/index.ts
  app/soapbox/normalizers/poll.ts
  app/soapbox/normalizers/status-edit.ts
  app/soapbox/normalizers/status.ts
  app/soapbox/reducers/__tests__/polls.test.ts
  app/soapbox/reducers/statuses.ts
  app/soapbox/schemas/__tests__/poll.test.ts
  app/soapbox/schemas/account.ts
  app/soapbox/schemas/index.ts
  app/soapbox/schemas/poll.ts
  app/soapbox/schemas/soapbox/ad.ts
  app/soapbox/types/entities.ts
Due: lint-js, jest

Improve Group UX
  app/soapbox/api/hooks/groups/useGroupMembershipRequests.ts
  app/soapbox/components/authorize-reject-buttons.tsx
  app/soapbox/features/group/group-membership-requests.tsx
  app/soapbox/features/group/manage-group.tsx
  app/soapbox/features/ui/components/group-media-panel.tsx
  app/soapbox/features/ui/components/modals/manage-group-modal/steps/confirmation-step.tsx
  app/soapbox/locales/en.json
Due: lint-js, jest

Add tagSchema
  app/soapbox/schemas/index.ts
  app/soapbox/schemas/tag.ts
Due: lint-js, jest

Vite: use babel
  vite.config.ts
Due: lint-js

DetailedStatus: remove timestamp from account
  app/soapbox/features/status/components/detailed-status.tsx
Due: lint-js, jest

InteractionCounter: use neutral colors
  app/soapbox/features/status/components/status-interaction-bar.tsx
Due: lint-js, jest

d
  app/soapbox/features/group/group-membership-requests.tsx
  app/soapbox/locales/en.json
Due: lint-js, jest

Remove search term after navigating away from Search page
  app/soapbox/features/compose/components/search.tsx
Due: lint-js, jest

Remove group search inside global search
  app/soapbox/actions/search.ts
  app/soapbox/containers/group-container.tsx
  app/soapbox/features/compose/components/search-results.tsx
Due: lint-js, jest

Add notificationSchema
  app/soapbox/schemas/chat-message.ts
  app/soapbox/schemas/emoji-reaction.ts
  app/soapbox/schemas/notification.ts
  app/soapbox/schemas/utils.ts
Due: lint-js, jest

Add attachmentSchema
  app/soapbox/schemas/attachment.ts
Due: lint-js, jest

Add real chatMessageSchema
  app/soapbox/schemas/chat-message.ts
  app/soapbox/schemas/tag.ts
Due: lint-js, jest

Add contentSchema helper
  app/soapbox/schemas/account.ts
  app/soapbox/schemas/chat-message.ts
  app/soapbox/schemas/utils.ts
Due: lint-js, jest

useGroupMedia: don't use statusSchema directly yet so we can change it
  app/soapbox/api/hooks/groups/useGroupMedia.ts
Due: lint-js, jest

Add a real statusSchema
  app/soapbox/schemas/mention.ts
  app/soapbox/schemas/status.ts
  app/soapbox/schemas/utils.ts
Due: lint-js, jest

Export new schemas
  app/soapbox/schemas/account.ts
  app/soapbox/schemas/custom-emoji.ts
  app/soapbox/schemas/emoji-reaction.ts
  app/soapbox/schemas/group-member.ts
  app/soapbox/schemas/group-relationship.ts
  app/soapbox/schemas/index.ts
Due: lint-js, jest

Hide relationship in BirthdayPanel
  app/soapbox/components/birthday-panel.tsx
Due: lint-js, jest

Path conditions:
  deps: any of: yarn.lock
  lint-js: any of: **/*.js, **/*.jsx, **/*.ts, **/*.tsx, .eslintignore, .eslintrc.js
  lint-sass: any of: **/*.scss, **/*.css, .stylelintrc.json
  jest: any of: **/*.js, **/*.json, app/soapbox/**/*, webpack/**/*, custom/**/*, jest.config.js, package.json, yarn.lock, .gitlab-ci.yml
  nginx-test: any of: installation/mastodon.conf
  docs-deploy: any of: docs/**/*
