Repository soapbox-pub/soapbox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deps, lint-js, lint-sass, jest, nginx-test, docs-deploy

deps:
  stage: deps
  script: yarn install --ignore-scripts
  cache:
    key:
      files:
      - yarn.lock
    paths:
    - node_modules/
    policy: push

lint-js:
  stage: test
  script: yarn lint:js

lint-sass:
  stage: test
  script: yarn lint:sass

jest:
  stage: test
  script: yarn test:coverage --runInBand
  coverage: /All files[^|]*\|[^|]*\s+([\d\.]+)/
  artifacts:
    reports:
      junit: junit.xml
      coverage_report:
        coverage_format: cobertura
        path: .coverage/cobertura-coverage.xml

nginx-test:
  stage: test
  image: nginx:latest
  before_script:
  - cp installation/mastodon.conf /etc/nginx/conf.d/default.conf
  script: nginx -t

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
  - apk add curl
  script:
  - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline

Translated using Weblate (Spanish)
  app/soapbox/locales/es.json
Due: jest

Translated using Weblate (German)
  app/soapbox/locales/de.json
Due: jest

Move chat attachments into the chat composer
  app/soapbox/components/ui/textarea/textarea.tsx
  app/soapbox/features/chats/components/chat-composer.tsx
  app/soapbox/features/chats/components/chat-textarea.tsx
  app/soapbox/features/chats/components/chat.tsx
Due: lint-js, jest

Add 'Repost event' to menu
  CHANGELOG.md
  app/soapbox/features/event/components/event-header.tsx
Due: lint-js, jest

Fix external login scopes
  app/soapbox/actions/external-auth.ts
  app/soapbox/utils/scopes.ts
Due: lint-js, jest

Update en.json
  app/soapbox/locales/en.json
Due: jest

Add icon to 'Translate' button
  app/soapbox/components/translate-button.tsx
Due: lint-js, jest

Translated using Weblate (Chinese (Simplified))
  app/soapbox/locales/zh-CN.json
Due: jest

Move chat attachments into composer
  app/soapbox/features/chats/components/chat-composer.tsx
  app/soapbox/features/chats/components/chat-textarea.tsx
  app/soapbox/features/chats/components/chat-upload.tsx
  app/soapbox/features/chats/components/chat.tsx
Due: lint-js, jest

Upgrade Virtuoso to v4.0.6
  package.json
  yarn.lock
Due: deps, jest

Fix React 17 jsx-runtime module resolution bug
  webpack/shared.ts
Due: lint-js, jest

responsive follow request view using iconbutton
  CHANGELOG.md
  app/soapbox/features/follow-requests/components/account-authorize.tsx
Due: lint-js, jest

Add outline to translate button
  app/soapbox/components/translate-button.tsx
Due: lint-js, jest

Apply 1 suggestion(s) to 1 file(s)
  app/soapbox/components/translate-button.tsx
Due: lint-js, jest

Translated using Weblate (Galician)
  app/soapbox/locales/gl.json
Due: jest

Translated using Weblate (Georgian)
  app/soapbox/locales/ka.json
Due: jest

Increase font size of focused status in threads
  CHANGELOG.md
  app/soapbox/components/status-content.tsx
  app/soapbox/features/status/components/detailed-status.tsx
Due: lint-js, jest

Update translation key
  app/soapbox/actions/groups.ts
Due: lint-js, jest

Update en.json
  app/soapbox/components/account.tsx
  app/soapbox/locales/en.json
Due: lint-js, jest

Translated using Weblate (Italian)
  app/soapbox/locales/it.json
Due: jest

small ui fixes inside report admin page
  app/soapbox/features/admin/components/report.tsx
  app/soapbox/locales/en.json
Due: lint-js, jest

updated: inside AccountAuthorize component, class names are success|danger now
  app/soapbox/features/follow-requests/components/account-authorize.tsx
Due: lint-js, jest

Switch back to using account-container in notification list
  app/soapbox/features/notifications/components/notification.tsx
Due: lint-js, jest

Fix pointless relationships conditional
  app/soapbox/reducers/relationships.ts
Due: lint-js, jest

Add 'key' to Link to fix react console error
  app/soapbox/components/status-reply-mentions.tsx
Due: lint-js, jest

Path conditions:
  deps: any of: yarn.lock
  lint-js: any of: **/*.js, **/*.jsx, **/*.ts, **/*.tsx, .eslintignore, .eslintrc.js
  lint-sass: any of: **/*.scss, **/*.css, .stylelintrc.json
  jest: any of: **/*.js, **/*.json, app/soapbox/**/*, webpack/**/*, custom/**/*, jest.config.js, package.json, yarn.lock, .gitlab-ci.yml
  nginx-test: any of: installation/mastodon.conf
  docs-deploy: any of: docs/**/*
