Repository soapbox-pub/soapbox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deps, lint-js, lint-sass, jest, nginx-test, docs-deploy

.gitlab-ci.yml:

image: node:20

variables:
  NODE_ENV: test

default:
  interruptible: true

cache: &cache
  key:
    files:
      - yarn.lock
  paths:
    - node_modules/
  policy: pull

stages:
  - deps
  - test
  - deploy
  - release

deps:
  stage: deps
  script: yarn install --ignore-scripts
  only:
    changes:
      - yarn.lock
  cache:
    <<: *cache
    policy: push

danger:
  stage: test
  script:
    # https://github.com/danger/danger-js/issues/1029#issuecomment-998915436
    - export CI_MERGE_REQUEST_IID=${CI_OPEN_MERGE_REQUESTS#*!}
    - npx danger ci
  except:
    variables:
      - $CI_DEFAULT_BRANCH == $CI_COMMIT_REF_NAME
  allow_failure: true

lint-js:
  stage: test
  script: yarn lint:js
  only:
    changes:
      - "**/*.js"
      - "**/*.jsx"
      - "**/*.cjs"
      - "**/*.mjs"
      - "**/*.ts"
      - "**/*.tsx"
      - ".eslintignore"
      - ".eslintrc.cjs"

lint-sass:
  stage: test
  script: yarn lint:sass
  only:
    changes:
      - "**/*.scss"
      - "**/*.css"
      - ".stylelintrc.json"

jest:
  stage: test
  script: yarn test:coverage --runInBand
  only:
    changes:
      - "**/*.js"
      - "**/*.json"
      - "app/soapbox/**/*"
      - "webpack/**/*"
      - "custom/**/*"
      - "jest.config.cjs"
      - "package.json"
      - "yarn.lock"
      - ".gitlab-ci.yml"
  coverage: /All files[^|]*\|[^|]*\s+([\d\.]+)/
  artifacts:
    reports:
      junit: junit.xml
      coverage_report:
        coverage_format: cobertura
        path: .coverage/cobertura-coverage.xml

nginx-test:
  stage: test
  image: nginx:latest
  before_script:
    - cp installation/mastodon.conf /etc/nginx/conf.d/default.conf
  script: nginx -t
  only:
    changes:
      - "installation/mastodon.conf"

build-production:
  stage: test
  script:
    - yarn build
    - yarn manage:translations en
    # Fail if files got changed.
    # https://stackoverflow.com/a/9066385
    - git diff --quiet
  variables:
    NODE_ENV: production
  artifacts:
    paths:
     - static

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
    - apk add curl
  script:
    - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline
  only:
    variables:
      - $CI_DEFAULT_BRANCH == $CI_COMMIT_REF_NAME
    changes:
      - "docs/**/*"

review:
  stage: deploy
  environment:
    name: review/$CI_COMMIT_REF_NAME
    url: https://$CI_COMMIT_REF_SLUG.git.soapbox.pub
  script:
    - npx -y surge static $CI_COMMIT_REF_SLUG.git.soapbox.pub
  allow_failure: true

pages:
  stage: deploy
  before_script: []
  script:
    # artifacts are kept between jobs
    - mv static public
  variables:
    NODE_ENV: production
  artifacts:
    paths:
    - public
  only:
    variables:
      - $CI_DEFAULT_BRANCH == $CI_COMMIT_REF_NAME

docker:
  stage: deploy
  image: docker:23.0.0
  services:
    - docker:23.0.0-dind
  tags:
    - dind
  # https://medium.com/devops-with-valentine/how-to-build-a-docker-image-and-push-it-to-the-gitlab-container-registry-from-a-gitlab-ci-pipeline-acac0d1f26df
  script:
    - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
    - docker build -t $CI_REGISTRY_IMAGE:$CI_COMMIT_TAG .
    - docker push $CI_REGISTRY_IMAGE:$CI_COMMIT_TAG
  rules:
    - if: $CI_COMMIT_TAG
  interruptible: false

release:
  stage: release
  rules:
    - if: $CI_COMMIT_TAG
  script:
    - npx ts-node ./scripts/do-release.ts
  interruptible: false

include:
  - template: Jobs/Dependency-Scanning.gitlab-ci.yml
  - template: Security/License-Scanning.gitlab-ci.yml

Update en.json
  app/soapbox/locales/en.json
Due: jest

Dont override cached key/value pairs if new value is undefined
  app/soapbox/entity-store/utils.ts
Due: lint-js, jest

Remove storybook
  .storybook/main.ts
  .storybook/preview.tsx
  package.json
  stories/Button.stories.tsx
  stories/Header.stories.tsx
  stories/Header.tsx
  stories/Introduction.stories.mdx
  stories/Page.stories.tsx
  stories/Page.tsx
  stories/assets/code-brackets.svg
  stories/assets/colors.svg
  stories/assets/comments.svg
  stories/assets/direction.svg
  stories/assets/flow.svg
  stories/assets/plugin.svg
  stories/assets/repo.svg
  stories/assets/stackalt.svg
  stories/header.css
  stories/page.css
  stories/theme.css
  yarn.lock
Due: deps, lint-js, lint-sass, jest

Remove legacy accounts reducer
  app/soapbox/actions/accounts.ts
  app/soapbox/actions/admin.ts
  app/soapbox/actions/auth.ts
  app/soapbox/actions/compose.ts
  app/soapbox/actions/domain-blocks.ts
  app/soapbox/actions/instance.ts
  app/soapbox/actions/lists.ts
  app/soapbox/actions/me.ts
  app/soapbox/actions/moderation.tsx
  app/soapbox/api/index.ts
  app/soapbox/features/admin/components/latest-accounts-panel.tsx
  app/soapbox/features/compose/components/reply-mentions.tsx
  app/soapbox/features/compose/components/search-results.tsx
  app/soapbox/features/compose/containers/warning-container.tsx
  app/soapbox/features/conversations/components/conversation.tsx
  app/soapbox/features/pinned-statuses/index.tsx
  app/soapbox/features/ui/components/modals/media-modal.tsx
  app/soapbox/features/ui/components/modals/reply-mentions-modal.tsx
  app/soapbox/features/ui/components/modals/unauthorized-modal.tsx
  app/soapbox/reducers/__tests__/accounts.test.ts
  app/soapbox/reducers/__tests__/index.test.ts
  app/soapbox/reducers/index.ts
  app/soapbox/selectors/index.ts
  app/soapbox/utils/auth.ts
  app/soapbox/utils/state.ts
Due: lint-js, jest

useEntity: don't refetch when there's an error
  app/soapbox/entity-store/hooks/useEntity.ts
Due: lint-js, jest

Remove errors middleware
  CHANGELOG.md
  app/soapbox/middleware/errors.ts
  app/soapbox/store.ts
Due: lint-js, jest

fix(deps): update dependency @types/react-motion to ^0.0.34
  package.json
  yarn.lock
Due: deps, jest

chore(deps): update dependency eslint-plugin-jsdoc to v46
  package.json
  yarn.lock
Due: deps, jest

useAccount: memoize the account
  app/soapbox/api/hooks/accounts/useAccount.ts
Due: lint-js, jest

Remove intermittently failing test
  app/soapbox/features/ui/__tests__/index.test.tsx
Due: lint-js, jest

Comment out failing feed-carousel test
  app/soapbox/features/feed-filtering/__tests__/feed-carousel.test.tsx
Due: lint-js, jest

chore(deps): update dependency stylelint-config-standard-scss to v10
  package.json
  yarn.lock
Due: deps, jest

WIP image upload, this needs cleanup
  app/soapbox/actions/compose.ts
  app/soapbox/components/markup.css
  app/soapbox/features/compose/components/upload-button.tsx
  app/soapbox/features/compose/editor/nodes/index.ts
  app/soapbox/features/compose/editor/plugins/floating-block-type-toolbar-plugin.tsx
Due: lint-js, lint-sass, jest

Add preliminary settings schema
  app/soapbox/locales/messages.ts
  app/soapbox/schemas/soapbox/settings.ts
Due: lint-js, jest

Composer: fix emoji dropdown not working
  app/soapbox/actions/compose.ts
Due: lint-js, jest

Fix page crash when switching accounts
  app/soapbox/reducers/auth.ts
Due: lint-js, jest

Add useSuggest hook https://gitlab.com/soapbox-pub/soapbox/-/issues/1483
  app/soapbox/actions/admin.ts
  app/soapbox/api/hooks/admin/useSuggest.ts
  app/soapbox/entity-store/hooks/useEntityLookup.ts
  app/soapbox/entity-store/selectors.ts
  app/soapbox/features/ui/components/modals/account-moderation-modal/account-moderation-modal.tsx
  app/soapbox/reducers/accounts.ts
Due: lint-js, jest

Add useVerify hook
  app/soapbox/actions/admin.ts
  app/soapbox/api/hooks/admin/useVerify.ts
  app/soapbox/features/ui/components/modals/account-moderation-modal/account-moderation-modal.tsx
Due: lint-js, jest

Export admin API hooks from an index.ts
  app/soapbox/api/hooks/admin/index.ts
  app/soapbox/features/ui/components/modals/account-moderation-modal/account-moderation-modal.tsx
Due: lint-js, jest

suggest and verify by account IDs, simplify hooks
  app/soapbox/actions/admin.ts
  app/soapbox/api/hooks/admin/useSuggest.ts
  app/soapbox/api/hooks/admin/useVerify.ts
  app/soapbox/features/ui/components/modals/account-moderation-modal/account-moderation-modal.tsx
  app/soapbox/selectors/index.ts
Due: lint-js, jest

Fix auth test
  app/soapbox/reducers/__tests__/auth.test.ts
Due: lint-js, jest

Add uploadFile function, allow uploading images in Lexical
  app/soapbox/actions/compose.ts
  app/soapbox/actions/events.ts
  app/soapbox/actions/media.ts
  app/soapbox/features/compose/editor/nodes/image-component.tsx
  app/soapbox/features/compose/editor/nodes/image-node.tsx
  app/soapbox/features/compose/editor/plugins/floating-block-type-toolbar-plugin.tsx
Due: lint-js, jest

Add mx-auto to imgs in posts
  app/soapbox/components/markup.css
Due: lint-sass, jest

Delete image button
  app/soapbox/features/compose/editor/index.tsx
  app/soapbox/features/compose/editor/nodes/image-component.tsx
  app/soapbox/features/compose/editor/nodes/image-node.tsx
  app/soapbox/features/compose/editor/plugins/floating-block-type-toolbar-plugin.tsx
Due: lint-js, jest

Rename Calckey to Firefish
  app/soapbox/utils/features.ts
Due: lint-js, jest

Update changelog
  CHANGELOG.md
Due: none

Lexical: Use selectAccount selector
  app/soapbox/features/compose/editor/plugins/autosuggest-plugin.tsx
Due: lint-js, jest

Lexical: Fix autofocus
  app/soapbox/features/compose/editor/index.tsx
  app/soapbox/features/compose/editor/nodes/image-component.tsx
  app/soapbox/features/compose/editor/plugins/focus-plugin.tsx
  app/soapbox/features/ui/components/modals/compose-modal.tsx
Due: lint-js, jest

Add Streaming hooks
  app/soapbox/actions/streaming.ts
  app/soapbox/api/hooks/index.ts
  app/soapbox/api/hooks/streaming/useNostrStream.ts
  app/soapbox/api/hooks/streaming/useTimelineStream.ts
  app/soapbox/api/hooks/streaming/useUserStream.ts
  app/soapbox/features/ui/index.tsx
Due: lint-js, jest

Streaming: remove unused code
  app/soapbox/actions/streaming.ts
Due: lint-js, jest

Add useCommunityStream hook, refresh socket when timelineId or path changes
  app/soapbox/actions/streaming.ts
  app/soapbox/api/hooks/index.ts
  app/soapbox/api/hooks/streaming/useCommunityStream.ts
  app/soapbox/api/hooks/streaming/useTimelineStream.ts
  app/soapbox/features/community-timeline/index.tsx
Due: lint-js, jest

Add usePublicStream hook
  app/soapbox/actions/streaming.ts
  app/soapbox/api/hooks/index.ts
  app/soapbox/api/hooks/streaming/usePublicStream.ts
  app/soapbox/features/public-timeline/index.tsx
Due: lint-js, jest

Add useRemoteStream hook
  app/soapbox/actions/streaming.ts
  app/soapbox/api/hooks/index.ts
  app/soapbox/api/hooks/streaming/useRemoteStream.ts
  app/soapbox/features/remote-timeline/index.tsx
Due: lint-js, jest

Add useDirectStream hook
  app/soapbox/actions/streaming.ts
  app/soapbox/api/hooks/index.ts
  app/soapbox/api/hooks/streaming/useDirectStream.ts
  app/soapbox/features/conversations/index.tsx
  app/soapbox/features/direct-timeline/index.tsx
Due: lint-js, jest

Add useListStream hook
  app/soapbox/actions/streaming.ts
  app/soapbox/api/hooks/index.ts
  app/soapbox/api/hooks/streaming/useListStream.ts
  app/soapbox/features/list-timeline/index.tsx
Due: lint-js, jest

Add useGroupStream hook
  app/soapbox/actions/streaming.ts
  app/soapbox/api/hooks/index.ts
  app/soapbox/api/hooks/streaming/useGroupStream.ts
  app/soapbox/features/group/group-timeline.tsx
Due: lint-js, jest

Add useHashtagStream hook, clean up hashtags timeline (remove unused code for fetching multiple hashtags)
  app/soapbox/actions/streaming.ts
  app/soapbox/api/hooks/index.ts
  app/soapbox/api/hooks/streaming/useHashtagStream.ts
  app/soapbox/features/hashtag-timeline/index.tsx
Due: lint-js, jest

Streaming: allow connecting if not logged in, gate certain topics
  app/soapbox/api/hooks/streaming/useDirectStream.ts
  app/soapbox/api/hooks/streaming/useListStream.ts
  app/soapbox/api/hooks/streaming/useNostrStream.ts
  app/soapbox/api/hooks/streaming/useTimelineStream.ts
  app/soapbox/api/hooks/streaming/useUserStream.ts
Due: lint-js, jest

yarn i18n
  app/soapbox/locales/en.json
Due: jest

Fix streaming follow update Fixes https://gitlab.com/soapbox-pub/soapbox/-/issues/1469
  app/soapbox/actions/streaming.ts
  app/soapbox/entity-store/hooks/useEntity.ts
  app/soapbox/entity-store/selectors.ts
  app/soapbox/reducers/relationships.ts
Due: lint-js, jest
