Repository soapbox-pub/soapbox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deps, lint, docs-deploy

.gitlab-ci.yml:

image: node:21

variables:
  NODE_ENV: test
  DS_EXCLUDED_ANALYZERS: gemnasium-python

default:
  interruptible: true

cache: &cache
  key:
    files:
      - yarn.lock
  paths:
    - node_modules/
  policy: pull

stages:
  - deps
  - test
  - deploy
  - release

deps:
  stage: deps
  script: yarn install --ignore-scripts
  only:
    changes:
      - yarn.lock
  cache:
    <<: *cache
    policy: push

lint:
  stage: test
  script: yarn lint
  only:
    changes:
      - "**/*.js"
      - "**/*.jsx"
      - "**/*.cjs"
      - "**/*.mjs"
      - "**/*.ts"
      - "**/*.tsx"
      - "**/*.scss"
      - "**/*.css"
      - ".eslintignore"
      - ".eslintrc.json"
      - ".stylelintrc.json"

build:
  stage: test
  before_script:
    - apt-get update -y && apt-get install -y zip
  script:
    - yarn build
    - cp dist/index.html dist/404.html
    - cd dist && zip -r ../soapbox.zip . && cd ..
  variables:
    NODE_ENV: production
  artifacts:
    paths:
     - soapbox.zip

i18n:
  stage: test
  script:
    - yarn i18n
    - git diff --quiet || (echo "Locale files are out of date. Please run `yarn i18n`" && exit 1)

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
    - apk add curl
  script:
    - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline
  only:
    variables:
      - $CI_DEFAULT_BRANCH == $CI_COMMIT_REF_NAME
    changes:
      - "docs/**/*"

review:
  stage: deploy
  environment:
    name: review/$CI_COMMIT_REF_NAME
    url: https://$CI_COMMIT_REF_SLUG.git.soapbox.pub
  before_script:
    - apt-get update -y && apt-get install -y unzip
  script:
    - unzip soapbox.zip -d dist
    - npx -y surge dist $CI_COMMIT_REF_SLUG.git.soapbox.pub
  allow_failure: true

pages:
  stage: deploy
  before_script:
    - apt-get update -y && apt-get install -y unzip
  script:
    # artifacts are kept between jobs
    - unzip soapbox.zip -d public
  variables:
    NODE_ENV: production
  artifacts:
    paths:
    - public
  only:
    variables:
      - $CI_DEFAULT_BRANCH == $CI_COMMIT_REF_NAME

docker:
  stage: deploy
  image: docker:26.1.2
  services:
    - docker:26.1.2-dind
  tags:
    - dind
  # https://medium.com/devops-with-valentine/how-to-build-a-docker-image-and-push-it-to-the-gitlab-container-registry-from-a-gitlab-ci-pipeline-acac0d1f26df
  script:
    - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
    - docker build -t $CI_REGISTRY_IMAGE:$CI_COMMIT_TAG .
    - docker push $CI_REGISTRY_IMAGE:$CI_COMMIT_TAG
  rules:
    - if: $CI_COMMIT_TAG
  interruptible: false

release:
  stage: release
  rules:
    - if: $CI_COMMIT_TAG
  script:
    - npx tsx ./scripts/do-release.ts
  interruptible: false

include:
  - template: Jobs/Dependency-Scanning.gitlab-ci.yml

Created new component "AddNewAccount"
  src/features/ui/components/new-account-zap-split.tsx
Due: lint

Created new component "ZapSplitSlider"
  src/features/zap/components/zap-split-account-item.tsx
Due: lint

Rst
  src/schemas/zap-split.ts
Due: lint

Clean "ListItem" of manage-zap-split
  src/features/admin/manage-zap-split.tsx
Due: lint

Change svg icon
  src/features/zap/components/zap-pay-request-form.tsx
Due: lint

Delete unnecessary items
  src/assets/icons/questionIcon.svg
  src/assets/icons/questionIconDark.svg
  src/features/zap/components/zap-button/useZapButtonStyles.ts
Due: lint

Unnecessary extra line
  src/features/ui/components/modals/zap-invoice.tsx
Due: lint

Refactor: Move and add comments to display-name-row component
  src/features/ui/components/modals/zap-split/display-name-row.tsx
Due: lint

Refactor: Add comments to useZapSplit
  src/api/hooks/zap-split/useZapSplit.ts
Due: lint

"Making zap-split editable"
  src/features/ui/components/modals/zap-split/zap-split.tsx
Due: lint

Chore: Remove unnecessary line
  src/features/ui/components/modals/zap-split/display-name-row.tsx
Due: lint

"Pipeline"
  src/locales/en.json
Due: none

Change the width of account in zap split modal
  src/features/ui/components/modals/zap-split/zap-split.tsx
  src/features/zap/components/zap-pay-request-form.tsx
Due: lint

Fix: Adjust title size
  src/features/ui/components/modals/zap-split/zap-split.tsx
Due: lint

Add new messages
  src/locales/en.json
Due: none

Update: Add toast messages in requests
  src/api/hooks/admin/useManageZapSplit.ts
Due: lint

chore: remove unnecessary console.log
  src/features/admin/manage-zap-split.tsx
Due: lint

Update timelines to use public routes
  src/features/ui/index.tsx
Due: lint

Upgrade TypeScript to v5.6
  .vscode/settings.json
  package.json
  src/features/emoji/search.ts
  src/features/nostr/NKeyStorage.ts
  src/normalizers/chat.ts
  yarn.lock
Due: deps, lint

Add 'toast' for fail request
  src/api/hooks/admin/useManageZapSplit.ts
Due: lint

Enable editing of zap split messages
  src/api/hooks/admin/useManageZapSplit.ts
  src/features/admin/manage-zap-split.tsx
Due: lint

Update: add new message
  src/locales/en.json
Due: none

Create manage-zap-split page
  src/features/ui/index.tsx
  src/pages/manage-zap-split-page.tsx
Due: lint

Resize new-account-zap-split
  src/features/ui/components/new-account-zap-split.tsx
Due: lint

Update: Add TSDoc comments
  src/api/hooks/admin/useManageZapSplit.ts
  src/features/admin/manage-zap-split.tsx
Due: lint

Update translation files
  src/locales/pt-BR.json
Due: none

Remove Babel
  babel.config.cjs
  package.json
  vite.config.ts
  yarn.lock
Due: deps, lint

npx yarn-deduplicate
  yarn.lock
Due: deps

Remove npm_execpath from package.json scripts, remove unused scripts
  package.json
Due: none

Upgrate vite to v5.4
  package.json
  yarn.lock
Due: deps

Fix type errors in tests
  src/features/ui/components/modals/landing-page-modal.test.tsx
  src/features/ui/components/modals/unauthorized-modal.test.tsx
Due: lint

Fix: Some instances have identical IDs.
  src/api/hooks/zap-split/useZapSplit.ts
Due: lint

Use Zap Split schema for parsing and validation
  src/api/hooks/zap-split/useZapSplit.ts
Due: lint

Upgrade React to v18.3
  package.json
  src/components/site-error-boundary.tsx
  src/components/ui/column/column.tsx
  src/features/ui/components/modal-root.tsx
  src/features/ui/util/react-router-helpers.tsx
  yarn.lock
Due: deps, lint

Remove unused / unneeded dependencies
  package.json
  src/actions/chats.ts
  src/actions/settings.ts
  src/components/list.tsx
  src/components/modal-root.tsx
  src/components/ui/form-group/form-group.tsx
  src/components/ui/radio-button/radio-button.tsx
  src/features/auth-login/components/registration-form.tsx
  src/features/forms/index.tsx
  src/features/theme-editor/index.tsx
  src/jest/factory.ts
  src/main.tsx
  src/polyfills.ts
  src/reducers/compose.ts
  yarn.lock
Due: deps, lint

Remove react-popper
  package.json
  src/components/profile-hover-card.tsx
  src/components/status-hover-card.tsx
  yarn.lock
Due: deps, lint

Upgrade lexical to v18
  package.json
  yarn.lock
Due: deps

manifest.json -> manifest.webmanifest
  index.html
  installation/docker.conf.template
  installation/mastodon.conf
  vite.config.ts
Due: lint

Created LanguageDropdown component
  src/components/ui/language-dropdown/language-dropdown.tsx
Due: lint
