Repository soapbox-pub/soapbox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deps, lint, docs-deploy

deps:
  stage: deps
  script: yarn install --ignore-scripts
  cache:
    key:
      files:
      - yarn.lock
    paths:
    - node_modules/
    policy: push

lint:
  stage: test
  script: yarn lint

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
  - apk add curl
  script:
  - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline

Fix action-modal
  src/features/ui/components/modals/actions-modal.tsx
Due: lint

Change classNames "search" in location-search to use only Tailwind
  src/components/location-search.tsx
Due: lint

Change classNames "thumb-navigation" to use only Tailwind
  src/components/thumb-navigation-link.tsx
  src/components/thumb-navigation.tsx
  src/styles/tailwind.css
Due: lint

Change classNames "autosuggest-emoji" to use only Tailwind
  src/components/autosuggest-emoji.tsx
  src/styles/tailwind.css
Due: lint

Change classNames "compose-form__warning" to use only Tailwind
  src/features/compose/components/warning.tsx
  src/styles/tailwind.css
Due: lint

Update inset value in dark:inset
  src/features/chats/components/chat-page/chat-page.tsx
Due: lint

Change classNames "compose-form__modifiers" to use only Tailwind
  src/features/compose/components/compose-form.tsx
Due: lint

Remove unnecessary space
  src/features/ui/components/modals/unauthorized-modal.tsx
Due: lint

Change classname "divide-x-dot" to custom Tailwind
  src/styles/tailwind.css
Due: lint

Change classname "image-loader" to custom Tailwind
  src/features/ui/components/image-loader.tsx
Due: lint

Change class name "image-loader" to custom Tailwind and remove unused class name
  src/features/forms/index.tsx
  src/styles/tailwind.css
Due: lint

Change classname "mention" to custom Tailwind
  src/styles/tailwind.css
  src/styles/utilities.scss
Due: lint

Change classname "error-column" to custom Tailwind
  src/features/ui/components/column-forbidden.tsx
  src/styles/components/columns.scss
  src/styles/tailwind.css
Due: lint

Remove unused class name
  src/features/status/components/detailed-status.tsx
Due: lint

Change classname "focusable" to custom Tailwind
  src/styles/tailwind.css
Due: lint

Remove unused class name
  src/features/filters/edit-filter.tsx
  src/features/filters/index.tsx
Due: lint

Change classNames "svg-icon--backspace" and "search__icon" in "search" component to use only Tailwind and change "search__icon" to custom Tailwind
  src/features/aliases/components/search.tsx
  src/features/list-editor/components/search.tsx
  src/styles/tailwind.css
Due: lint

Fix anchor warning
  src/components/sidebar-menu.tsx
  src/features/about/index.tsx
  src/features/backups/index.tsx
  src/features/compose/components/reply-mentions.tsx
  src/features/crypto-donate/components/crypto-address.tsx
  src/features/event/components/event-header.tsx
  src/features/event/event-information.tsx
  src/features/federation-restrictions/components/restricted-instance.tsx
  src/styles/tailwind.css
Due: lint

Change "#" to "/" of href warning
  src/components/autosuggest-input.tsx
Due: lint

Fix warning in "site-preview"
  src/features/soapbox-config/components/site-preview.tsx
Due: lint

Fix warning in "primary-500"
  src/features/placeholder/components/placeholder-card.tsx
Due: lint

Change "thread" and "status--wrapper" to custom Tailwind
  src/components/status.tsx
  src/features/event/event-discussion.tsx
  src/features/placeholder/components/placeholder-status.tsx
  src/features/scheduled-statuses/components/scheduled-status.tsx
  src/features/ui/components/pending-status.tsx
  src/styles/components/detailed-status.scss
  src/styles/components/notification.scss
  src/styles/components/reply-mentions.scss
  src/styles/components/status.scss
  src/styles/tailwind.css
Due: lint

Move onClick into a "button" in captcha
  src/features/auth-login/components/captcha.tsx
Due: lint

Remove unused or non-existent class names
  src/components/verification-badge.tsx
Due: lint

Remove unused or non-existent class names
  src/components/status.tsx
Due: lint

Remove unused or non-existent class names and change 'status' to custom Tailwind
  src/components/status.tsx
  src/features/placeholder/components/placeholder-card.tsx
  src/features/scheduled-statuses/components/scheduled-status.tsx
  src/features/ui/components/pending-status.tsx
  src/styles/tailwind.css
  tailwind.config.ts
Due: lint

Change classNames "material-status" to use only Tailwind
  src/components/status.tsx
  src/features/placeholder/components/placeholder-material-status.tsx
Due: lint

refactor: only display zap-split if backend has nostr, rename 'manage-zap-split-page' to 'wide-page'
  src/features/admin/tabs/dashboard.tsx
  src/features/ui/index.tsx
  src/pages/wide-page.tsx
Due: lint

add unmet peer dependency
  package.json
  yarn.lock
Due: deps

Eliminate fragility
  src/components/upload.tsx
Due: lint

Switch to Deno
  .gitlab-ci.yml
  .tool-versions
  deno.lock
  package.json
  src/features/nostr/hooks/useNostrReq.ts
  src/jest/test-helpers.tsx
  yarn.lock
Due: deps, lint

Remove npx from package.json scripts
  package.json
Due: none

Install git in CI
  .gitlab-ci.yml
Due: none

deno task i18n
  .gitlab-ci.yml
  src/locales/en.json
Due: none

Use "deno run" in build
  package.json
Due: none

draft: try building directly with deno command
  .gitlab-ci.yml
Due: none

Remove "npx" from package.json commands
  package.json
Due: none

Add csstype for the millionth time
  package.json
  yarn.lock
Due: deps

Remove usage of csstype package
  src/components/media-gallery.tsx
Due: lint

Path conditions:
  deps: any of: yarn.lock
  lint: any of: **/*.js, **/*.jsx, **/*.cjs, **/*.mjs, **/*.ts, **/*.tsx, **/*.scss, **/*.css, .eslintignore, .eslintrc.json, .stylelintrc.json
  docs-deploy: any of: docs/**/*
