Repository soapbox-pub/soapbox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deps, lint-js, lint-sass, jest, nginx-test, docs-deploy

.gitlab-ci.yml:

image: node:18

variables:
  NODE_ENV: test

default:
  interruptible: true

cache: &cache
  key:
    files:
      - yarn.lock
  paths:
    - node_modules/
  policy: pull

stages:
  - deps
  - test
  - deploy

deps:
  stage: deps
  script: yarn install --ignore-scripts
  only:
    changes:
      - yarn.lock
  cache:
    <<: *cache
    policy: push

danger:
  stage: test
  script:
    # https://github.com/danger/danger-js/issues/1029#issuecomment-998915436
    - export CI_MERGE_REQUEST_IID=${CI_OPEN_MERGE_REQUESTS#*!}
    - npx danger ci
  except:
    variables:
      - $CI_DEFAULT_BRANCH == $CI_COMMIT_REF_NAME
  allow_failure: true

lint-js:
  stage: test
  script: yarn lint:js
  only:
    changes:
      - "**/*.js"
      - "**/*.jsx"
      - "**/*.ts"
      - "**/*.tsx"
      - ".eslintignore"
      - ".eslintrc.js"

lint-sass:
  stage: test
  script: yarn lint:sass
  only:
    changes:
      - "**/*.scss"
      - "**/*.css"
      - ".stylelintrc.json"

jest:
  stage: test
  script: yarn test:coverage --runInBand
  only:
    changes:
      - "**/*.js"
      - "**/*.json"
      - "app/soapbox/**/*"
      - "webpack/**/*"
      - "custom/**/*"
      - "jest.config.js"
      - "package.json"
      - "yarn.lock"
      - ".gitlab-ci.yml"
  coverage: /All files[^|]*\|[^|]*\s+([\d\.]+)/
  artifacts:
    reports:
      junit: junit.xml
      coverage_report:
        coverage_format: cobertura
        path: .coverage/cobertura-coverage.xml

nginx-test:
  stage: test
  image: nginx:latest
  before_script:
    - cp installation/mastodon.conf /etc/nginx/conf.d/default.conf
  script: nginx -t
  only:
    changes:
      - "installation/mastodon.conf"

build-production:
  stage: test
  script:
    - yarn build
    - yarn manage:translations en
    # Fail if files got changed.
    # https://stackoverflow.com/a/9066385
    - git diff --quiet
  variables:
    NODE_ENV: production
  artifacts:
    paths:
     - static

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
    - apk add curl
  script:
    - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline
  only:
    variables:
      - $CI_DEFAULT_BRANCH == $CI_COMMIT_REF_NAME
    changes:
      - "docs/**/*"

review:
  stage: deploy
  environment:
    name: review/$CI_COMMIT_REF_NAME
    url: https://$CI_COMMIT_REF_SLUG.git.soapbox.pub
  script:
    - npx -y surge static $CI_COMMIT_REF_SLUG.git.soapbox.pub
  allow_failure: true

pages:
  stage: deploy
  before_script: []
  script:
    # artifacts are kept between jobs
    - mv static public
  variables:
    NODE_ENV: production
  artifacts:
    paths:
    - public
  only:
    variables:
      - $CI_DEFAULT_BRANCH == $CI_COMMIT_REF_NAME

docker:
  stage: deploy
  image: docker:20.10.22
  services:
    - docker:20.10.22-dind
  tags:
    - dind
  # https://medium.com/devops-with-valentine/how-to-build-a-docker-image-and-push-it-to-the-gitlab-container-registry-from-a-gitlab-ci-pipeline-acac0d1f26df
  script:
    - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
    - docker build -t $CI_REGISTRY_IMAGE .
    - docker push $CI_REGISTRY_IMAGE
  only:
    variables:
      - $CI_DEFAULT_BRANCH == $CI_COMMIT_REF_NAME

include:
  - template: Jobs/Dependency-Scanning.gitlab-ci.yml
  - template: Security/License-Scanning.gitlab-ci.yml

avatar decoration with verified icon component inside profile
  app/soapbox/features/account/components/header.tsx
  app/soapbox/features/ui/components/profile-info-panel.tsx
Due: lint-js, jest

updated: translate button component, using iconbutton
  app/soapbox/components/translate-button.tsx
Due: lint-js, jest

Translated using Weblate (Italian)
  app/soapbox/locales/it.json
Due: jest

Translated using Weblate (Chinese (Simplified))
  app/soapbox/locales/zh-CN.json
Due: jest

Use Grid + Aspect to size MediaItem
  app/soapbox/features/account-gallery/components/media-item.tsx
  app/soapbox/features/account-gallery/index.tsx
  app/soapbox/features/ui/components/group-media-panel.tsx
  app/soapbox/features/ui/components/profile-media-panel.tsx
Due: lint-js, jest

StatusContent: size --> textSize
  app/soapbox/components/status-content.tsx
  app/soapbox/features/status/components/detailed-status.tsx
Due: lint-js, jest

translate button component class names fixes
  app/soapbox/components/translate-button.tsx
Due: lint-js, jest

TranslateButton: use Button, not IconButton, add `muted` style
  app/soapbox/components/translate-button.tsx
  app/soapbox/components/ui/button/useButtonStyles.ts
Due: lint-js, jest

TranslateButton: go back to using FormattedMessage
  app/soapbox/components/translate-button.tsx
Due: lint-js, jest

translate button component using soapobox's iconbutton
  app/soapbox/components/translate-button.tsx
  app/soapbox/components/ui/button/useButtonStyles.ts
Due: lint-js, jest

media-gallery.scss: switch to @apply rules where possible
  app/styles/components/media-gallery.scss
Due: lint-sass

Translated using Weblate (German)
  app/soapbox/locales/de.json
Due: jest

Break out MediaItemThumbnail into a separate component
  app/soapbox/components/media-gallery.tsx
Due: lint-js, jest

Create components/media-gallery subdirectory
  app/soapbox/components/media-gallery.tsx
  app/soapbox/components/media-gallery/media-item-thumbnail.tsx
Due: lint-js, jest

Move MediaItem to separate file
  app/soapbox/components/media-gallery.tsx
  app/soapbox/components/media-gallery/constants.ts
  app/soapbox/components/media-gallery/media-item.tsx
  app/soapbox/components/media-gallery/types.ts
Due: lint-js, jest

Move gigantic media sizing code into useMediaSizeData file/hook
  app/soapbox/components/media-gallery.tsx
  app/soapbox/components/media-gallery/useMediaSizeData.ts
Due: lint-js, jest

MediaGallery: fix layout adaptive by aspect ratio
  app/soapbox/components/media-gallery/media-item.tsx
  app/soapbox/features/video/index.tsx
  app/soapbox/utils/media-aspect-ratio.ts
Due: lint-js, jest

Refactor letterboxing code
  app/soapbox/components/media-gallery/useMediaSizeData.ts
  app/soapbox/features/video/index.tsx
  app/soapbox/utils/media-aspect-ratio.ts
Due: lint-js, jest

Tailwindify MoreMediaOverlay component
  app/soapbox/components/media-gallery/media-item.tsx
  app/soapbox/components/media-gallery/more-media-overlay.tsx
  app/styles/components/media-gallery.scss
Due: lint-js, lint-sass, jest

Reuse ExtensionBadge from StillImage, move ext to MediaItemThumbnail
  app/soapbox/components/extension-badge.tsx
  app/soapbox/components/media-gallery/media-item-thumbnail.tsx
  app/soapbox/components/media-gallery/media-item.tsx
  app/soapbox/components/still-image.tsx
Due: lint-js, jest

Update en.json
  app/soapbox/locales/en.json
Due: jest

fix
  app/soapbox/hooks/useRegistrationStatus.ts
Due: lint-js, jest

Add Tailwind eslint
  .eslintrc.cjs
  package.json
  yarn.lock
Due: deps, jest

Permit muting a thread as an option on any post in the thread
  app/soapbox/components/status-action-bar.tsx
Due: lint-js, jest

Remove withDismiss prop from status, update CHANGELOG
  CHANGELOG.md
  app/soapbox/components/status-action-bar.tsx
  app/soapbox/components/status.tsx
  app/soapbox/features/notifications/components/notification.tsx
Due: lint-js, jest

Upgrade Virtuoso to v4.0.8
  package.json
  yarn.lock
Due: deps, jest

ChatUpload: add blurhash
  app/soapbox/features/chats/components/chat-upload.tsx
Due: lint-js, jest

ChatTextarea: fix focus border and ring styles
  app/soapbox/features/chats/components/chat-textarea.tsx
Due: lint-js, jest

ChatUpload: ensure X icon is always white
  app/soapbox/features/chats/components/chat-upload.tsx
Due: lint-js, jest

ChatUpload: allow clicking upload to view in modal
  app/soapbox/features/chats/components/chat-upload.tsx
Due: lint-js, jest

Update dependency node to v18.14.0
  .tool-versions
Due: none

Add type-aware UploadPreview component, fix ChatComposer bg on dark mode
  app/soapbox/features/chats/components/chat-textarea.tsx
  app/soapbox/features/chats/components/chat-upload-preview.tsx
  app/soapbox/features/chats/components/chat-upload.tsx
Due: lint-js, jest

Chats: support displaying multiple attachments
  app/soapbox/features/chats/components/chat-message-list.tsx
  app/soapbox/normalizers/chat-message.ts
Due: lint-js, jest

Submit `media_ids` when creating a message
  app/soapbox/queries/chats.ts
Due: lint-js, jest

Test normalizeChatMessage
  app/soapbox/normalizers/__tests__/chat-message.test.ts
Due: lint-js, jest

Chats: move uploading progress into the composer text box
  app/soapbox/features/chats/components/chat-composer.tsx
  app/soapbox/features/chats/components/chat-textarea.tsx
  app/soapbox/features/chats/components/chat.tsx
Due: lint-js, jest

Refactor ProgressBar
  app/soapbox/components/ui/progress-bar/progress-bar.tsx
  app/soapbox/components/upload-progress.tsx
  app/soapbox/features/chats/components/chat-pending-upload.tsx
  app/soapbox/features/chats/components/chat-textarea.tsx
Due: lint-js, jest

Update docker Docker tag to v23
  .gitlab-ci.yml
Due: jest

npx storybook init
  .storybook/main.js
  .storybook/preview.js
  package.json
  stories/Button.stories.tsx
  stories/Button.tsx
  stories/Header.stories.tsx
  stories/Header.tsx
  stories/Introduction.stories.mdx
  stories/Page.stories.tsx
  stories/Page.tsx
  stories/assets/code-brackets.svg
  stories/assets/colors.svg
  stories/assets/comments.svg
  stories/assets/direction.svg
  stories/assets/flow.svg
  stories/assets/plugin.svg
  stories/assets/repo.svg
  stories/assets/stackalt.svg
  stories/button.css
  stories/header.css
  stories/page.css
  yarn.lock
Due: deps, lint-js, lint-sass, jest
