Repository soapbox-pub/soapbox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deps, lint-js, lint-sass, jest, nginx-test, docs-deploy

.gitlab-ci.yml:

image: node:18

variables:
  NODE_ENV: test

default:
  interruptible: true

cache: &cache
  key:
    files:
      - yarn.lock
  paths:
    - node_modules/
  policy: pull

stages:
  - deps
  - test
  - deploy

deps:
  stage: deps
  script: yarn install --ignore-scripts
  only:
    changes:
      - yarn.lock
  cache:
    <<: *cache
    policy: push

danger:
  stage: test
  script:
    # https://github.com/danger/danger-js/issues/1029#issuecomment-998915436
    - export CI_MERGE_REQUEST_IID=${CI_OPEN_MERGE_REQUESTS#*!}
    - npx danger ci
  except:
    variables:
      - $CI_DEFAULT_BRANCH == $CI_COMMIT_REF_NAME
  allow_failure: true

lint-js:
  stage: test
  script: yarn lint:js
  only:
    changes:
      - "**/*.js"
      - "**/*.jsx"
      - "**/*.ts"
      - "**/*.tsx"
      - ".eslintignore"
      - ".eslintrc.js"

lint-sass:
  stage: test
  script: yarn lint:sass
  only:
    changes:
      - "**/*.scss"
      - "**/*.css"
      - ".stylelintrc.json"

jest:
  stage: test
  script: yarn test:coverage --runInBand
  only:
    changes:
      - "**/*.js"
      - "**/*.json"
      - "app/soapbox/**/*"
      - "webpack/**/*"
      - "custom/**/*"
      - "jest.config.js"
      - "package.json"
      - "yarn.lock"
      - ".gitlab-ci.yml"
  coverage: /All files[^|]*\|[^|]*\s+([\d\.]+)/
  artifacts:
    reports:
      junit: junit.xml
      coverage_report:
        coverage_format: cobertura
        path: .coverage/cobertura-coverage.xml

nginx-test:
  stage: test
  image: nginx:latest
  before_script:
    - cp installation/mastodon.conf /etc/nginx/conf.d/default.conf
  script: nginx -t
  only:
    changes:
      - "installation/mastodon.conf"

build-production:
  stage: test
  script:
    - yarn build
    - yarn manage:translations en
    # Fail if files got changed.
    # https://stackoverflow.com/a/9066385
    - git diff --quiet
  variables:
    NODE_ENV: production
  artifacts:
    paths:
     - static

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
    - apk add curl
  script:
    - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline
  only:
    variables:
      - $CI_DEFAULT_BRANCH == $CI_COMMIT_REF_NAME
    changes:
      - "docs/**/*"

review:
  stage: deploy
  environment:
    name: review/$CI_COMMIT_REF_NAME
    url: https://$CI_COMMIT_REF_SLUG.git.soapbox.pub
  script:
    - npx -y surge static $CI_COMMIT_REF_SLUG.git.soapbox.pub
  allow_failure: true

pages:
  stage: deploy
  before_script: []
  script:
    # artifacts are kept between jobs
    - mv static public
  variables:
    NODE_ENV: production
  artifacts:
    paths:
    - public
  only:
    variables:
      - $CI_DEFAULT_BRANCH == $CI_COMMIT_REF_NAME

docker:
  stage: deploy
  image: docker:20.10.22
  services:
    - docker:20.10.22-dind
  tags:
    - dind
  # https://medium.com/devops-with-valentine/how-to-build-a-docker-image-and-push-it-to-the-gitlab-container-registry-from-a-gitlab-ci-pipeline-acac0d1f26df
  script:
    - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
    - docker build -t $CI_REGISTRY_IMAGE .
    - docker push $CI_REGISTRY_IMAGE
  only:
    variables:
      - $CI_DEFAULT_BRANCH == $CI_COMMIT_REF_NAME

include:
  - template: Jobs/Dependency-Scanning.gitlab-ci.yml
  - template: Security/License-Scanning.gitlab-ci.yml

Remove custom emojis from reaction picker
  app/soapbox/components/ui/emoji-selector/emoji-selector.tsx
  app/soapbox/features/emoji/components/emoji-picker-dropdown.tsx
  app/soapbox/features/emoji/containers/emoji-picker-dropdown-container.tsx
  app/soapbox/locales/en.json
Due: lint-js, jest

Add tests for Search component
  app/soapbox/features/groups/components/discover/search/__tests__/search.test.tsx
  app/soapbox/features/groups/components/discover/search/no-results-blankslate.tsx
  app/soapbox/features/groups/components/discover/search/recent-searches.tsx
  app/soapbox/features/groups/components/discover/search/results.tsx
  app/soapbox/features/groups/components/discover/search/search.tsx
  app/soapbox/features/groups/discover.tsx
Due: lint-js, jest

Fix conversation list pagination
  app/soapbox/features/conversations/components/conversations-list.tsx
Due: lint-js, jest

Remove unnecessary equality test
  app/soapbox/features/conversations/components/conversations-list.tsx
Due: lint-js, jest

Add tests for RecentSearches
  app/soapbox/features/groups/components/discover/search/__tests__/recent-searches.test.tsx
  app/soapbox/features/groups/components/discover/search/recent-searches.tsx
Due: lint-js, jest

Add support for i18n in Group Search
  app/soapbox/features/group/components/group-header.tsx
  app/soapbox/features/groups/components/discover/group.tsx
  app/soapbox/features/groups/components/discover/search/recent-searches.tsx
  app/soapbox/features/groups/components/discover/search/results.tsx
  app/soapbox/locales/de.json
  app/soapbox/locales/en.json
  app/soapbox/locales/es.json
  app/soapbox/locales/it.json
  app/soapbox/locales/pl.json
  app/soapbox/locales/zh-CN.json
Due: lint-js, jest

Add i18n keys to en.json
  app/soapbox/locales/en.json
Due: jest

Use Groups Discovery if user has no groups
  app/soapbox/components/sidebar-menu.tsx
  app/soapbox/components/sidebar-navigation.tsx
  app/soapbox/hooks/__tests__/useGroupsPath.test.ts
  app/soapbox/hooks/index.ts
  app/soapbox/hooks/useGroupsPath.ts
  app/soapbox/queries/groups.ts
Due: lint-js, jest

Fix emoji selector on touchscreen
  app/soapbox/components/status-reaction-wrapper.tsx
  app/soapbox/components/ui/emoji-selector/emoji-selector.tsx
  app/soapbox/features/emoji/search.ts
Due: lint-js, jest

Fix load more button height on account gallery page
  app/soapbox/components/load-more.tsx
  app/soapbox/features/account-gallery/index.tsx
Due: lint-js, jest

Allow all permissions if unset
  app/soapbox/utils/permissions.ts
Due: lint-js, jest

Small design tweaks for create group modal
  app/soapbox/features/ui/components/modals/manage-group-modal/steps/details-step.tsx
  app/soapbox/features/ui/components/modals/manage-group-modal/steps/privacy-step.tsx
  app/soapbox/locales/en.json
Due: lint-js, jest

Improve Group Header with latest designs
  app/soapbox/features/group/components/__tests__/group-action-button.test.tsx
  app/soapbox/features/group/components/__tests__/group-member-count.test.tsx
  app/soapbox/features/group/components/__tests__/group-privacy.test.tsx
  app/soapbox/features/group/components/group-action-button.tsx
  app/soapbox/features/group/components/group-header.tsx
  app/soapbox/features/group/components/group-member-count.tsx
  app/soapbox/features/group/components/group-privacy.tsx
  app/soapbox/features/group/components/group-relationship.tsx
  app/soapbox/features/group/group-timeline.tsx
  app/soapbox/features/groups/components/discover/group.tsx
  app/soapbox/features/groups/components/discover/search/results.tsx
  app/soapbox/locales/en.json
  app/soapbox/pages/group-page.tsx
  app/soapbox/queries/groups.ts
Due: lint-js, jest

Fix emoji picker button color
  app/soapbox/features/emoji/containers/emoji-picker-dropdown-container.tsx
Due: lint-js, jest

Hide emoji-mart preview footer
  app/soapbox/features/emoji/components/emoji-picker-dropdown.tsx
Due: lint-js, jest

filters v2
  README.md
  app/assets/icons/COPYING.md
  app/soapbox/actions/filters.ts
  app/soapbox/actions/statuses.ts
  app/soapbox/components/status.tsx
  app/soapbox/locales/pl.json
  app/soapbox/normalizers/filter-keyword.ts
  app/soapbox/normalizers/filter-result.ts
  app/soapbox/normalizers/filter-status.ts
  app/soapbox/normalizers/filter-v1.ts
  app/soapbox/normalizers/filter.ts
  app/soapbox/normalizers/index.ts
  app/soapbox/normalizers/status.ts
  app/soapbox/reducers/filters.ts
  app/soapbox/reducers/statuses.ts
  app/soapbox/selectors/index.ts
  app/soapbox/types/entities.ts
  app/soapbox/utils/features.ts
Due: lint-js, jest

Allow creating v2 filters
  app/soapbox/actions/filters.ts
  app/soapbox/components/sidebar-menu.tsx
  app/soapbox/components/ui/streamfield/streamfield.tsx
  app/soapbox/features/filters/index.tsx
  app/soapbox/features/ui/components/link-footer.tsx
  app/soapbox/features/ui/components/modals/edit-announcement-modal.tsx
  app/soapbox/features/ui/index.tsx
  app/soapbox/locales/en.json
  app/soapbox/normalizers/filter-v1.ts
  app/soapbox/normalizers/filter.ts
  app/soapbox/normalizers/index.ts
  app/soapbox/reducers/filters.ts
  app/soapbox/selectors/index.ts
  app/soapbox/types/entities.ts
Due: lint-js, jest

Remove console.log
  app/soapbox/features/filters/index.tsx
Due: lint-js, jest

Allow editing filters
  app/soapbox/actions/filters.ts
  app/soapbox/features/filters/edit-filter.tsx
  app/soapbox/features/filters/index.tsx
  app/soapbox/features/ui/index.tsx
  app/soapbox/features/ui/util/async-components.ts
  app/soapbox/utils/features.ts
Due: lint-js, jest

Update dependency @floating-ui/react to ^0.20.0
  package.json
  yarn.lock
Due: deps, jest

Filters expiration, restyle filters list, fix keywords deletion
  app/soapbox/actions/filters.ts
  app/soapbox/components/ui/streamfield/streamfield.tsx
  app/soapbox/features/auth-token-list/index.tsx
  app/soapbox/features/filters/edit-filter.tsx
  app/soapbox/features/filters/index.tsx
  app/soapbox/utils/features.ts
Due: lint-js, jest

Update dependency eslint-plugin-jsdoc to v40
  package.json
  yarn.lock
Due: deps, jest

Add group icon to create screen
  app/assets/images/group.svg
  app/soapbox/components/list.tsx
  app/soapbox/features/ui/components/modals/manage-group-modal/steps/privacy-step.tsx
Due: lint-js, jest

Translated using Weblate (Arabic)
  app/soapbox/locales/ar.json
Due: jest

Translated using Weblate (Italian)
  app/soapbox/locales/it.json
Due: jest

Translated using Weblate (Chinese (Simplified))
  app/soapbox/locales/zh-CN.json
Due: jest

Translated using Weblate (Polish)
  app/soapbox/locales/pl.json
Due: jest

Translated using Weblate (Japanese)
  app/soapbox/locales/ja.json
Due: jest

Translated using Weblate (Spanish)
  app/soapbox/locales/es.json
Due: jest
