Repository soapbox-pub/soapbox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deps, lint, docs-deploy

.gitlab-ci.yml:

image: node:20

variables:
  NODE_ENV: test
  DS_EXCLUDED_ANALYZERS: gemnasium-python

default:
  interruptible: true

cache: &cache
  key:
    files:
      - yarn.lock
  paths:
    - node_modules/
  policy: pull

stages:
  - deps
  - test
  - deploy
  - release

deps:
  stage: deps
  script: yarn install --ignore-scripts
  only:
    changes:
      - yarn.lock
  cache:
    <<: *cache
    policy: push

danger:
  stage: test
  script:
    # https://github.com/danger/danger-js/issues/1029#issuecomment-998915436
    - export CI_MERGE_REQUEST_IID=${CI_OPEN_MERGE_REQUESTS#*!}
    - npx danger ci
  except:
    variables:
      - $CI_DEFAULT_BRANCH == $CI_COMMIT_REF_NAME
  allow_failure: true

lint:
  stage: test
  script: yarn lint
  only:
    changes:
      - "**/*.js"
      - "**/*.jsx"
      - "**/*.cjs"
      - "**/*.mjs"
      - "**/*.ts"
      - "**/*.tsx"
      - "**/*.scss"
      - "**/*.css"
      - ".eslintignore"
      - ".eslintrc.cjs"
      - ".stylelintrc.json"

build:
  stage: test
  before_script:
    - apt-get update -y && apt-get install -y zip
  script:
    - yarn build
    - cp dist/index.html dist/404.html
    - cd dist && zip -r ../soapbox.zip . && cd ..
  variables:
    NODE_ENV: production
  artifacts:
    paths:
     - soapbox.zip

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
    - apk add curl
  script:
    - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline
  only:
    variables:
      - $CI_DEFAULT_BRANCH == $CI_COMMIT_REF_NAME
    changes:
      - "docs/**/*"

review:
  stage: deploy
  environment:
    name: review/$CI_COMMIT_REF_NAME
    url: https://$CI_COMMIT_REF_SLUG.git.soapbox.pub
  before_script:
    - apt-get update -y && apt-get install -y unzip
  script:
    - unzip soapbox.zip -d dist
    - npx -y surge dist $CI_COMMIT_REF_SLUG.git.soapbox.pub
  allow_failure: true

pages:
  stage: deploy
  before_script:
    - apt-get update -y && apt-get install -y unzip
  script:
    # artifacts are kept between jobs
    - unzip soapbox.zip -d public
  variables:
    NODE_ENV: production
  artifacts:
    paths:
    - public
  only:
    variables:
      - $CI_DEFAULT_BRANCH == $CI_COMMIT_REF_NAME

docker:
  stage: deploy
  image: docker:24.0.6
  services:
    - docker:24.0.6-dind
  tags:
    - dind
  # https://medium.com/devops-with-valentine/how-to-build-a-docker-image-and-push-it-to-the-gitlab-container-registry-from-a-gitlab-ci-pipeline-acac0d1f26df
  script:
    - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
    - docker build -t $CI_REGISTRY_IMAGE:$CI_COMMIT_TAG .
    - docker push $CI_REGISTRY_IMAGE:$CI_COMMIT_TAG
  rules:
    - if: $CI_COMMIT_TAG
  interruptible: false

release:
  stage: release
  rules:
    - if: $CI_COMMIT_TAG
  script:
    - npx ts-node ./scripts/do-release.ts
  interruptible: false

include:
  - template: Jobs/Dependency-Scanning.gitlab-ci.yml

Update dependency vitest to v1
  package.json
  yarn.lock
Due: deps

Upgrade Vite to v5
  package.json
  src/api/hooks/groups/useGroupValidation.ts
  yarn.lock
Due: deps, lint

StatusContent: fix types for html-react-parser v5
  src/components/status-content.tsx
Due: lint

Upgrade stylelint to v16, remove deprecated rules
  .stylelintrc.json
  package.json
  yarn.lock
Due: deps, lint

Update dependency stylelint to v16
  package.json
  yarn.lock
Due: deps

Input: fix search focus background color
  src/components/ui/input/input.tsx
Due: lint

Update dependency stylelint-config-standard-scss to v12
  package.json
  yarn.lock
Due: deps

Convert eslint config to json
  .eslintignore
  .eslintrc.cjs
  .eslintrc.json
  .gitlab-ci.yml
Due: lint

Add types to postcss.config.cjs
  postcss.config.cjs
Due: lint

Update 2 files
  src/main.tsx
  src/styles/i18n/javanese.css
Due: lint

add javanese font
  .gitpod.yml
  package.json
  yarn.lock
Due: deps

add javanese.css for javanese font
  src/styles/i18n/javanese.css
Due: lint

add a unicode-range
  src/styles/i18n/javanese.css
Due: lint

Apply 1 suggestion(s) to 1 file(s)
  src/schemas/instance.ts
Due: lint

Update dependency @types/react-motion to ^0.0.40
  package.json
  yarn.lock
Due: deps

Translated using Weblate (Indonesian)
  src/locales/id.json
Due: none

Translated using Weblate (Javanese)
  src/locales/jv.json
Due: none

Update translation files
  src/locales/jv.json
Due: none

add javanese language
  src/features/preferences/index.tsx
Due: lint

Group notifications/reposts fetched from the same page
  src/actions/importer/index.ts
  src/actions/notifications.ts
  src/actions/timelines.ts
  src/components/status.tsx
  src/features/notifications/components/notification.tsx
  src/locales/en.json
  src/normalizers/notification.ts
  src/normalizers/status.ts
  src/reducers/notifications.ts
  src/schemas/status.ts
  src/selectors/index.ts
Due: lint

Update dependency eslint-plugin-jsdoc to v47
  package.json
  yarn.lock
Due: deps

features: enable bookmarks on ditto
  src/utils/features.ts
Due: lint

chore(deps): update dependency eslint-plugin-jsdoc to v48
  package.json
  yarn.lock
Due: deps

chore(deps): update dependency stylelint-config-standard-scss to v13
  package.json
  yarn.lock
Due: deps

features: enable Mastodon admin on Ditto
  src/utils/features.ts
Due: lint

LatestAccountsPanel: don't hide unsorted admin accounts, removes legacy Pleroma hack
  src/features/admin/components/latest-accounts-panel.tsx
Due: lint

Support infinite voting time for remote polls
  src/components/polls/poll-footer.tsx
  src/schemas/poll.ts
Due: lint

Fix some typos
  CHANGELOG.md
  installation/mastodon.conf
  src/components/icon.tsx
  src/components/ui/icon-button/icon-button.tsx
  src/features/about/index.tsx
  src/features/filters/edit-filter.tsx
  src/features/notifications/components/notification.tsx
  src/features/ui/components/modals/report-modal/steps/other-actions-step.tsx
  src/locales/ar.json
  src/locales/bg.json
  src/locales/en.json
  src/locales/es.json
  src/locales/fr.json
  src/locales/he.json
  src/locales/id.json
  src/locales/it.json
  src/locales/no.json
  src/locales/pl.json
  src/locales/ru.json
  src/locales/tr.json
  src/locales/zh-CN.json
  src/locales/zh-TW.json
  src/reducers/chat-messages.ts
  src/service-worker/sw.ts
  src/utils/nostr.ts
Due: lint

vite: add mock api, return 404s
  vite.config.ts
Due: lint

Differentiate instance V1 and V2 Fixes https://gitlab.com/soapbox-pub/soapbox/-/issues/1635
  src/actions/instance.ts
  src/init/soapbox-load.tsx
  src/reducers/instance.test.ts
  src/reducers/instance.ts
Due: lint

Add item shop demo
  src/components/sidebar-navigation.tsx
  src/features/items/index.tsx
  src/features/ui/index.tsx
  src/features/ui/util/async-components.ts
Due: lint

Items: include prices, issuer, and favicon
  src/features/items/index.tsx
Due: lint

Items: remove bolt icon when item is free
  src/features/items/index.tsx
Due: lint

Items: make it feel more good to click the button
  src/components/ui/tooltip/tooltip.tsx
  src/features/items/index.tsx
Due: lint

Remove the tooltip from around the button
  src/features/items/index.tsx
Due: lint
