Repository soapbox-pub/soapbox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deps, lint-js, lint-sass, jest, nginx-test, docs-deploy

deps:
  stage: deps
  script: yarn install --ignore-scripts
  cache:
    key:
      files:
      - yarn.lock
    paths:
    - node_modules/
    policy: push

lint-js:
  stage: test
  script: yarn lint:js

lint-sass:
  stage: test
  script: yarn lint:sass

jest:
  stage: test
  script: yarn test:coverage --runInBand
  coverage: /All files[^|]*\|[^|]*\s+([\d\.]+)/
  artifacts:
    reports:
      junit: junit.xml
      coverage_report:
        coverage_format: cobertura
        path: .coverage/cobertura-coverage.xml

nginx-test:
  stage: test
  image: nginx:latest
  before_script:
  - cp installation/mastodon.conf /etc/nginx/conf.d/default.conf
  script: nginx -t

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
  - apk add curl
  script:
  - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline

Update en.json
  app/soapbox/locales/en.json
Due: jest

adding: bot badge inside timeline statuses
  app/soapbox/components/account.tsx
Due: lint-js, jest

updated: transatable staff badges
  app/soapbox/features/ui/components/profile-info-panel.tsx
Due: lint-js, jest

CHANGELOG: bot badge
  CHANGELOG.md
Due: none

adding: bot badge inside timeline statuses
  CHANGELOG.md
  app/soapbox/components/account.tsx
Due: lint-js, jest

removed: redundant message definition
  app/soapbox/features/ui/components/profile-info-panel.tsx
Due: lint-js, jest

Fix media gallery border-radius on Safari
  app/styles/components/media-gallery.scss
Due: lint-sass

ChatMessageList: sharpen top-right corner of bubble when there's an attachment
  app/soapbox/features/chats/components/chat-message-list.tsx
Due: lint-js, jest

Chats: use plus icon to upload attachment
  app/soapbox/features/chats/components/chat-composer.tsx
  app/soapbox/features/compose/components/upload-button.tsx
Due: lint-js, jest

Chats: actually, do use a paperclip
  app/soapbox/features/chats/components/chat-composer.tsx
Due: lint-js, jest

ChatMessageList: fix regression with links not wrapping
  app/soapbox/features/chats/components/chat-message-list.tsx
Due: lint-js, jest

Chats: fix bubble corner for other person's message
  app/soapbox/features/chats/components/chat-message-list.tsx
Due: lint-js, jest

Remove unused styles
  app/styles/application.scss
  app/styles/components/buttons.scss
  app/styles/components/inputs.scss
  app/styles/ui.scss
Due: lint-sass

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Update docker Docker tag to v20.10.23
  .gitlab-ci.yml
Due: jest

added: support for intl date-picker, italian datepicker
  app/soapbox/features/compose/components/schedule-form.tsx
  app/soapbox/features/ui/components/modals/compose-event-modal/compose-event-modal.tsx
  package.json
  yarn.lock
Due: deps, lint-js, jest

transatable staff badges inside profile
  app/soapbox/features/ui/components/profile-info-panel.tsx
Due: lint-js, jest

added: verified badge on profile's header
  app/soapbox/features/account/components/header.tsx
Due: lint-js, jest

Allow selecting an emoji from the picker
  app/soapbox/components/ui/emoji-selector/emoji-selector.tsx
Due: lint-js, jest

updated: follow_requests view mobile responsive
  app/soapbox/features/follow-requests/components/account-authorize.tsx
Due: lint-js, jest

updated: reported items, improved usability
  app/soapbox/features/admin/components/report-status.tsx
  app/soapbox/features/admin/components/report.tsx
  app/soapbox/locales/en.json
Due: lint-js, jest

Fix #1330
  CHANGELOG.md
  app/soapbox/features/ui/components/modals/media-modal.tsx
  app/soapbox/features/ui/components/modals/video-modal.tsx
  app/soapbox/features/video/index.tsx
Due: lint-js, jest

Translated using Weblate (French)
  app/soapbox/locales/fr.json
Due: jest

Translated using Weblate (Croatian)
  app/soapbox/locales/hr.json
Due: jest

Translated using Weblate (Czech)
  app/soapbox/locales/cs.json
Due: jest

Translated using Weblate (Bulgarian)
  app/soapbox/locales/bg.json
Due: jest

Translated using Weblate (Chinese (Traditional))
  app/soapbox/locales/zh-TW.json
Due: jest

Translated using Weblate (Italian)
  app/soapbox/locales/it.json
Due: jest

Translated using Weblate (Spanish)
  app/soapbox/locales/es.json
Due: jest

Translated using Weblate (Chinese (Simplified))
  app/soapbox/locales/zh-CN.json
Due: jest

Translated using Weblate (Basque)
  app/soapbox/locales/eu.json
Due: jest

Translated using Weblate (Catalan)
  app/soapbox/locales/ca.json
Due: jest

Translated using Weblate (Albanian)
  app/soapbox/locales/sq.json
Due: jest

Translated using Weblate (Danish)
  app/soapbox/locales/da.json
Due: jest

Path conditions:
  deps: any of: yarn.lock
  lint-js: any of: **/*.js, **/*.jsx, **/*.ts, **/*.tsx, .eslintignore, .eslintrc.js
  lint-sass: any of: **/*.scss, **/*.css, .stylelintrc.json
  jest: any of: **/*.js, **/*.json, app/soapbox/**/*, webpack/**/*, custom/**/*, jest.config.js, package.json, yarn.lock, .gitlab-ci.yml
  nginx-test: any of: installation/mastodon.conf
  docs-deploy: any of: docs/**/*
