Repository soapbox-pub/soapbox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deps, lint, docs-deploy

deps:
  stage: deps
  script: yarn install --ignore-scripts
  cache:
    key:
      files:
      - yarn.lock
    paths:
    - node_modules/
    policy: push

lint:
  stage: test
  script: yarn lint

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
  - apk add curl
  script:
  - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline

Remove custom retry from useInstance hooks (prefer the default)
  src/api/hooks/instance/useInstanceV1.ts
  src/api/hooks/instance/useInstanceV2.ts
  src/hooks/useInstance.ts
Due: lint

Add auth schemas
  src/schemas/soapbox/soapbox-auth.ts
  src/schemas/token.ts
Due: lint

Add useAuth hook, fix soapboxAuthSchema
  src/hooks/useAuth.ts
  src/schemas/soapbox/soapbox-auth.ts
Due: lint

Add web push schema
  src/schemas/web-push.ts
Due: lint

Fix sending chat messages Fixes https://gitlab.com/soapbox-pub/soapbox/-/issues/1752
  src/features/chats/components/chat.tsx
  src/queries/chats.ts
Due: lint

Upgrade tabler to 3.19
  package.json
  src/components/status-action-bar.tsx
  yarn.lock
Due: deps, lint

Upgrade Tailwind and scss deps
  package.json
  src/styles/components/status.scss
  yarn.lock
Due: deps, lint

Upgrade react-query
  package.json
  src/api/hooks/instance/useInstanceV1.ts
  src/api/hooks/instance/useInstanceV2.ts
  src/features/admin/announcements.tsx
  src/hooks/useInstance.ts
  yarn.lock
Due: deps, lint

Hotfix captcha not showing after signup
  src/features/ui/components/modals/nostr-signup-modal/steps/keygen-step.tsx
Due: lint

Update captcha sucess message
  src/api/hooks/captcha/useCaptcha.ts
  src/locales/en.json
Due: lint

Update: remove copy button of key-gen-step
  src/features/ui/components/modals/nostr-signup-modal/steps/keygen-step.tsx
Due: lint

Improve username help text
  src/features/ui/components/modals/onboarding-flow-modal/steps/display-identity-step.tsx
  src/locales/en.json
Due: lint

Refactor NIP-05 warnings
  src/features/compose/components/compose-form.tsx
  src/features/compose/containers/warning-container.tsx
  src/features/compose/editor/index.tsx
  src/locales/en.json
Due: lint

Update nip05 portuguese translation
  src/locales/pt-BR.json
Due: none

ComposeForm: wrap NIP05 text in a <Warning /> component
  src/features/compose/containers/warning-container.tsx
Due: lint

Pull VAPID key from V2 instance
  src/actions/push-notifications/registerer.ts
  src/features/ui/index.tsx
  src/utils/auth.ts
Due: lint

Guard nip05 with features
  src/features/compose/containers/warning-container.tsx
Due: lint

Rewrite push registerer
  src/actions/push-notifications/index.ts
  src/actions/push-notifications/registerer.ts
  src/actions/push-notifications/setter.ts
  src/features/ui/index.tsx
  src/reducers/index.ts
  src/reducers/push-notifications.test.ts
  src/reducers/push-notifications.ts
  src/schemas/web-push.ts
Due: lint

Reorganize functions in push registerer so they make logical sense
  src/actions/push-notifications/registerer.ts
  src/utils/base64.ts
Due: lint

Fix base64 test
  src/utils/base64.test.ts
Due: lint

Delete actions/push-subscriptions.ts
  src/actions/push-subscriptions.ts
Due: lint

refactor: remove irrelevant type assertion
  src/features/ui/components/modals/zaps-modal.tsx
Due: lint

Swap out twemoji for @twemoji/svg Related: https://gitlab.com/soapbox-pub/soapbox/-/issues/1756
  package.json
  vite.config.ts
  yarn.lock
Due: deps, lint

Upgrade to Twemoji 15
  package.json
  src/features/emoji/data.ts
  yarn.lock
Due: deps, lint

feat: create pagination with Link Headers for trending statuses
  src/actions/trending-statuses.ts
  src/features/compose/components/search-results.tsx
  src/reducers/trending-statuses.ts
Due: lint

fix: yarn lint fix
  src/api/hooks/zap-split/useZapSplit.ts
  src/schemas/zap-split.ts
Due: lint

Disable Wasmboy
  package.json
  src/components/media-gallery.tsx
  yarn.lock
Due: deps, lint

gameboy.tsx: disable eslint
  src/components/gameboy.tsx
Due: lint

Remove Immutable from accounts reducer
  src/reducers/accounts.ts
  src/schemas/account.ts
  src/utils/normalizers.ts
Due: lint

Remove unused account reducer... :facepalm:
  src/api/hooks/accounts/useAccount.ts
  src/api/hooks/accounts/useAccountLookup.ts
  src/normalizers/admin-account.ts
  src/normalizers/admin-report.ts
  src/normalizers/status-edit.ts
  src/reducers/accounts.ts
  src/schemas/account.ts
  src/utils/accounts.test.ts
Due: lint

Remove Pleroma moderation API where an equivalent Mastodon endpoint exists
  src/actions/admin.ts
Due: lint

Add useAdminAccount hook, refactor admin accounts in dashboard, refactor admin actions
  src/actions/admin.ts
  src/api/MastodonClient.ts
  src/api/hooks/admin/useAdminAccounts.ts
  src/features/admin/components/latest-accounts-panel.tsx
  src/features/admin/user-index.tsx
  src/reducers/admin-user-index.ts
Due: lint

Remove "admin user index" reducer (and related actions)
  src/actions/admin.ts
  src/reducers/admin-user-index.ts
  src/reducers/index.ts
Due: lint

yarn i18n
  src/locales/en.json
Due: none

Simplify GitLab CI, do everything in one step, switch to manual review apps
  .gitlab-ci.yml
Due: none

Remove react-datepicker, add a custom Datepicker component
  package.json
  src/components/birthday-input.tsx
  src/components/ui/datetime/datetime.tsx
  src/components/ui/input/input.tsx
  src/features/birthdays/date-picker.ts
  src/features/compose/components/schedule-form.tsx
  src/features/ui/components/modals/compose-event-modal/compose-event-modal.tsx
  src/features/ui/components/modals/edit-announcement-modal.tsx
  src/features/ui/util/async-components.ts
  src/main.tsx
  src/styles/application.scss
  src/styles/components/datepicker.scss
  yarn.lock
Due: deps, lint

Remove cryptocurrency-icons package, vendor in the most popular open source cryptocurrencies
  package.json
  src/assets/cryptocurrency/LICENSE.md
  src/assets/cryptocurrency/aave.svg
  src/assets/cryptocurrency/ada.svg
  src/assets/cryptocurrency/algo.svg
  src/assets/cryptocurrency/atom.svg
  src/assets/cryptocurrency/avax.svg
  src/assets/cryptocurrency/bch.svg
  src/assets/cryptocurrency/btc.svg
  src/assets/cryptocurrency/dot.svg
  src/assets/cryptocurrency/eos.svg
  src/assets/cryptocurrency/etc.svg
  src/assets/cryptocurrency/eth.svg
  src/assets/cryptocurrency/fil.svg
  src/assets/cryptocurrency/generic.svg
  src/assets/cryptocurrency/icp.svg
  src/assets/cryptocurrency/link.svg
  src/assets/cryptocurrency/ltc.svg
  src/assets/cryptocurrency/matic.svg
  src/assets/cryptocurrency/sol.svg
  src/assets/cryptocurrency/vet.svg
  src/assets/cryptocurrency/xlm.svg
  src/assets/cryptocurrency/xmr.svg
  src/assets/cryptocurrency/xrp.svg
  src/assets/cryptocurrency/xtz.svg
  src/assets/cryptocurrency/zec.svg
  src/features/crypto-donate/components/crypto-icon.tsx
  src/features/crypto-donate/utils/block-explorer.ts
  src/features/crypto-donate/utils/coin-db.ts
  src/features/crypto-donate/utils/manifest-map.ts
  yarn.lock
Due: deps, lint

CryptoIcon: improve getIcon dynamic import
  src/features/crypto-donate/components/crypto-icon.tsx
Due: lint

Path conditions:
  deps: any of: yarn.lock
  lint: any of: **/*.js, **/*.jsx, **/*.cjs, **/*.mjs, **/*.ts, **/*.tsx, **/*.scss, **/*.css, .eslintignore, .eslintrc.json, .stylelintrc.json
  docs-deploy: any of: docs/**/*
