Repository soapbox-pub/soapbox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deps, lint-js, lint-sass, jest, nginx-test, docs-deploy

.gitlab-ci.yml:

image: node:20

variables:
  NODE_ENV: test

default:
  interruptible: true

cache: &cache
  key:
    files:
      - yarn.lock
  paths:
    - node_modules/
  policy: pull

stages:
  - deps
  - test
  - deploy
  - release

deps:
  stage: deps
  script: yarn install --ignore-scripts
  only:
    changes:
      - yarn.lock
  cache:
    <<: *cache
    policy: push

danger:
  stage: test
  script:
    # https://github.com/danger/danger-js/issues/1029#issuecomment-998915436
    - export CI_MERGE_REQUEST_IID=${CI_OPEN_MERGE_REQUESTS#*!}
    - npx danger ci
  except:
    variables:
      - $CI_DEFAULT_BRANCH == $CI_COMMIT_REF_NAME
  allow_failure: true

lint-js:
  stage: test
  script: yarn lint:js
  only:
    changes:
      - "**/*.js"
      - "**/*.jsx"
      - "**/*.cjs"
      - "**/*.mjs"
      - "**/*.ts"
      - "**/*.tsx"
      - ".eslintignore"
      - ".eslintrc.cjs"

lint-sass:
  stage: test
  script: yarn lint:sass
  only:
    changes:
      - "**/*.scss"
      - "**/*.css"
      - ".stylelintrc.json"

jest:
  stage: test
  script: yarn test:coverage --runInBand
  only:
    changes:
      - "**/*.js"
      - "**/*.json"
      - "app/soapbox/**/*"
      - "webpack/**/*"
      - "custom/**/*"
      - "jest.config.cjs"
      - "package.json"
      - "yarn.lock"
      - ".gitlab-ci.yml"
  coverage: /All files[^|]*\|[^|]*\s+([\d\.]+)/
  artifacts:
    reports:
      junit: junit.xml
      coverage_report:
        coverage_format: cobertura
        path: .coverage/cobertura-coverage.xml

nginx-test:
  stage: test
  image: nginx:latest
  before_script:
    - cp installation/mastodon.conf /etc/nginx/conf.d/default.conf
  script: nginx -t
  only:
    changes:
      - "installation/mastodon.conf"

build-production:
  stage: test
  script:
    - yarn build
    - yarn manage:translations en
    # Fail if files got changed.
    # https://stackoverflow.com/a/9066385
    - git diff --quiet
  variables:
    NODE_ENV: production
  artifacts:
    paths:
     - static

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
    - apk add curl
  script:
    - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline
  only:
    variables:
      - $CI_DEFAULT_BRANCH == $CI_COMMIT_REF_NAME
    changes:
      - "docs/**/*"

review:
  stage: deploy
  environment:
    name: review/$CI_COMMIT_REF_NAME
    url: https://$CI_COMMIT_REF_SLUG.git.soapbox.pub
  script:
    - npx -y surge static $CI_COMMIT_REF_SLUG.git.soapbox.pub
  allow_failure: true

pages:
  stage: deploy
  before_script: []
  script:
    # artifacts are kept between jobs
    - mv static public
  variables:
    NODE_ENV: production
  artifacts:
    paths:
    - public
  only:
    variables:
      - $CI_DEFAULT_BRANCH == $CI_COMMIT_REF_NAME

docker:
  stage: deploy
  image: docker:23.0.0
  services:
    - docker:23.0.0-dind
  tags:
    - dind
  # https://medium.com/devops-with-valentine/how-to-build-a-docker-image-and-push-it-to-the-gitlab-container-registry-from-a-gitlab-ci-pipeline-acac0d1f26df
  script:
    - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
    - docker build -t $CI_REGISTRY_IMAGE:$CI_COMMIT_TAG .
    - docker push $CI_REGISTRY_IMAGE:$CI_COMMIT_TAG
  rules:
    - if: $CI_COMMIT_TAG
  interruptible: false

release:
  stage: release
  rules:
    - if: $CI_COMMIT_TAG
  script:
    - npx ts-node ./scripts/do-release.ts
  interruptible: false

include:
  - template: Jobs/Dependency-Scanning.gitlab-ci.yml
  - template: Security/License-Scanning.gitlab-ci.yml

Upgrade axios-mock-adapter
  app/soapbox/features/ui/components/__tests__/trends-panel.test.tsx
  package.json
  yarn.lock
Due: deps, lint-js, jest

Swap out exif-js for exifr
  app/soapbox/utils/resize-image.ts
  package.json
  yarn.lock
Due: deps, lint-js, jest

Rename static --> dist, build-production --> build, output .zip with subdir
  .dockerignore
  .eslintignore
  .gitignore
  .gitlab-ci.yml
  Dockerfile
  app/soapbox/build-config-compiletime.ts
  docs/development/build-config.md
  docs/development/yarn-commands.md
  vite.config.ts
Due: lint-js, jest, docs-deploy

build: try a glob for the artifact path
  .gitlab-ci.yml
Due: jest

build: produce a soapbox.zip
  .dockerignore
  .gitignore
  .gitlab-ci.yml
Due: jest

build: install zip command
  .gitlab-ci.yml
Due: jest

ci: unzip soapbox.zip before review and deploy jobs
  .gitlab-ci.yml
Due: jest

ci: install unzip command
  .gitlab-ci.yml
Due: jest

ci: fix unzip command
  .gitlab-ci.yml
Due: jest

docs: update branch URLs, update install instructions
  docs/administration/deploy-at-scale.md
  docs/administration/install-yunohost.md
  docs/administration/mastodon.md
  docs/administration/updating.md
  docs/contributing.md
  docs/development/developing-backend.md
  docs/development/how-it-works.md
  docs/development/running-locally.md
  docs/installing.md
  installation/mastodon.conf
Due: nginx-test, docs-deploy

Change app/ to src/ in configuration files etc
  .eslintrc.cjs
  .gitlab-ci.yml
  .lintstagedrc.json
  dangerfile.ts
  docs/development/build-config.md
  docs/development/developing-backend.md
  package.json
  tailwind.config.cjs
  tsconfig.json
  vite.config.ts
Due: lint-js, jest, docs-deploy

Delete unused index.ejs
  src/index.ejs
Due: none

Update code to deal with new paths under src
  .eslintrc.cjs
  .gitignore
  package.json
  src/components/site-logo.tsx
  src/components/verification-badge.tsx
  src/custom.ts
  src/features/crypto-donate/components/crypto-icon.tsx
  src/index.html
  src/main.tsx
  src/messages.ts
  src/normalizers/__tests__/account.test.ts
  src/normalizers/account.ts
  src/normalizers/group.ts
  src/schemas/account.ts
  src/schemas/group.ts
  src/utils/accounts.ts
  src/utils/code-compiletime.ts
  src/utils/sounds.ts
  tsconfig.json
  vite.config.ts
  yarn.lock
Due: deps, lint-js, jest

vite: simplify config
  vite.config.ts
Due: lint-js

vite: copy instance directory again
  vite.config.ts
Due: lint-js

tsconfig: fix src types
  tsconfig.json
Due: jest

Move index.html to project root
  index.html
  vite.config.ts
Due: lint-js

docs: src/soapbox --> src
  .eslintrc.cjs
  .gitlab-ci.yml
  dangerfile.ts
  docs/development/build-config.md
  docs/development/developing-backend.md
Due: lint-js, jest, docs-deploy

Fix eslint import errors
  src/components/sidebar-menu.tsx
  src/features/chats/components/chat-search/chat-search.tsx
  src/features/home-timeline/index.tsx
  src/pages/group-page.tsx
  src/reducers/__tests__/auth.test.ts
  src/reducers/suggestions.ts
Due: lint-js

ci: combine lint-js and lint-scss into one job, lint
  .gitlab-ci.yml
Due: jest

Remove nginx test
  .gitlab-ci.yml
Due: jest

ci: cleanup commented code
  .gitlab-ci.yml
Due: jest

Remove Danger
  .gitlab-ci.yml
  dangerfile.ts
  package.json
  yarn.lock
Due: deps, lint-js, jest

tailwind: use the correct path for index.html
  tailwind.config.cjs
Due: lint-js

Remove FE_BUILD_DIR build config
  docs/development/build-config.md
  src/build-config-compiletime.ts
  src/build-config.ts
Due: lint-js, docs-deploy

Support snippets.html again
  index.html
  vite.config.ts
Due: lint-js

vite: copy in custom instance dir
  vite.config.ts
Due: lint-js

Remove Truth Social registration
  package.json
  src/actions/verification.ts
  src/components/ui/index.ts
  src/components/ui/phone-input/country-code-dropdown.tsx
  src/components/ui/phone-input/phone-input.tsx
  src/containers/soapbox.tsx
  src/features/auth-layout/index.tsx
  src/features/auth-login/components/password-reset-confirm.tsx
  src/features/edit-password/index.tsx
  src/features/landing-page/__tests__/landing-page.test.tsx
  src/features/landing-page/index.tsx
  src/features/ui/components/modal-root.tsx
  src/features/ui/components/modals/verify-sms-modal.tsx
  src/features/ui/util/async-components.ts
  src/features/verification/__tests__/index.test.tsx
  src/features/verification/__tests__/registration.test.tsx
  src/features/verification/components/password-indicator.tsx
  src/features/verification/email-passthru.tsx
  src/features/verification/index.tsx
  src/features/verification/registration.tsx
  src/features/verification/steps/__tests__/age-verification.test.tsx
  src/features/verification/steps/__tests__/email-verification.test.tsx
  src/features/verification/steps/__tests__/sms-verification.test.tsx
  src/features/verification/steps/age-verification.tsx
  src/features/verification/steps/email-verification.tsx
  src/features/verification/steps/sms-verification.tsx
  src/features/verification/waitlist-page.tsx
  src/hooks/__tests__/useRegistrationStatus.test.ts
  src/hooks/useRegistrationStatus.ts
  src/jest/mock-stores.tsx
  src/reducers/index.ts
  src/reducers/verification.ts
  src/utils/features.ts
  yarn.lock
Due: deps, lint-js, jest

fix(deps): update dependency react-inlinesvg to v4
  package.json
  yarn.lock
Due: deps, jest

fix(deps): update dependency react-otp-input to v3
  package.json
  yarn.lock
Due: deps, jest

fix(deps): update dependency type-fest to v4
  package.json
  yarn.lock
Due: deps, jest

Delete verification test
  src/reducers/__tests__/verification.test.ts
Due: lint-js

Remove Truth Social Ads
  package.json
  src/components/status-list.tsx
  src/features/ads/components/ad.tsx
  src/features/ads/providers/index.ts
  src/features/ads/providers/soapbox-config.ts
  src/features/ads/providers/truth.ts
  src/features/timeline-insertion/__tests__/abovefold.test.ts
  src/features/timeline-insertion/__tests__/linear.test.ts
  src/features/timeline-insertion/abovefold.ts
  src/features/timeline-insertion/index.ts
  src/features/timeline-insertion/linear.ts
  src/features/timeline-insertion/types.ts
  src/normalizers/soapbox/soapbox-config.ts
  src/queries/ads.ts
  src/schemas/index.ts
  src/schemas/soapbox/ad.ts
  src/utils/__tests__/ads.test.ts
  src/utils/ads.ts
  yarn.lock
Due: deps, lint-js, jest

Translated using Weblate (Italian)
  src/locales/it.json
Due: jest

Remove support for Rumble video embeds
  src/__fixtures__/truthsocial-status-with-external-video.json
  src/components/status-media.tsx
  src/features/preferences/index.tsx
  src/features/test-timeline/index.tsx
  src/normalizers/__tests__/status.test.ts
  src/normalizers/attachment.ts
  src/schemas/attachment.ts
Due: lint-js, jest

Move About pages to within the UI
  src/actions/about.ts
  src/containers/soapbox.tsx
  src/features/about/index.tsx
  src/features/public-layout/index.tsx
  src/features/ui/index.tsx
  src/features/ui/util/async-components.ts
  src/instance/about.example/index.html
Due: lint-js

Improve about templates
  src/instance/about.example/dmca.html
  src/instance/about.example/index.html
  src/instance/about.example/privacy.html
  src/instance/about.example/tos.html
Due: none

Remove types for seedrandom
  package.json
  src/assets/icons/COPYING.md
  yarn.lock
Due: deps, jest
