Repository soapbox-pub/soapbox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deps, lint, docs-deploy

.gitlab-ci.yml:

image: node:20

variables:
  NODE_ENV: test
  DS_EXCLUDED_ANALYZERS: gemnasium-python

default:
  interruptible: true

cache: &cache
  key:
    files:
      - yarn.lock
  paths:
    - node_modules/
  policy: pull

stages:
  - deps
  - test
  - deploy
  - release

deps:
  stage: deps
  script: yarn install --ignore-scripts
  only:
    changes:
      - yarn.lock
  cache:
    <<: *cache
    policy: push

danger:
  stage: test
  script:
    # https://github.com/danger/danger-js/issues/1029#issuecomment-998915436
    - export CI_MERGE_REQUEST_IID=${CI_OPEN_MERGE_REQUESTS#*!}
    - npx danger ci
  except:
    variables:
      - $CI_DEFAULT_BRANCH == $CI_COMMIT_REF_NAME
  allow_failure: true

lint:
  stage: test
  script: yarn lint
  only:
    changes:
      - "**/*.js"
      - "**/*.jsx"
      - "**/*.cjs"
      - "**/*.mjs"
      - "**/*.ts"
      - "**/*.tsx"
      - "**/*.scss"
      - "**/*.css"
      - ".eslintignore"
      - ".eslintrc.cjs"
      - ".stylelintrc.json"

build:
  stage: test
  before_script:
    - apt-get update -y && apt-get install -y zip
  script:
    - yarn build
    - cp dist/index.html dist/404.html
    - cd dist && zip -r ../soapbox.zip . && cd ..
  variables:
    NODE_ENV: production
  artifacts:
    paths:
     - soapbox.zip

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
    - apk add curl
  script:
    - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline
  only:
    variables:
      - $CI_DEFAULT_BRANCH == $CI_COMMIT_REF_NAME
    changes:
      - "docs/**/*"

review:
  stage: deploy
  environment:
    name: review/$CI_COMMIT_REF_NAME
    url: https://$CI_COMMIT_REF_SLUG.git.soapbox.pub
  before_script:
    - apt-get update -y && apt-get install -y unzip
  script:
    - unzip soapbox.zip -d dist
    - npx -y surge dist $CI_COMMIT_REF_SLUG.git.soapbox.pub
  allow_failure: true

pages:
  stage: deploy
  before_script:
    - apt-get update -y && apt-get install -y unzip
  script:
    # artifacts are kept between jobs
    - unzip soapbox.zip -d public
  variables:
    NODE_ENV: production
  artifacts:
    paths:
    - public
  only:
    variables:
      - $CI_DEFAULT_BRANCH == $CI_COMMIT_REF_NAME

docker:
  stage: deploy
  image: docker:24.0.6
  services:
    - docker:24.0.6-dind
  tags:
    - dind
  # https://medium.com/devops-with-valentine/how-to-build-a-docker-image-and-push-it-to-the-gitlab-container-registry-from-a-gitlab-ci-pipeline-acac0d1f26df
  script:
    - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
    - docker build -t $CI_REGISTRY_IMAGE:$CI_COMMIT_TAG .
    - docker push $CI_REGISTRY_IMAGE:$CI_COMMIT_TAG
  rules:
    - if: $CI_COMMIT_TAG
  interruptible: false

release:
  stage: release
  rules:
    - if: $CI_COMMIT_TAG
  script:
    - npx ts-node ./scripts/do-release.ts
  interruptible: false

include:
  - template: Jobs/Dependency-Scanning.gitlab-ci.yml

adding tailwind snap effect to scrolled autosuggested items
  src/features/compose/components/autosuggest-account.tsx
  src/features/compose/editor/plugins/autosuggest-plugin.tsx
Due: lint

Translated using Weblate (Arabic)
  src/locales/ar.json
Due: none

Translated using Weblate (Hebrew)
  src/locales/he.json
Due: none

Update translation files
  src/locales/he.json
Due: none

Force use of latn numberingSystem throughout the UI Fixes https://gitlab.com/soapbox-pub/soapbox/-/issues/1580
  src/components/animated-number.tsx
  src/features/admin/components/dashcounter.tsx
  src/utils/numbers.tsx
Due: lint

Sentry: ignore ResizeObserver errors from Virtuoso
  src/sentry.ts
Due: lint

sounds: suppress error when user has disabled autoplay
  src/utils/sounds.ts
Due: lint

Refactor sounds, oga -> ogg, remove proprietary avatar from boop.mp3
  src/assets/sounds/LICENSE.md
  src/assets/sounds/boop.mp3
  src/assets/sounds/boop.ogg
  src/assets/sounds/chat.ogg
  src/utils/sounds.ts
Due: lint

Update dependency intl-messageformat to v10.5.4
  package.json
  yarn.lock
Due: deps

adding rtl languages support to announcements
  src/components/announcements/announcement-content.tsx
  src/components/announcements/announcement.tsx
Due: lint

Apply 1 suggestion(s) to 1 file(s)
  src/components/announcements/announcement-content.tsx
Due: lint

Update dependency @tanstack/react-query to v5
  package.json
  yarn.lock
Due: deps

Update code to new react-query API
  src/actions/streaming.ts
  src/api/hooks/groups/useGroupValidation.ts
  src/features/account/components/header.tsx
  src/features/chats/components/chat-message-list-intro.tsx
  src/features/chats/components/chat-message.tsx
  src/features/chats/components/chat-page/components/chat-page-settings.tsx
  src/features/chats/components/chat-page/components/welcome.tsx
  src/features/chats/components/chat-search/chat-search.tsx
  src/features/chats/components/chat.tsx
  src/queries/__mocks__/client.ts
  src/queries/accounts.ts
  src/queries/chats.ts
  src/queries/client.ts
  src/queries/embed.ts
  src/queries/relationships.ts
  src/queries/search.ts
  src/queries/suggestions.ts
  src/queries/trends.ts
  src/utils/chats.ts
  src/utils/queries.ts
Due: lint

Update dependency @types/react-motion to ^0.0.36
  package.json
  yarn.lock
Due: deps

Update Node.js to v21
  .gitlab-ci.yml
  Dockerfile
  Dockerfile.dev
Due: none

AccountGallery: fix crash when account isn't loaded yet
  src/features/account-gallery/index.tsx
Due: lint

Enable Sentry in production only
  src/sentry.ts
Due: lint

SoapboxMount: fix Suspense boundary for UI Fixes https://gitlab.com/soapbox-pub/soapbox/-/issues/1589
  src/init/soapbox-mount.tsx
Due: lint

Delete monitoring.ts, add `captureSentryException` to sentry.ts
  src/components/error-boundary.tsx
  src/monitoring.ts
  src/sentry.ts
Due: lint

Sentry: add return types, return eventId from `captureSentryException`
  src/sentry.ts
Due: lint

Rewrite ErrorBoundary as a functional component using `react-error-boundary`
  package.json
  src/components/error-boundary.tsx
  src/init/soapbox-mount.tsx
  yarn.lock
Due: deps, lint

error-boundary.ts -> site-error-boundary.ts
  src/components/site-error-boundary.tsx
  src/init/soapbox-mount.tsx
Due: lint

SiteErrorBoundary: refactor links, optimize for production
  src/components/site-error-boundary.tsx
Due: lint

SiteErrorBoundary: rework conditionals for Sentry and production
  src/components/site-error-boundary.tsx
Due: lint

Fix `rows` prop in Textarea, use Textarea in SiteErrorBoundary
  src/components/site-error-boundary.tsx
  src/components/ui/textarea/textarea.tsx
Due: lint

Upgrade Sentry to latest version
  package.json
  yarn.lock
Due: deps

Update Takahē compatibility, add fixVersion to instanceSchema
  src/schemas/instance.ts
  src/utils/features.ts
Due: lint

Add 'local' to account schema
  src/actions/moderation.tsx
  src/components/profile-hover-card.tsx
  src/components/status-action-bar.tsx
  src/components/translate-button.tsx
  src/features/account/components/header.tsx
  src/features/event/components/event-header.tsx
  src/features/ui/components/modals/account-moderation-modal/account-moderation-modal.tsx
  src/features/ui/components/modals/report-modal/steps/other-actions-step.tsx
  src/features/ui/components/profile-info-panel.tsx
  src/pages/profile-page.tsx
  src/schemas/account.ts
  src/utils/accounts.ts
Due: lint

Remove type assertion when not needed
  src/components/event-preview.tsx
  src/components/quoted-status.tsx
  src/components/status-action-bar.tsx
  src/components/status-reply-mentions.tsx
  src/components/status.tsx
  src/features/event/components/event-header.tsx
  src/features/scheduled-statuses/components/scheduled-status.tsx
  src/features/ui/components/pending-status.tsx
Due: lint

Add a Sentry feedback form which does not work
  src/components/site-error-boundary.tsx
  src/sentry.ts
Due: lint

Move SentryFeedbackForm into a separate component
  src/components/sentry-feedback-form.tsx
  src/components/site-error-boundary.tsx
Due: lint
