Repository soapbox-pub/soapbox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deps, lint-js, lint-sass, jest, nginx-test, docs-deploy

.gitlab-ci.yml:

image: node:20

variables:
  NODE_ENV: test

default:
  interruptible: true

cache: &cache
  key:
    files:
      - yarn.lock
  paths:
    - node_modules/
  policy: pull

stages:
  - deps
  - test
  - deploy
  - release

deps:
  stage: deps
  script: yarn install --ignore-scripts
  only:
    changes:
      - yarn.lock
  cache:
    <<: *cache
    policy: push

danger:
  stage: test
  script:
    # https://github.com/danger/danger-js/issues/1029#issuecomment-998915436
    - export CI_MERGE_REQUEST_IID=${CI_OPEN_MERGE_REQUESTS#*!}
    - npx danger ci
  except:
    variables:
      - $CI_DEFAULT_BRANCH == $CI_COMMIT_REF_NAME
  allow_failure: true

lint-js:
  stage: test
  script: yarn lint:js
  only:
    changes:
      - "**/*.js"
      - "**/*.jsx"
      - "**/*.cjs"
      - "**/*.mjs"
      - "**/*.ts"
      - "**/*.tsx"
      - ".eslintignore"
      - ".eslintrc.cjs"

lint-sass:
  stage: test
  script: yarn lint:sass
  only:
    changes:
      - "**/*.scss"
      - "**/*.css"
      - ".stylelintrc.json"

jest:
  stage: test
  script: yarn test:coverage --runInBand
  only:
    changes:
      - "**/*.js"
      - "**/*.json"
      - "app/soapbox/**/*"
      - "webpack/**/*"
      - "custom/**/*"
      - "jest.config.cjs"
      - "package.json"
      - "yarn.lock"
      - ".gitlab-ci.yml"
  coverage: /All files[^|]*\|[^|]*\s+([\d\.]+)/
  artifacts:
    reports:
      junit: junit.xml
      coverage_report:
        coverage_format: cobertura
        path: .coverage/cobertura-coverage.xml

nginx-test:
  stage: test
  image: nginx:latest
  before_script:
    - cp installation/mastodon.conf /etc/nginx/conf.d/default.conf
  script: nginx -t
  only:
    changes:
      - "installation/mastodon.conf"

build-production:
  stage: test
  script:
    - yarn build
    - yarn manage:translations en
    # Fail if files got changed.
    # https://stackoverflow.com/a/9066385
    - git diff --quiet
  variables:
    NODE_ENV: production
  artifacts:
    paths:
     - static

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
    - apk add curl
  script:
    - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline
  only:
    variables:
      - $CI_DEFAULT_BRANCH == $CI_COMMIT_REF_NAME
    changes:
      - "docs/**/*"

review:
  stage: deploy
  environment:
    name: review/$CI_COMMIT_REF_NAME
    url: https://$CI_COMMIT_REF_SLUG.git.soapbox.pub
  script:
    - npx -y surge static $CI_COMMIT_REF_SLUG.git.soapbox.pub
  allow_failure: true

pages:
  stage: deploy
  before_script: []
  script:
    # artifacts are kept between jobs
    - mv static public
  variables:
    NODE_ENV: production
  artifacts:
    paths:
    - public
  only:
    variables:
      - $CI_DEFAULT_BRANCH == $CI_COMMIT_REF_NAME

docker:
  stage: deploy
  image: docker:23.0.0
  services:
    - docker:23.0.0-dind
  tags:
    - dind
  # https://medium.com/devops-with-valentine/how-to-build-a-docker-image-and-push-it-to-the-gitlab-container-registry-from-a-gitlab-ci-pipeline-acac0d1f26df
  script:
    - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
    - docker build -t $CI_REGISTRY_IMAGE:$CI_COMMIT_TAG .
    - docker push $CI_REGISTRY_IMAGE:$CI_COMMIT_TAG
  rules:
    - if: $CI_COMMIT_TAG
  interruptible: false

release:
  stage: release
  rules:
    - if: $CI_COMMIT_TAG
  script:
    - npx ts-node ./scripts/do-release.ts
  interruptible: false

include:
  - template: Jobs/Dependency-Scanning.gitlab-ci.yml
  - template: Security/License-Scanning.gitlab-ci.yml

Support Mastodon nightly version
  app/soapbox/utils/__tests__/features.test.ts
  app/soapbox/utils/features.ts
Due: lint-js, jest

Add Followed hashtags page
  app/soapbox/components/sidebar-menu.tsx
  app/soapbox/features/followed-tags/index.tsx
  app/soapbox/features/ui/components/link-footer.tsx
  app/soapbox/features/ui/index.tsx
  app/soapbox/features/ui/util/async-components.ts
  app/soapbox/locales/en.json
  app/soapbox/reducers/followed-tags.ts
  app/soapbox/reducers/index.ts
  app/soapbox/utils/__tests__/features.test.ts
Due: lint-js, jest

Fix hotkey navigation in media modal
  app/soapbox/components/status-list.tsx
  app/soapbox/components/ui/card/card.tsx
  app/soapbox/containers/soapbox.tsx
  app/soapbox/features/feed-suggestions/feed-suggestions.tsx
  app/soapbox/features/status/components/thread.tsx
  app/soapbox/features/ui/index.tsx
Due: lint-js, jest

Fix "0" in place of ProfileFieldsPanel when no fields are set Fixes https://gitlab.com/soapbox-pub/soapbox/-/issues/1453
  app/soapbox/pages/profile-page.tsx
Due: lint-js, jest

Show year for older chat messages
  app/soapbox/features/chats/components/chat-message-list.tsx
Due: lint-js, jest

Move Hotkeys to a new component
  app/soapbox/containers/soapbox.tsx
  app/soapbox/features/ui/util/global-hotkeys.tsx
Due: lint-js, jest

Focus the correct status in media modal
  app/soapbox/features/status/components/thread.tsx
  package.json
  yarn.lock
Due: deps, lint-js, jest

Move GlobalHotkeys back to features/ui for now
  app/soapbox/containers/soapbox.tsx
  app/soapbox/features/ui/index.tsx
  app/soapbox/features/ui/util/global-hotkeys.tsx
Due: lint-js, jest

Fix hotkeys breaking newline handling
  app/soapbox/features/compose/editor/plugins/autosuggest-plugin.tsx
Due: lint-js, jest

Allow creating horizontal lines
  app/soapbox/features/compose/editor/index.tsx
  app/soapbox/features/compose/editor/plugins/floating-block-type-toolbar-plugin.tsx
  app/soapbox/features/compose/editor/plugins/floating-text-format-toolbar-plugin.tsx
Due: lint-js, jest

Use AvatarPicker/HeaderPicker on Edit Profile page
  app/soapbox/api/hooks/groups/useUpdateGroup.ts
  app/soapbox/components/still-image.tsx
  app/soapbox/features/edit-profile/components/avatar-picker.tsx
  app/soapbox/features/edit-profile/components/header-picker.tsx
  app/soapbox/features/edit-profile/components/profile-preview.tsx
  app/soapbox/features/edit-profile/index.tsx
  app/soapbox/features/group/edit-group.tsx
  app/soapbox/features/ui/components/modals/manage-group-modal/steps/details-step.tsx
  app/soapbox/hooks/forms/useImageField.ts
  app/soapbox/hooks/forms/usePreview.ts
Due: lint-js, jest

Update en.json
  app/soapbox/api/hooks/groups/useUpdateGroup.ts
  app/soapbox/locales/en.json
Due: lint-js, jest

Fix HeaderPicker/AvatarPicker for missing images
  app/soapbox/features/edit-profile/components/header-picker.tsx
  app/soapbox/utils/accounts.ts
Due: lint-js, jest

Fix useGroupLookup test
  app/soapbox/api/hooks/groups/__tests__/useGroupLookup.test.ts
Due: lint-js, jest

useAccountLookup, useGroupLookup: make lookup case insensitive Fixes https://gitlab.com/soapbox-pub/soapbox/-/issues/1460
  app/soapbox/api/hooks/accounts/useAccountLookup.ts
  app/soapbox/api/hooks/groups/useGroupLookup.ts
Due: lint-js, jest

ProfileInfoPanel: truncate bio Fixes https://gitlab.com/soapbox-pub/soapbox/-/issues/1456
  app/soapbox/features/ui/components/profile-info-panel.tsx
Due: lint-js, jest

Support Calckey, maybe
  app/soapbox/utils/features.ts
Due: lint-js, jest

Enable familiar followers on Rebased
  app/soapbox/utils/features.ts
Due: lint-js, jest

Fix features.ts
  app/soapbox/hooks/forms/useImageField.ts
  app/soapbox/utils/features.ts
Due: lint-js, jest

Add AvatarStack component
  app/soapbox/components/avatar-stack.tsx
  app/soapbox/features/ui/components/profile-familiar-followers.tsx
Due: lint-js, jest

FAMILIAR_FOLLOWERS_FETCH_FAIL: skipAlert: true
  app/soapbox/actions/familiar-followers.ts
Due: lint-js, jest

Actually, account.url is not optional
  app/soapbox/schemas/account.ts
Due: lint-js, jest

Fix account.url tests
  app/soapbox/components/__tests__/quoted-status.test.tsx
  app/soapbox/features/ui/components/__tests__/who-to-follow-panel.test.tsx
  app/soapbox/jest/factory.ts
Due: lint-js, jest

Update publicPath output to either use environment variable provided by developer building or default to '/' to avoid broken builds on Windows.
  webpack/development.ts
  webpack/production.ts
Due: lint-js, jest

Move changes to shared.ts
  webpack/development.ts
  webpack/production.ts
  webpack/shared.ts
Due: lint-js, jest

Fix scheduled posts Fixes https://gitlab.com/soapbox-pub/soapbox/-/issues/1445
  app/soapbox/features/scheduled-statuses/components/scheduled-status.tsx
  app/soapbox/normalizers/status.ts
  app/soapbox/utils/normalizers.ts
Due: lint-js, jest

Translated using Weblate (Arabic)
  app/soapbox/locales/ar.json
Due: jest

Translated using Weblate (Chinese (Simplified))
  app/soapbox/locales/zh-CN.json
Due: jest

Translated using Weblate (Russian)
  app/soapbox/locales/ru.json
Due: jest

Translated using Weblate (Turkish)
  app/soapbox/locales/tr.json
Due: jest

Fix FE_SUBDIRECTORY lint error
  webpack/shared.ts
Due: lint-js, jest

Update lexical
  package.json
  yarn.lock
Due: deps, jest

Make Compose hotkey open Compose modal when required
  app/soapbox/features/ui/components/modals/hotkeys-modal.tsx
  app/soapbox/features/ui/util/global-hotkeys.tsx
  app/soapbox/locales/en.json
Due: lint-js, jest

Use lexical-remark for Lexical<->Markdown conversions
  app/soapbox/features/compose/editor/index.tsx
  app/soapbox/features/compose/editor/transformers/index.ts
  package.json
  webpack/shared.ts
  yarn.lock
Due: deps, lint-js, jest

Add option to preserve spoilers text when replying
  app/soapbox/actions/compose.ts
  app/soapbox/actions/settings.ts
  app/soapbox/features/forms/index.tsx
  app/soapbox/features/preferences/index.tsx
  app/soapbox/reducers/compose.ts
Due: lint-js, jest
