Repository soapbox-pub/soapbox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deps, lint-js, lint-sass, jest, nginx-test, docs-deploy

.gitlab-ci.yml:

image: node:20

variables:
  NODE_ENV: test

default:
  interruptible: true

cache: &cache
  key:
    files:
      - yarn.lock
  paths:
    - node_modules/
  policy: pull

stages:
  - deps
  - test
  - deploy
  - release

deps:
  stage: deps
  script: yarn install --ignore-scripts
  only:
    changes:
      - yarn.lock
  cache:
    <<: *cache
    policy: push

danger:
  stage: test
  script:
    # https://github.com/danger/danger-js/issues/1029#issuecomment-998915436
    - export CI_MERGE_REQUEST_IID=${CI_OPEN_MERGE_REQUESTS#*!}
    - npx danger ci
  except:
    variables:
      - $CI_DEFAULT_BRANCH == $CI_COMMIT_REF_NAME
  allow_failure: true

lint-js:
  stage: test
  script: yarn lint:js
  only:
    changes:
      - "**/*.js"
      - "**/*.jsx"
      - "**/*.cjs"
      - "**/*.mjs"
      - "**/*.ts"
      - "**/*.tsx"
      - ".eslintignore"
      - ".eslintrc.cjs"

lint-sass:
  stage: test
  script: yarn lint:sass
  only:
    changes:
      - "**/*.scss"
      - "**/*.css"
      - ".stylelintrc.json"

jest:
  stage: test
  script: yarn test:coverage --runInBand
  only:
    changes:
      - "**/*.js"
      - "**/*.json"
      - "app/soapbox/**/*"
      - "webpack/**/*"
      - "custom/**/*"
      - "jest.config.cjs"
      - "package.json"
      - "yarn.lock"
      - ".gitlab-ci.yml"
  coverage: /All files[^|]*\|[^|]*\s+([\d\.]+)/
  artifacts:
    reports:
      junit: junit.xml
      coverage_report:
        coverage_format: cobertura
        path: .coverage/cobertura-coverage.xml

nginx-test:
  stage: test
  image: nginx:latest
  before_script:
    - cp installation/mastodon.conf /etc/nginx/conf.d/default.conf
  script: nginx -t
  only:
    changes:
      - "installation/mastodon.conf"

build-production:
  stage: test
  script:
    - yarn build
    - yarn manage:translations en
    # Fail if files got changed.
    # https://stackoverflow.com/a/9066385
    - git diff --quiet
  variables:
    NODE_ENV: production
  artifacts:
    paths:
     - static

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
    - apk add curl
  script:
    - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline
  only:
    variables:
      - $CI_DEFAULT_BRANCH == $CI_COMMIT_REF_NAME
    changes:
      - "docs/**/*"

review:
  stage: deploy
  environment:
    name: review/$CI_COMMIT_REF_NAME
    url: https://$CI_COMMIT_REF_SLUG.git.soapbox.pub
  script:
    - npx -y surge static $CI_COMMIT_REF_SLUG.git.soapbox.pub
  allow_failure: true

pages:
  stage: deploy
  before_script: []
  script:
    # artifacts are kept between jobs
    - mv static public
  variables:
    NODE_ENV: production
  artifacts:
    paths:
    - public
  only:
    variables:
      - $CI_DEFAULT_BRANCH == $CI_COMMIT_REF_NAME

docker:
  stage: deploy
  image: docker:23.0.0
  services:
    - docker:23.0.0-dind
  tags:
    - dind
  # https://medium.com/devops-with-valentine/how-to-build-a-docker-image-and-push-it-to-the-gitlab-container-registry-from-a-gitlab-ci-pipeline-acac0d1f26df
  script:
    - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
    - docker build -t $CI_REGISTRY_IMAGE:$CI_COMMIT_TAG .
    - docker push $CI_REGISTRY_IMAGE:$CI_COMMIT_TAG
  rules:
    - if: $CI_COMMIT_TAG
  interruptible: false

release:
  stage: release
  rules:
    - if: $CI_COMMIT_TAG
  script:
    - npx ts-node ./scripts/do-release.ts
  interruptible: false

include:
  - template: Jobs/Dependency-Scanning.gitlab-ci.yml
  - template: Security/License-Scanning.gitlab-ci.yml

Make Vite devserver work
  app/index.html
  app/soapbox/build-config-compiletime.ts
  app/soapbox/build-config.js
  app/soapbox/build-config.ts
  app/soapbox/custom.ts
  app/soapbox/features/crypto-donate/components/crypto-icon.tsx
  app/soapbox/features/emoji/search.ts
  app/soapbox/reducers/auth.ts
  app/soapbox/utils/code-compiletime.ts
  app/soapbox/utils/code.ts
  app/soapbox/utils/static.ts
  package.json
  tsconfig.json
  vite.config.ts
  yarn.lock
Due: deps, lint-js, jest

GitLab CI: remove deprecated license scanning
  .gitlab-ci.yml
Due: jest

Translated using Weblate (Italian)
  app/soapbox/locales/it.json
Due: jest

Translated using Weblate (Persian)
  app/soapbox/locales/fa.json
Due: jest

Translated using Weblate (Chinese (Simplified))
  app/soapbox/locales/zh-CN.json
Due: jest

Translated using Weblate (Polish)
  app/soapbox/locales/pl.json
Due: jest

GitLab CI: disable Jest for now
  .gitlab-ci.yml
Due: jest

tsconfig: remove webworker lib, use triple-slash directive
  app/soapbox/service-worker/web-push-notifications.ts
  tsconfig.json
Due: lint-js, jest

vite: serve on port 3036
  vite.config.ts
Due: lint-js

GitLab CI: ignore the broken manageTranslations script for now
  .gitlab-ci.yml
Due: jest

Remove webpack
  package.json
  postcss.config.cjs
  webpack.config.ts
  webpack/configuration.ts
  webpack/development.ts
  webpack/loaders/git-loader.ts
  webpack/production.ts
  webpack/rules/assets.ts
  webpack/rules/babel-build-config.ts
  webpack/rules/babel-git.ts
  webpack/rules/babel.ts
  webpack/rules/css.ts
  webpack/rules/git-refresh.ts
  webpack/rules/index.ts
  webpack/rules/node-modules.ts
  webpack/shared.ts
  webpack/test.ts
  yarn.lock
Due: deps, lint-js, jest

npx yarn-deduplicate yarn.lock
  yarn.lock
Due: deps, jest

Add back necessary sass deps
  .eslintrc.cjs
  package.json
  postcss.config.cjs
  yarn.lock
Due: deps, lint-js, jest

fix scheduled post cancel button text
  app/soapbox/features/scheduled-statuses/components/scheduled-status-action-bar.tsx
  app/soapbox/locales/en.json
Due: lint-js, jest

clarify we mean to discard the post
  app/soapbox/features/scheduled-statuses/components/scheduled-status-action-bar.tsx
  app/soapbox/locales/en.json
Due: lint-js, jest

GitLab CI: stop python dependency scanning
  .gitlab-ci.yml
Due: jest

Thread: replace call to setImmediate
  app/soapbox/features/status/components/thread.tsx
Due: lint-js, jest

fix(deps): update dependency @floating-ui/react to ^0.25.0
  package.json
  yarn.lock
Due: deps, jest

chore(deps): update dependency jest-junit to v16
  package.json
  yarn.lock
Due: deps, jest

Add back Babel
  package.json
  vite.config.ts
  yarn.lock
Due: deps, lint-js, jest

browserlist: target newer browsers
  package.json
Due: jest

Fix locale dynamic imports
  app/soapbox/actions/settings.ts
  app/soapbox/actions/streaming.ts
  app/soapbox/containers/soapbox.tsx
  app/soapbox/messages.ts
  app/soapbox/schemas/soapbox/settings.ts
Due: lint-js, jest

Restore 404.html
  .gitlab-ci.yml
Due: jest

Create a wrapper component around react-hotkeys
  app/soapbox/components/status.tsx
  app/soapbox/components/tombstone.tsx
  app/soapbox/features/feed-suggestions/feed-suggestions.tsx
  app/soapbox/features/notifications/components/notification.tsx
  app/soapbox/features/status/components/thread.tsx
  app/soapbox/features/ui/components/hotkeys.tsx
  app/soapbox/features/ui/util/global-hotkeys.tsx
Due: lint-js, jest

Temporarily disable hotkeys
  app/soapbox/features/ui/components/hotkeys.tsx
Due: lint-js, jest

ProfileFamiliarFollowers: add `key` prop, fix console error
  app/soapbox/features/ui/components/profile-familiar-followers.tsx
Due: lint-js, jest

ProfilePage: don't load account note panel until account is loaded Fixes https://gitlab.com/soapbox-pub/soapbox/-/issues/1514
  app/soapbox/pages/profile-page.tsx
Due: lint-js, jest

ProfileFamiliarFollowers: use a div for the text element, fix console error
  app/soapbox/features/ui/components/profile-familiar-followers.tsx
Due: lint-js, jest

Build ServiceWorker with Webpack
  app/soapbox/main.tsx
  app/soapbox/registerSW.ts
  app/soapbox/service-worker/sw.ts
  app/soapbox/service-worker/web-push-locales-compiletime.ts
  app/soapbox/service-worker/web-push-locales.ts
  package.json
  vite.config.ts
  yarn.lock
Due: deps, lint-js, jest

vite: disable inline assets so CSP will pass
  vite.config.ts
Due: lint-js

vite: reorganize output directory
  vite.config.ts
Due: lint-js

sw: delete unnecessary file
  app/soapbox/service-worker/sw.ts
  app/soapbox/service-worker/web-push-notifications.ts
Due: lint-js, jest

Do some more dumb shit
  .gitignore
  vite.config.ts
Due: lint-js

sw: delete unnecessary file
  app/soapbox/service-worker/entry.ts
  app/soapbox/service-worker/web-push-notifications.ts
Due: lint-js, jest

gitignore vite temp files
  .gitignore
Due: none
