Repository soapbox-pub/soapbox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deps, lint, docs-deploy

deps:
  stage: deps
  script: yarn install --ignore-scripts
  cache:
    key:
      files:
      - yarn.lock
    paths:
    - node_modules/
    policy: push

lint:
  stage: test
  script: yarn lint

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
  - apk add curl
  script:
  - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline

GitLab CI: check yarn i18n
  .gitlab-ci.yml
Due: none

UI: wrap SidebarMenu with Suspense Fixes https://gitlab.com/soapbox-pub/soapbox/-/issues/1562
  src/features/ui/index.tsx
Due: lint

SiteBanner: support RTL
  src/features/landing-timeline/components/logo-text.tsx
  src/features/landing-timeline/components/site-banner.tsx
Due: lint

LogoText: fix text getting cut-off vertically
  src/features/landing-timeline/components/logo-text.tsx
Due: lint

Remove useSentry hook, reorganize in SoapboxHead
  src/hooks/index.ts
  src/init/soapbox-head.tsx
  src/sentry.ts
Due: lint

Send username/id to Sentry
  src/actions/me.ts
  src/sentry.ts
Due: lint

Fix type in compose.test.ts
  src/reducers/compose.test.ts
Due: lint

Sentry: add Soapbox context
  src/sentry.ts
  src/utils/code-compiletime.ts
Due: lint

Sentry: unset the Sentry account when appropriate
  src/actions/auth.ts
  src/sentry.ts
Due: lint

Translated using Weblate (Arabic)
  src/locales/ar.json
Due: none

Translated using Weblate (Chinese (Simplified))
  src/locales/zh-CN.json
Due: none

Upload: switch requires to imports
  src/components/upload.tsx
Due: lint

Upload: swap out deprecated Icon for UI Icon
  src/components/upload.tsx
Due: lint

ComposeForm: pass onSubmit through UploadForm to ComposeUpload
  src/features/compose/components/compose-form.tsx
  src/features/compose/components/upload-form.tsx
  src/features/compose/components/upload.tsx
Due: lint

submitCompose: accept an options object
  src/actions/compose.ts
  src/features/compose/components/compose-form.tsx
Due: lint

adding case insensitive match
  src/features/compose/editor/index.tsx
Due: lint

adding case insensitive match during status composition
  src/features/compose/editor/index.tsx
Due: lint

submitCompose: make it an async function
  src/actions/compose.ts
Due: lint

Update dependency fake-indexeddb to v5
  package.json
  yarn.lock
Due: deps

Split SubmitPlugin out of StatePlugin
  src/features/compose/editor/index.tsx
  src/features/compose/editor/plugins/state-plugin.tsx
  src/features/compose/editor/plugins/submit-plugin.tsx
Due: lint

Unchunk init
  src/init/soapbox.tsx
  src/main.tsx
Due: lint

Make MentionNode a DecoratorNode instead of a TextNode
  src/features/compose/editor/index.tsx
  src/features/compose/editor/nodes/mention-node.ts
  src/features/compose/editor/nodes/mention-node.tsx
  src/features/compose/editor/plugins/autosuggest-plugin.tsx
Due: lint

MentionNode: show the username, not the full acct
  src/features/compose/editor/nodes/mention-node.tsx
Due: lint

MentionNode: add Tooltip
  src/features/compose/editor/nodes/mention-node.tsx
Due: lint

MentionNode: truncate Nostr usernames
  src/features/compose/editor/nodes/mention-node.tsx
Due: lint

MentionNode: move Mention into a separate component
  src/components/mention.tsx
  src/features/compose/editor/nodes/mention-node.tsx
Due: lint

Mention: allow it to link to the profile. disabled for MentionNode
  src/components/mention.tsx
  src/features/compose/editor/index.tsx
  src/features/compose/editor/nodes/mention-node.tsx
Due: lint

StatusContent: render links with html-react-parser
  package.json
  src/components/status-content.tsx
  yarn.lock
Due: deps, lint

Rework MentionNode to take a whole Mention entity
  src/features/compose/editor/nodes/mention-node.tsx
  src/features/compose/editor/plugins/autosuggest-plugin.tsx
Due: lint

Move HashtagLink to separate component
  src/components/hashtag-link.tsx
  src/components/status-content.tsx
Due: lint

Translated using Weblate (Hebrew)
  src/locales/he.json
Due: none

draft: refactored emoji overlay. dropped emoji-mart, twemoji, emoji data. using emoji-picker-react
  package.json
  src/actions/compose.ts
  src/components/announcements/emoji.tsx
  src/components/announcements/reaction.tsx
  src/components/autosuggest-emoji.tsx
  src/components/ui/emoji-selector/emoji-selector.tsx
  src/features/chats/components/chat-composer.tsx
  src/features/compose/editor/nodes/emoji-node.tsx
  src/features/emoji/components/emoji-picker-dropdown.tsx
  src/features/emoji/components/emoji-picker.tsx
  src/features/emoji/data.ts
  src/features/emoji/index.ts
  src/features/emoji/mapping.ts
  src/features/emoji/search.test.ts
  src/features/emoji/search.ts
  src/features/soapbox-config/components/icon-picker-menu.tsx
  src/features/ui/util/async-components.ts
  src/reducers/custom-emojis.ts
  src/styles/emoji-picker.scss
  yarn.lock
Due: deps, lint

Fix ScrollTopButton not loading new posts when scrolled to the top
  src/components/scroll-top-button.tsx
Due: lint

reverting to acct full identifier, inside mention links
  src/components/mention.tsx
Due: lint

Path conditions:
  deps: any of: yarn.lock
  lint: any of: **/*.js, **/*.jsx, **/*.cjs, **/*.mjs, **/*.ts, **/*.tsx, **/*.scss, **/*.css, .eslintignore, .eslintrc.cjs, .stylelintrc.json
  docs-deploy: any of: docs/**/*
