Repository soapbox-pub/soapbox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deps, lint-js, lint-sass, jest, nginx-test, docs-deploy

.gitlab-ci.yml:

image: node:18

variables:
  NODE_ENV: test

default:
  interruptible: true

cache: &cache
  key:
    files:
      - yarn.lock
  paths:
    - node_modules/
  policy: pull

stages:
  - deps
  - test
  - deploy

deps:
  stage: deps
  script: yarn install --ignore-scripts
  only:
    changes:
      - yarn.lock
  cache:
    <<: *cache
    policy: push

danger:
  stage: test
  script:
    # https://github.com/danger/danger-js/issues/1029#issuecomment-998915436
    - export CI_MERGE_REQUEST_IID=${CI_OPEN_MERGE_REQUESTS#*!}
    - npx danger ci
  except:
    variables:
      - $CI_DEFAULT_BRANCH == $CI_COMMIT_REF_NAME
  allow_failure: true

lint-js:
  stage: test
  script: yarn lint:js
  only:
    changes:
      - "**/*.js"
      - "**/*.jsx"
      - "**/*.ts"
      - "**/*.tsx"
      - ".eslintignore"
      - ".eslintrc.js"

lint-sass:
  stage: test
  script: yarn lint:sass
  only:
    changes:
      - "**/*.scss"
      - "**/*.css"
      - ".stylelintrc.json"

jest:
  stage: test
  script: yarn test:coverage --runInBand
  only:
    changes:
      - "**/*.js"
      - "**/*.json"
      - "app/soapbox/**/*"
      - "webpack/**/*"
      - "custom/**/*"
      - "jest.config.js"
      - "package.json"
      - "yarn.lock"
      - ".gitlab-ci.yml"
  coverage: /All files[^|]*\|[^|]*\s+([\d\.]+)/
  artifacts:
    reports:
      junit: junit.xml
      coverage_report:
        coverage_format: cobertura
        path: .coverage/cobertura-coverage.xml

nginx-test:
  stage: test
  image: nginx:latest
  before_script:
    - cp installation/mastodon.conf /etc/nginx/conf.d/default.conf
  script: nginx -t
  only:
    changes:
      - "installation/mastodon.conf"

build-production:
  stage: test
  script:
    - yarn build
    - yarn manage:translations en
    # Fail if files got changed.
    # https://stackoverflow.com/a/9066385
    - git diff --quiet
  variables:
    NODE_ENV: production
  artifacts:
    paths:
     - static

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
    - apk add curl
  script:
    - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline
  only:
    variables:
      - $CI_DEFAULT_BRANCH == $CI_COMMIT_REF_NAME
    changes:
      - "docs/**/*"

review:
  stage: deploy
  environment:
    name: review/$CI_COMMIT_REF_NAME
    url: https://$CI_COMMIT_REF_SLUG.git.soapbox.pub
  script:
    - npx -y surge static $CI_COMMIT_REF_SLUG.git.soapbox.pub
  allow_failure: true

pages:
  stage: deploy
  before_script: []
  script:
    # artifacts are kept between jobs
    - mv static public
  variables:
    NODE_ENV: production
  artifacts:
    paths:
    - public
  only:
    variables:
      - $CI_DEFAULT_BRANCH == $CI_COMMIT_REF_NAME

docker:
  stage: deploy
  image: docker:20.10.22
  services:
    - docker:20.10.22-dind
  tags:
    - dind
  # https://medium.com/devops-with-valentine/how-to-build-a-docker-image-and-push-it-to-the-gitlab-container-registry-from-a-gitlab-ci-pipeline-acac0d1f26df
  script:
    - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
    - docker build -t $CI_REGISTRY_IMAGE .
    - docker push $CI_REGISTRY_IMAGE
  only:
    variables:
      - $CI_DEFAULT_BRANCH == $CI_COMMIT_REF_NAME

include:
  - template: Jobs/Dependency-Scanning.gitlab-ci.yml
  - template: Security/License-Scanning.gitlab-ci.yml

Translated using Weblate (Esperanto)
  app/soapbox/locales/eo.json
Due: jest

Translated using Weblate (Asturian)
  app/soapbox/locales/ast.json
Due: jest

Translated using Weblate (Corsican)
  app/soapbox/locales/co.json
Due: jest

Translated using Weblate (Croatian)
  app/soapbox/locales/hr.json
Due: jest

Translated using Weblate (Armenian)
  app/soapbox/locales/hy.json
Due: jest

Translated using Weblate (Italian)
  app/soapbox/locales/it.json
Due: jest

Translated using Weblate (Dutch)
  app/soapbox/locales/nl.json
Due: jest

Translated using Weblate (Chinese (Traditional, Hong Kong))
  app/soapbox/locales/zh-HK.json
Due: jest

Translated using Weblate (Bengali)
  app/soapbox/locales/bn.json
Due: jest

Translated using Weblate (French)
  app/soapbox/locales/fr.json
Due: jest

Translated using Weblate (Finnish)
  app/soapbox/locales/fi.json
Due: jest

Translated using Weblate (Estonian)
  app/soapbox/locales/et.json
Due: jest

Translated using Weblate (German)
  app/soapbox/locales/de.json
Due: jest

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Add back some polyfills not covered by core-js
  .eslintrc.cjs
  app/soapbox/hooks/useDimensions.ts
  app/soapbox/main.tsx
  app/soapbox/polyfills.ts
  package.json
  webpack/production.ts
  yarn.lock
Due: deps, lint-js, jest

Use a more generous browerlist with higher compatibility
  package.json
Due: jest

Upgrade core-js to v3.27.2
  babel.config.cjs
  package.json
  yarn.lock
Due: deps, jest

Add report.html to sw ignore list
  webpack/production.ts
Due: lint-js, jest

CHANGELOG: browser support
  CHANGELOG.md
Due: none

AutosuggestTextarea: bind `this`, fix crash in older browsers
  app/soapbox/components/autosuggest-textarea.tsx
Due: lint-js, jest

Replace occurrences of fetch() with axios
  app/soapbox/features/ads/components/ad.tsx
  app/soapbox/features/ads/providers/rumble.ts
  app/soapbox/features/ads/providers/truth.ts
  app/soapbox/service-worker/web-push-notifications.ts
Due: lint-js, jest

Fix media modal on older browsers
  app/soapbox/components/modal-root.tsx
  app/styles/components/modal.scss
Due: lint-js, lint-sass, jest

Move polyfills import to the top
  app/soapbox/main.tsx
Due: lint-js, jest

i18n: handle plurals
  app/soapbox/actions/compose.ts
  app/soapbox/actions/notifications.ts
  app/soapbox/features/admin/components/latest-accounts-panel.tsx
  app/soapbox/features/chats/components/chat-message-list-intro.tsx
  app/soapbox/features/chats/components/chat-page/components/chat-page-main.tsx
  app/soapbox/features/chats/components/chat-widget/chat-settings.tsx
  app/soapbox/features/chats/components/chat-widget/chat-window.tsx
  app/soapbox/features/compose/components/visual-character-counter.tsx
  app/soapbox/features/crypto-donate/components/crypto-donate-panel.tsx
  app/soapbox/features/notifications/components/notification.tsx
  app/soapbox/features/ui/components/profile-familiar-followers.tsx
  app/soapbox/features/ui/components/trends-panel.tsx
  app/soapbox/features/ui/components/who-to-follow-panel.tsx
  app/soapbox/features/verification/steps/age-verification.tsx
  app/soapbox/locales/en.json
Due: lint-js, jest

Increase janky test timeout even more >:(
  app/soapbox/features/ui/__tests__/index.test.tsx
Due: lint-js, jest

dropdown buttons have dots, close button is nicer
  CHANGELOG.md
  app/soapbox/features/admin/components/report-status.tsx
  app/soapbox/features/admin/components/report.tsx
Due: lint-js, jest

Make OAuth tokens API more resilient
  app/soapbox/actions/security.ts
  app/soapbox/features/auth-token-list/index.tsx
Due: lint-js, jest
