Repository soapbox-pub/soapbox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deps, lint-js, lint-sass, jest, nginx-test, docs-deploy

.gitlab-ci.yml:

image: node:20

variables:
  NODE_ENV: test

default:
  interruptible: true

cache: &cache
  key:
    files:
      - yarn.lock
  paths:
    - node_modules/
  policy: pull

stages:
  - deps
  - test
  - deploy
  - release

deps:
  stage: deps
  script: yarn install --ignore-scripts
  only:
    changes:
      - yarn.lock
  cache:
    <<: *cache
    policy: push

danger:
  stage: test
  script:
    # https://github.com/danger/danger-js/issues/1029#issuecomment-998915436
    - export CI_MERGE_REQUEST_IID=${CI_OPEN_MERGE_REQUESTS#*!}
    - npx danger ci
  except:
    variables:
      - $CI_DEFAULT_BRANCH == $CI_COMMIT_REF_NAME
  allow_failure: true

lint-js:
  stage: test
  script: yarn lint:js
  only:
    changes:
      - "**/*.js"
      - "**/*.jsx"
      - "**/*.cjs"
      - "**/*.mjs"
      - "**/*.ts"
      - "**/*.tsx"
      - ".eslintignore"
      - ".eslintrc.cjs"

lint-sass:
  stage: test
  script: yarn lint:sass
  only:
    changes:
      - "**/*.scss"
      - "**/*.css"
      - ".stylelintrc.json"

jest:
  stage: test
  script: yarn test:coverage --runInBand
  only:
    changes:
      - "**/*.js"
      - "**/*.json"
      - "app/soapbox/**/*"
      - "webpack/**/*"
      - "custom/**/*"
      - "jest.config.cjs"
      - "package.json"
      - "yarn.lock"
      - ".gitlab-ci.yml"
  coverage: /All files[^|]*\|[^|]*\s+([\d\.]+)/
  artifacts:
    reports:
      junit: junit.xml
      coverage_report:
        coverage_format: cobertura
        path: .coverage/cobertura-coverage.xml

nginx-test:
  stage: test
  image: nginx:latest
  before_script:
    - cp installation/mastodon.conf /etc/nginx/conf.d/default.conf
  script: nginx -t
  only:
    changes:
      - "installation/mastodon.conf"

build-production:
  stage: test
  script:
    - yarn build
    - yarn manage:translations en
    # Fail if files got changed.
    # https://stackoverflow.com/a/9066385
    - git diff --quiet
  variables:
    NODE_ENV: production
  artifacts:
    paths:
     - static

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
    - apk add curl
  script:
    - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline
  only:
    variables:
      - $CI_DEFAULT_BRANCH == $CI_COMMIT_REF_NAME
    changes:
      - "docs/**/*"

review:
  stage: deploy
  environment:
    name: review/$CI_COMMIT_REF_NAME
    url: https://$CI_COMMIT_REF_SLUG.git.soapbox.pub
  script:
    - npx -y surge static $CI_COMMIT_REF_SLUG.git.soapbox.pub
  allow_failure: true

pages:
  stage: deploy
  before_script: []
  script:
    # artifacts are kept between jobs
    - mv static public
  variables:
    NODE_ENV: production
  artifacts:
    paths:
    - public
  only:
    variables:
      - $CI_DEFAULT_BRANCH == $CI_COMMIT_REF_NAME

docker:
  stage: deploy
  image: docker:23.0.0
  services:
    - docker:23.0.0-dind
  tags:
    - dind
  # https://medium.com/devops-with-valentine/how-to-build-a-docker-image-and-push-it-to-the-gitlab-container-registry-from-a-gitlab-ci-pipeline-acac0d1f26df
  script:
    - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
    - docker build -t $CI_REGISTRY_IMAGE:$CI_COMMIT_TAG .
    - docker push $CI_REGISTRY_IMAGE:$CI_COMMIT_TAG
  rules:
    - if: $CI_COMMIT_TAG
  interruptible: false

release:
  stage: release
  rules:
    - if: $CI_COMMIT_TAG
  script:
    - npx ts-node ./scripts/do-release.ts
  interruptible: false

include:
  - template: Jobs/Dependency-Scanning.gitlab-ci.yml
  - template: Security/License-Scanning.gitlab-ci.yml

Remove offline plugin
  app/soapbox/main.tsx
  package.json
  yarn.lock
Due: deps, lint-js, jest

Attempt to register sw.js on pageload
  app/soapbox/components/error-boundary.tsx
  app/soapbox/features/developers/service-worker-info.tsx
  app/soapbox/main.tsx
  app/soapbox/utils/sw.ts
Due: lint-js, jest

package.json: empty outDir when building, add `yarn preview`
  package.json
Due: jest

sw: convert web-push-locales to TypeScript, load it with compileTime plugin
  app/soapbox/service-worker/entry.ts
  app/soapbox/service-worker/web-push-locales.ts
Due: lint-js, jest

entry.ts --> sw.ts
  app/soapbox/service-worker/sw.ts
Due: lint-js, jest

Build the ServiceWorker with Vite
  package.json
  vite.config.ts
  yarn.lock
Due: deps, lint-js, jest

Add vitest, make some tests actually kind of work!
  app/soapbox/jest/test-setup.ts
  package.json
  vite.config.ts
  yarn.lock
Due: deps, lint-js, jest

vitest: put cache properly in node_modules
  vite.config.ts
Due: lint-js

vitest: run without NODE_ENV=test (???)
  package.json
Due: jest

Switch to flexsearch-es
  app/soapbox/features/emoji/search.ts
  package.json
  yarn.lock
Due: deps, lint-js, jest

Remove Jest
  jest.config.cjs
  jest/assetTransformer.cjs
  package.json
  yarn.lock
Due: deps, lint-js, jest

Remove `webpackChunkName` magic comments
  app/soapbox/components/error-boundary.tsx
  app/soapbox/features/ads/providers/index.ts
  app/soapbox/features/ui/util/async-components.ts
  app/soapbox/monitoring.ts
  app/soapbox/utils/resize-image.ts
Due: lint-js, jest

Remove `@testing-library/jest-dom` imports
  app/soapbox/features/ui/components/__tests__/compose-button.test.tsx
  app/soapbox/jest/test-helpers.tsx
Due: lint-js, jest

jest.requireActual --> vi.importActual
  app/soapbox/api/__mocks__/index.ts
Due: lint-js, jest

chore(deps): update dependency loader-utils to v3
  package.json
  yarn.lock
Due: deps, jest

vite: don't strip comments from index.html, restore server-generated-meta
  vite.config.ts
Due: lint-js

Emit a report.html bundle analysis Fixes https://gitlab.com/soapbox-pub/soapbox/-/issues/1517
  package.json
  vite.config.ts
  yarn.lock
Due: deps, lint-js, jest

Translated using Weblate (Italian)
  app/soapbox/locales/it.json
Due: jest

Translated using Weblate (Bulgarian)
  app/soapbox/locales/bg.json
Due: jest

chore(deps): update dependency stylelint-config-standard-scss to v11
  package.json
  yarn.lock
Due: deps, jest

Put @tailwindscss/aspect-ratio in production, not development
  package.json
Due: jest

hooks: resolve some circular dependencies
  app/soapbox/api/hooks/streaming/useDirectStream.ts
  app/soapbox/hooks/useCompose.ts
  app/soapbox/hooks/useInstance.ts
  app/soapbox/hooks/useOwnAccount.ts
  app/soapbox/hooks/useSettings.ts
  app/soapbox/hooks/useSoapboxConfig.ts
Due: lint-js, jest

Card: prevent circular dependencies
  app/soapbox/components/ui/card/card.tsx
Due: lint-js, jest

entity hooks: resolve some circular dependencies
  app/soapbox/entity-store/hooks/useBatchedEntities.ts
  app/soapbox/entity-store/hooks/useChangeEntity.ts
  app/soapbox/entity-store/hooks/useCreateEntity.ts
  app/soapbox/entity-store/hooks/useDeleteEntity.ts
  app/soapbox/entity-store/hooks/useDismissEntity.ts
  app/soapbox/entity-store/hooks/useEntities.ts
  app/soapbox/entity-store/hooks/useEntity.ts
  app/soapbox/entity-store/hooks/useEntityActions.ts
  app/soapbox/entity-store/hooks/useEntityLookup.ts
  app/soapbox/entity-store/hooks/useIncrementEntity.ts
  app/soapbox/entity-store/hooks/useTransaction.ts
  app/soapbox/hooks/useGroupsPath.ts
Due: lint-js, jest

chore(deps): update dependency stylelint to v15
  package.json
  yarn.lock
Due: deps, jest

fix(deps): update dependency @fontsource/inter to v5
  package.json
  yarn.lock
Due: deps, jest

Upgrade stylelint, fix scss linting
  .stylelintrc.json
  app/styles/components/modal.scss
  package.json
  yarn.lock
Due: deps, lint-sass, jest

chore(deps): update typescript-eslint monorepo to v6
  package.json
  yarn.lock
Due: deps, jest

fix(deps): update dependency @fontsource/roboto-mono to v5
  package.json
  yarn.lock
Due: deps, jest

Upgrade eslint everything
  package.json
  yarn.lock
Due: deps, jest

eslint: @typescript-eslint/no-duplicate-imports --> import/no-duplicates
  .eslintrc.cjs
Due: lint-js

yarn lint:js --fix
  app/soapbox/entity-store/hooks/useBatchedEntities.ts
  app/soapbox/entity-store/hooks/useCreateEntity.ts
  app/soapbox/entity-store/hooks/useEntities.ts
  app/soapbox/entity-store/hooks/useEntity.ts
  app/soapbox/entity-store/hooks/useEntityActions.ts
  app/soapbox/features/chats/components/chat-pane/chat-pane.tsx
Due: lint-js, jest

audio: fix compat/compat eslint error
  app/soapbox/features/audio/index.tsx
Due: lint-js, jest

fix(deps): update dependency clsx to v2
  package.json
  yarn.lock
Due: deps, jest

fix(deps): update dependency immer to v10
  package.json
  yarn.lock
Due: deps, jest

fix(deps): update dependency react-hotkeys to v2
  package.json
  yarn.lock
Due: deps, jest

tsconfig: fix third-party types
  tsconfig.json
Due: jest

Upgrade @testing-library deps, move to devDependencies
  package.json
  yarn.lock
Due: deps, jest

vitest: add setup file, use @testing-library/jest-dom
  app/soapbox/jest/test-setup.ts
  package.json
  vite.config.ts
  yarn.lock
Due: deps, lint-js, jest

vitest: jest --> vi
  app/soapbox/__tests__/toast.test.tsx
  app/soapbox/actions/__tests__/compose.test.ts
  app/soapbox/actions/__tests__/me.test.ts
  app/soapbox/actions/__tests__/onboarding.test.ts
  app/soapbox/components/ui/button/__tests__/button.test.tsx
  app/soapbox/components/ui/datepicker/__tests__/datepicker.test.tsx
  app/soapbox/components/ui/form/__tests__/form.test.tsx
  app/soapbox/components/ui/modal/__tests__/modal.test.tsx
  app/soapbox/features/auth-login/components/__tests__/login-form.test.tsx
  app/soapbox/features/chats/components/__tests__/chat-list-item.test.tsx
  app/soapbox/features/chats/components/__tests__/chat-message-reaction.test.tsx
  app/soapbox/features/chats/components/__tests__/chat-pane-header.test.tsx
  app/soapbox/features/compose/components/polls/__tests__/duration-selector.test.tsx
  app/soapbox/features/feed-filtering/__tests__/feed-carousel.test.tsx
  app/soapbox/features/groups/__tests__/discover.test.tsx
  app/soapbox/features/groups/components/discover/__tests__/layout-buttons.test.tsx
  app/soapbox/features/groups/components/discover/search/__tests__/recent-searches.test.tsx
  app/soapbox/features/groups/components/discover/search/__tests__/results.test.tsx
  app/soapbox/features/groups/components/discover/search/__tests__/search.test.tsx
  app/soapbox/features/ui/components/modals/__tests__/landing-page-modal.test.tsx
  app/soapbox/features/ui/components/modals/__tests__/unauthorized-modal.test.tsx
  app/soapbox/features/ui/components/modals/report-modal/__tests__/report-modal.test.tsx
  app/soapbox/hooks/__mocks__/resize-observer.ts
Due: lint-js, jest
