Repository soapbox-pub/soapbox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deps, lint-js, lint-sass, jest, nginx-test, docs-deploy

.gitlab-ci.yml:

image: node:20

variables:
  NODE_ENV: test

default:
  interruptible: true

cache: &cache
  key:
    files:
      - yarn.lock
  paths:
    - node_modules/
  policy: pull

stages:
  - deps
  - test
  - deploy
  - release

deps:
  stage: deps
  script: yarn install --ignore-scripts
  only:
    changes:
      - yarn.lock
  cache:
    <<: *cache
    policy: push

danger:
  stage: test
  script:
    # https://github.com/danger/danger-js/issues/1029#issuecomment-998915436
    - export CI_MERGE_REQUEST_IID=${CI_OPEN_MERGE_REQUESTS#*!}
    - npx danger ci
  except:
    variables:
      - $CI_DEFAULT_BRANCH == $CI_COMMIT_REF_NAME
  allow_failure: true

lint-js:
  stage: test
  script: yarn lint:js
  only:
    changes:
      - "**/*.js"
      - "**/*.jsx"
      - "**/*.cjs"
      - "**/*.mjs"
      - "**/*.ts"
      - "**/*.tsx"
      - ".eslintignore"
      - ".eslintrc.cjs"

lint-sass:
  stage: test
  script: yarn lint:sass
  only:
    changes:
      - "**/*.scss"
      - "**/*.css"
      - ".stylelintrc.json"

jest:
  stage: test
  script: yarn test:coverage --runInBand
  only:
    changes:
      - "**/*.js"
      - "**/*.json"
      - "app/soapbox/**/*"
      - "webpack/**/*"
      - "custom/**/*"
      - "jest.config.cjs"
      - "package.json"
      - "yarn.lock"
      - ".gitlab-ci.yml"
  coverage: /All files[^|]*\|[^|]*\s+([\d\.]+)/
  artifacts:
    reports:
      junit: junit.xml
      coverage_report:
        coverage_format: cobertura
        path: .coverage/cobertura-coverage.xml

nginx-test:
  stage: test
  image: nginx:latest
  before_script:
    - cp installation/mastodon.conf /etc/nginx/conf.d/default.conf
  script: nginx -t
  only:
    changes:
      - "installation/mastodon.conf"

build-production:
  stage: test
  script:
    - yarn build
    - yarn manage:translations en
    # Fail if files got changed.
    # https://stackoverflow.com/a/9066385
    - git diff --quiet
  variables:
    NODE_ENV: production
  artifacts:
    paths:
     - static

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
    - apk add curl
  script:
    - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline
  only:
    variables:
      - $CI_DEFAULT_BRANCH == $CI_COMMIT_REF_NAME
    changes:
      - "docs/**/*"

review:
  stage: deploy
  environment:
    name: review/$CI_COMMIT_REF_NAME
    url: https://$CI_COMMIT_REF_SLUG.git.soapbox.pub
  script:
    - npx -y surge static $CI_COMMIT_REF_SLUG.git.soapbox.pub
  allow_failure: true

pages:
  stage: deploy
  before_script: []
  script:
    # artifacts are kept between jobs
    - mv static public
  variables:
    NODE_ENV: production
  artifacts:
    paths:
    - public
  only:
    variables:
      - $CI_DEFAULT_BRANCH == $CI_COMMIT_REF_NAME

docker:
  stage: deploy
  image: docker:23.0.0
  services:
    - docker:23.0.0-dind
  tags:
    - dind
  # https://medium.com/devops-with-valentine/how-to-build-a-docker-image-and-push-it-to-the-gitlab-container-registry-from-a-gitlab-ci-pipeline-acac0d1f26df
  script:
    - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
    - docker build -t $CI_REGISTRY_IMAGE:$CI_COMMIT_TAG .
    - docker push $CI_REGISTRY_IMAGE:$CI_COMMIT_TAG
  rules:
    - if: $CI_COMMIT_TAG
  interruptible: false

release:
  stage: release
  rules:
    - if: $CI_COMMIT_TAG
  script:
    - npx ts-node ./scripts/do-release.ts
  interruptible: false

include:
  - template: Jobs/Dependency-Scanning.gitlab-ci.yml
  - template: Security/License-Scanning.gitlab-ci.yml

Translated using Weblate (Arabic)
  app/soapbox/locales/ar.json
Due: jest

features: enable public timeline on Ditto
  app/soapbox/utils/features.ts
Due: lint-js, jest

Update file mastodon.conf
  installation/mastodon.conf
Due: nginx-test

Improve event information display
  app/soapbox/features/event/event-information.tsx
Due: lint-js, jest

Add keys to fragments
  app/soapbox/features/event/event-information.tsx
Due: lint-js, jest

Remove tables support as it's not supported by lexical-remark (yet)
  app/soapbox/features/compose/editor/index.tsx
  app/soapbox/features/compose/editor/nodes/index.ts
  app/soapbox/features/compose/editor/nodes/table-cell-nodes.ts
  app/soapbox/features/compose/editor/nodes/table-component.tsx
  app/soapbox/features/compose/editor/nodes/table-node.tsx
  app/soapbox/features/compose/editor/plugins/floating-block-type-toolbar-plugin.tsx
  app/soapbox/features/compose/editor/plugins/table-action-menu-plugin.tsx
  app/soapbox/features/compose/editor/plugins/table-plugin.tsx
Due: lint-js, jest

Replace lexical-remark with a fork for now
  package.json
  yarn.lock
Due: deps, jest

Fix Mastodon Media Uploads
  installation/mastodon.conf
Due: nginx-test

Actually switch to my fork of lexical-remark
  app/soapbox/features/compose/editor/handlers/image.ts
  app/soapbox/features/compose/editor/index.tsx
  package.json
  yarn.lock
Due: deps, lint-js, jest

Make all profile badges translatable
  app/soapbox/components/profile-hover-card.tsx
  app/soapbox/features/ui/components/profile-info-panel.tsx
  app/soapbox/locales/en.json
Due: lint-js, jest

Prefer accessible links
  app/soapbox/components/list.tsx
  app/soapbox/features/admin/tabs/dashboard.tsx
  app/soapbox/features/edit-email/index.tsx
  app/soapbox/features/edit-password/index.tsx
  app/soapbox/features/group/manage-group.tsx
  app/soapbox/features/groups/components/group-link-preview.tsx
  app/soapbox/features/settings/index.tsx
  app/soapbox/features/soapbox-config/index.tsx
  app/soapbox/features/status/components/status-interaction-bar.tsx
Due: lint-js, jest

Nostr: sign events with NIP-46
  app/soapbox/actions/streaming.ts
  app/soapbox/api/hooks/index.ts
  app/soapbox/api/hooks/nostr/useSignerStream.ts
  app/soapbox/api/hooks/streaming/useNostrStream.ts
  app/soapbox/api/index.ts
  app/soapbox/features/ui/index.tsx
  app/soapbox/normalizers/__tests__/instance.test.ts
  app/soapbox/normalizers/instance.ts
  app/soapbox/schemas/nostr.ts
  app/soapbox/schemas/utils.ts
  app/soapbox/types/nostr.ts
  package.json
  yarn.lock
Due: deps, lint-js, jest

Fix types?
  app/soapbox/components/list.tsx
Due: lint-js, jest

Add title to created_at label
  app/soapbox/api/hooks/nostr/useSignerStream.ts
  app/soapbox/components/profile-hover-card.tsx
  app/soapbox/components/relative-timestamp.tsx
  app/soapbox/features/ui/components/profile-info-panel.tsx
  app/soapbox/utils/scopes.ts
Due: lint-js, jest

api: don't send the X-Nostr-Sign header unless the backend supports it
  app/soapbox/api/index.ts
Due: lint-js, jest

fix: body is not used if `ListItem` is not a link
  app/soapbox/components/list.tsx
Due: lint-js, jest

favourites: fix isOwnAccount check
  app/soapbox/features/favourited-statuses/index.tsx
Due: lint-js, jest

features: enable frontendConfigurations on Ditto
  app/soapbox/utils/features.ts
Due: lint-js, jest

chore(deps): update docker docker tag to v24
  .gitlab-ci.yml
Due: jest

bun: improve types so it runs with bun
  app/soapbox/__tests__/toast.test.tsx
  app/soapbox/features/auth-login/components/captcha.tsx
  app/soapbox/features/home-timeline/index.tsx
  app/soapbox/utils/tailwind.ts
Due: lint-js, jest

Compose: Don't focus on spoiler input on first render
  app/soapbox/features/compose/components/compose-form.tsx
  app/soapbox/hooks/index.ts
Due: lint-js, jest

Add nip13 pow module
  app/soapbox/features/nostr/pow.ts
Due: lint-js, jest

Nostr registration form
  app/soapbox/features/auth-login/components/registration-form.tsx
  app/soapbox/features/public-layout/components/header.tsx
  app/soapbox/features/ui/components/navbar.tsx
  app/soapbox/utils/features.ts
Due: lint-js, jest

Move signerStream to a higher component, SoapboxMount
  app/soapbox/containers/soapbox.tsx
  app/soapbox/features/ui/index.tsx
Due: lint-js, jest

nostr: add signer module
  app/soapbox/features/nostr/sign.ts
Due: lint-js, jest

nostr: pass the pubkey to registration
  app/soapbox/actions/accounts.ts
Due: lint-js, jest

nostr: let signer use a generated key if nip07 doesn't exist, make "log in" button work
  app/soapbox/features/nostr/sign.ts
  app/soapbox/features/public-layout/components/header.tsx
Due: lint-js, jest

schemas/nostr: fix "kind" being nonnegative (0 isn't "positive")
  app/soapbox/schemas/nostr.ts
Due: lint-js, jest

Sign events through nostr-ts-relaypool cuz it automatically reconnects
  app/soapbox/api/hooks/nostr/useSignerStream.ts
  package.json
  yarn.lock
Due: deps, lint-js, jest

Allow to drag files to avatar/header pickers
  app/soapbox/features/edit-profile/components/avatar-picker.tsx
  app/soapbox/features/edit-profile/components/header-picker.tsx
  app/soapbox/features/ui/components/modals/manage-group-modal/steps/details-step.tsx
  app/soapbox/hooks/forms/useImageField.ts
Due: lint-js, jest

nostr: push everything through our custom signer functions, implement nip04
  app/soapbox/actions/accounts.ts
  app/soapbox/api/hooks/nostr/useSignerStream.ts
  app/soapbox/features/nostr/sign.ts
Due: lint-js, jest

header: make mobile login button do the nostr thing
  app/soapbox/features/public-layout/components/header.tsx
Due: lint-js, jest

Revert "Compose: Don't focus on spoiler input on first render"
  app/soapbox/features/compose/components/compose-form.tsx
  app/soapbox/hooks/index.ts
Due: lint-js, jest

Fix compose form focus on home page
  app/soapbox/features/compose/components/compose-form.tsx
Due: lint-js, jest

Update en.json
  app/soapbox/features/ui/components/panels/account-note-panel.tsx
  app/soapbox/locales/en.json
Due: lint-js, jest

Translated using Weblate (Persian)
  app/soapbox/locales/fa.json
Due: jest

Translated using Weblate (Italian)
  app/soapbox/locales/it.json
Due: jest

Translated using Weblate (Polish)
  app/soapbox/locales/pl.json
Due: jest

Translated using Weblate (Chinese (Simplified))
  app/soapbox/locales/zh-CN.json
Due: jest
