Repository soapbox-pub/soapbox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deps, lint, docs-deploy

deps:
  stage: deps
  script: yarn install --ignore-scripts
  cache:
    key:
      files:
      - yarn.lock
    paths:
    - node_modules/
    policy: push

lint:
  stage: test
  script: yarn lint

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
  - apk add curl
  script:
  - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline

Items: display a checkmark when item is purchased
  src/features/items/index.tsx
Due: lint

Items: put description in image alt text
  src/features/items/index.tsx
Due: lint

Nostr Zaps
  src/actions/interactions.ts
  src/components/status-action-bar.tsx
  src/normalizers/status.ts
  src/schemas/account.ts
  src/schemas/status.ts
Due: lint

Optimistic zap
  src/actions/interactions.ts
  src/reducers/statuses.ts
Due: lint

Partially implement NIP-47 and pay for zaps with WebLN
  src/api/hooks/nostr/useSignerStream.ts
  src/schemas/nostr.ts
Due: lint

Add DOMPurify
  package.json
  src/features/landing-timeline/components/site-banner.tsx
  src/normalizers/status-edit.ts
  src/reducers/statuses.ts
  src/schemas/account.ts
  src/schemas/poll.ts
  yarn.lock
Due: deps, lint

Add WebLN types, only show zap button when WebLN is available
  package.json
  src/api/hooks/nostr/useSignerStream.ts
  src/components/status-action-bar.tsx
  tsconfig.json
  yarn.lock
Due: deps, lint

yarn i18n
  src/locales/en.json
Due: none

Add a pkgzap entry to package.json, because why not https://github.com/getAlby/pkgzap/blob/main/cli/README.md
  package.json
Due: none

Fix optimistic zapping
  src/actions/interactions.ts
  src/reducers/statuses.ts
Due: lint

fix(deps): update dependency intl-messageformat to v10.5.11
  package.json
  yarn.lock
Due: deps

Add LightningAddress component
  src/features/crypto-donate/components/lightning-address.tsx
  src/features/ui/components/profile-field.tsx
  src/features/ui/util/async-components.ts
  src/locales/en.json
Due: lint

Use media query to detect touchscreens
  src/components/dropdown-menu/dropdown-menu.tsx
  src/components/status-reaction-wrapper.tsx
  src/features/compose/components/privacy-dropdown.tsx
  src/features/ui/components/modals/media-modal.tsx
  src/is-mobile.ts
Due: lint

Remove service_domain
  src/api/hooks/admin/useCreateDomain.ts
  src/features/admin/domains.tsx
  src/features/ui/components/modals/edit-domain-modal.tsx
  src/schemas/domain.ts
Due: lint

i18n
  src/locales/en.json
Due: none

Switch to isomorphic-dompurify
  package.json
  src/features/landing-timeline/components/site-banner.tsx
  src/normalizers/status-edit.ts
  src/reducers/statuses.ts
  src/schemas/account.ts
  src/schemas/poll.ts
  yarn.lock
Due: deps, lint

Remove @types/dompurify
  package.json
Due: none

Remove space that was added for no reason
  src/normalizers/status-edit.ts
Due: lint

Update lexical, remove unused code
  package.json
  src/features/compose/editor/plugins/autosuggest-plugin.tsx
  src/features/compose/editor/utils/set-floating-elem-position.ts
  src/features/compose/editor/utils/url.ts
  yarn.lock
Due: deps, lint

Remove more unused code
  src/features/compose/editor/plugins/link-plugin.tsx
  src/features/compose/editor/utils/get-dom-range-rect.ts
  src/features/compose/editor/utils/get-selected-node.ts
  src/features/compose/editor/utils/is-html-element.ts
  src/features/compose/editor/utils/point.ts
  src/features/compose/editor/utils/rect.ts
  src/features/compose/editor/utils/url.ts
Due: lint

Update docker Docker tag to v24.0.9
  .gitlab-ci.yml
Due: none

Update dependency husky to v9
  package.json
  yarn.lock
Due: deps

Update docker Docker tag to v25
  .gitlab-ci.yml
Due: none

Update dependency jsdom to v24
  package.json
  yarn.lock
Due: deps

Add NSpec and SoapboxSigner
  package.json
  src/actions/accounts.ts
  src/actions/nostr.ts
  src/api/hooks/nostr/useSignerStream.ts
  src/features/nostr/SoapboxSigner.ts
  src/features/nostr/sign.ts
  src/types/nostr.ts
  src/types/window.d.ts
  yarn.lock
Due: deps, lint

Let signer be undefined if there's no way to sign
  src/actions/accounts.ts
  src/actions/nostr.ts
  src/api/hooks/nostr/useSignerStream.ts
  src/features/nostr/sign.ts
Due: lint

Add boilerplate NostrSignin modal
  src/features/ui/components/modal-root.tsx
  src/features/ui/components/modals/nostr-signin-modal/nostr-signin-modal.tsx
  src/features/ui/components/modals/nostr-signin-modal/steps/extension-step.tsx
  src/features/ui/components/modals/nostr-signin-modal/steps/identity-step.tsx
  src/features/ui/components/panels/sign-up-panel.tsx
  src/features/ui/util/async-components.ts
Due: lint

vite: allow setting PORT envvar
  vite.config.ts
Due: lint

Reduce circular imports in UI components
  src/components/ui/emoji-selector/emoji-selector.tsx
  src/components/ui/widget/widget.tsx
Due: lint

ExtensionStep: make it kind of work
  src/features/ui/components/modals/nostr-signin-modal/nostr-signin-modal.tsx
  src/features/ui/components/modals/nostr-signin-modal/steps/extension-step.tsx
Due: lint

Update typescript-eslint monorepo to v7
  package.json
  yarn.lock
Due: deps

useAppSelector: export type
  src/hooks/useAppSelector.ts
Due: lint

NostrSigninModal: add extension indicator, flesh out IdentityStep
  src/features/ui/components/modals/nostr-signin-modal/nostr-extension-indicator.tsx
  src/features/ui/components/modals/nostr-signin-modal/steps/identity-step.tsx
Due: lint

NostrSigninModal: scaffold steps
  src/features/ui/components/modals/nostr-signin-modal/nostr-signin-modal.tsx
  src/features/ui/components/modals/nostr-signin-modal/steps/account-step.tsx
  src/features/ui/components/modals/nostr-signin-modal/steps/identity-step.tsx
  src/features/ui/components/modals/nostr-signin-modal/steps/key-step.tsx
  src/features/ui/components/modals/nostr-signin-modal/steps/register-step.tsx
Due: lint

Rework Nostr modal actions
  src/actions/nostr.ts
  src/features/ui/components/modals/nostr-signin-modal/nostr-extension-indicator.tsx
  src/features/ui/components/modals/nostr-signin-modal/steps/extension-step.tsx
  src/features/ui/components/modals/nostr-signin-modal/steps/identity-step.tsx
  src/features/ui/components/navbar.tsx
Due: lint

Make accountLookup work with Nostr
  package.json
  src/api/hooks/accounts/useAccountLookup.ts
  src/features/ui/components/modals/nostr-signin-modal/nostr-signin-modal.tsx
  src/features/ui/components/modals/nostr-signin-modal/steps/account-step.tsx
  src/features/ui/components/modals/nostr-signin-modal/steps/identity-step.tsx
  src/schemas/account.ts
  yarn.lock
Due: deps, lint

StatusInfo: truncate long text
  src/components/statuses/status-info.tsx
Due: lint

Refactor useSettings hook, parse with zod schema
  src/components/animated-number.tsx
  src/components/announcements/emoji.tsx
  src/components/announcements/reactions-bar.tsx
  src/components/helmet.tsx
  src/components/media-gallery.tsx
  src/components/navlinks.tsx
  src/components/quoted-status.tsx
  src/components/scroll-top-button.tsx
  src/components/scrollable-list.tsx
  src/components/sidebar-navigation.tsx
  src/components/site-logo.tsx
  src/components/status-action-bar.tsx
  src/components/status.tsx
  src/components/statuses/sensitive-content-overlay.tsx
  src/components/still-image.tsx
  src/contexts/chat-context.tsx
  src/features/about/index.tsx
  src/features/account-gallery/components/media-item.tsx
  src/features/account-timeline/index.tsx
  src/features/auth-login/components/registration-form.tsx
  src/features/community-timeline/index.tsx
  src/features/event/components/event-header.tsx
  src/features/event/event-information.tsx
  src/features/notifications/components/filter-bar.tsx
  src/features/notifications/components/setting-toggle.tsx
  src/features/notifications/index.tsx
  src/features/preferences/index.tsx
  src/features/public-timeline/index.tsx
  src/features/remote-timeline/components/pinned-hosts-picker.tsx
  src/features/remote-timeline/index.tsx
  src/features/status/components/thread.tsx
  src/features/ui/components/instance-info-panel.tsx
  src/features/ui/components/promo-panel.tsx
  src/features/ui/components/theme-toggle.tsx
  src/features/ui/util/optional-motion.tsx
  src/features/ui/util/react-router-helpers.tsx
  src/hooks/useSettings.ts
  src/hooks/useTheme.ts
  src/init/soapbox-head.tsx
  src/schemas/soapbox/settings.ts
Due: lint

useSettings: useMemo
  src/hooks/useSettings.ts
Due: lint

Fill out KeyStep
  src/features/ui/components/modals/nostr-signin-modal/nostr-signin-modal.tsx
  src/features/ui/components/modals/nostr-signin-modal/steps/identity-step.tsx
  src/features/ui/components/modals/nostr-signin-modal/steps/key-step.tsx
Due: lint

Path conditions:
  deps: any of: yarn.lock
  lint: any of: **/*.js, **/*.jsx, **/*.cjs, **/*.mjs, **/*.ts, **/*.tsx, **/*.scss, **/*.css, .eslintignore, .eslintrc.cjs, .stylelintrc.json
  docs-deploy: any of: docs/**/*
