Repository soapbox-pub/soapbox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deps, lint, docs-deploy

deps:
  stage: deps
  script: yarn install --ignore-scripts
  cache:
    key:
      files:
      - yarn.lock
    paths:
    - node_modules/
    policy: push

lint:
  stage: test
  script: yarn lint

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
  - apk add curl
  script:
  - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline

media proxy cache page
  src/api/hooks/admin/index.ts
  src/api/hooks/admin/useMediaProxyCache.ts
  src/features/admin/media-proxy-cache.tsx
  src/features/admin/relays.tsx
  src/features/ui/index.tsx
  src/features/ui/util/async-components.ts
Due: lint

Black theme: set counter ring color
  src/components/ui/counter/counter.tsx
Due: lint

Improve sensitive content logic, remove 'status under review'
  src/actions/importer/index.ts
  src/components/media-gallery.tsx
  src/components/quoted-status.tsx
  src/components/status-media.tsx
  src/components/status.test.tsx
  src/components/status.tsx
  src/components/statuses/sensitive-content-overlay.test.tsx
  src/components/statuses/sensitive-content-overlay.tsx
  src/features/admin/components/report-status.tsx
  src/features/event/event-information.tsx
  src/features/notifications/components/notification.tsx
  src/features/status/components/detailed-status.tsx
  src/features/status/components/thread.tsx
  src/features/ui/util/global-hotkeys.tsx
  src/normalizers/status.ts
  src/reducers/statuses.test.ts
  src/reducers/statuses.ts
  src/schemas/status.ts
  src/utils/status.ts
Due: lint

Update en.json
  src/locales/en.json
Due: none

Merge expandSpoilers and displayMedia into a single option
  src/actions/settings.ts
  src/actions/status-quotes.test.ts
  src/components/quoted-status.tsx
  src/components/status.tsx
  src/components/statuses/sensitive-content-overlay.tsx
  src/features/preferences/index.tsx
  src/features/status/components/detailed-status.tsx
  src/locales/en.json
  src/schemas/soapbox/settings.ts
Due: lint

wip reports
  src/actions/admin.ts
  src/api/hooks/admin/index.ts
  src/api/hooks/admin/useCloseReport.ts
  src/api/hooks/admin/useReport.ts
  src/api/hooks/admin/useReports.ts
  src/components/helmet.tsx
  src/components/sidebar-navigation.tsx
  src/components/thumb-navigation.tsx
  src/contexts/stat-context.tsx
  src/entity-store/entities.ts
  src/features/admin/announcements.tsx
  src/features/admin/components/admin-tabs.tsx
  src/features/admin/components/report-status.tsx
  src/features/admin/components/report.tsx
  src/features/admin/tabs/reports.tsx
  src/features/ui/components/modals/edit-announcement-modal.tsx
  src/features/ui/index.tsx
  src/reducers/admin.ts
  src/schemas/account.ts
Due: lint

useAnnouncements: avoid toSorted
  src/api/hooks/announcements/useAnnouncements.ts
Due: lint

Fix role badges for Pleroma
  src/schemas/account.ts
Due: lint

Update dependency cssnano to v7
  package.json
  yarn.lock
Due: deps

Replace nspec with nostrify
  package.json
  src/api/hooks/nostr/useSignerStream.ts
  src/contexts/nostr-context.tsx
  src/features/nostr/NKeyStorage.ts
  src/features/nostr/hooks/useNostrReq.ts
  src/schemas/account.ts
  src/types/window.d.ts
  yarn.lock
Due: deps, lint

NIP-46: stringify event according to updated spec
  src/api/hooks/nostr/useSignerStream.ts
Due: lint

Upgrade zod
  package.json
  yarn.lock
Due: deps

Upgrade nostrify
  yarn.lock
Due: deps

NIP-46: stringify event object in accordance with updated spec
  src/api/hooks/nostr/useSignerStream.ts
  src/schemas/nostr.ts
Due: lint

Update Node.js to v22
  .gitlab-ci.yml
  Dockerfile
  Dockerfile.dev
Due: none

Upgrade TypeScript to v5.4.5
  package.json
  src/service-worker/sw.ts
  yarn.lock
Due: deps, lint

Prefer to/href for DropdownMenuItems
  src/components/dropdown-menu/dropdown-menu-item.tsx
  src/components/status-action-bar.tsx
  src/features/account/components/header.tsx
  src/features/event/components/event-header.tsx
Due: lint

Announcement reactions fix
  src/utils/features.ts
Due: lint

Support the full NIP-46 protocol
  src/api/hooks/nostr/useSignerStream.ts
  src/schemas/nostr.ts
Due: lint

Load the Nostr signer before calling verify_credentials
  src/api/hooks/nostr/useSignerStream.ts
  src/contexts/nostr-context.tsx
  src/features/ui/index.tsx
  src/hooks/useAuthToken.ts
  src/init/soapbox-load.tsx
Due: lint

Update dependency vite-plugin-pwa to ^0.20.0
  package.json
  yarn.lock
Due: deps

@soapbox/nspec -> @nostrify/nostrify
  package.json
  src/api/hooks/nostr/useSignerStream.ts
  src/contexts/nostr-context.tsx
  src/features/nostr/NKeyStorage.ts
  src/features/nostr/hooks/useNostrReq.ts
  src/schemas/account.ts
  src/types/window.d.ts
  yarn.lock
Due: deps, lint

Upgrade zod to v3.23.5
  package.json
  src/features/nostr-relays/index.tsx
  src/features/nostr/NKeyStorage.ts
  yarn.lock
Due: deps, lint

useSignerStream: simplify with nostrify
  src/api/hooks/nostr/useSignerStream.ts
  src/schemas/nostr.ts
Due: lint

fix(deps): update dependency react-datepicker to v6
  package.json
  yarn.lock
Due: deps

Rename "Fediverse" tab to "Global"
  src/components/sidebar-menu.tsx
  src/components/sidebar-navigation.tsx
  src/features/public-timeline/index.tsx
  src/features/ui/index.tsx
  src/locales/en.json
Due: lint

NKeyStorage: fix dataSchema so it correctly parses the result as an array
  src/features/nostr/NKeyStorage.ts
Due: lint

Scaffold admin relays page
  src/features/admin/nostr-relays.tsx
  src/features/ui/index.tsx
  src/features/ui/util/async-components.ts
Due: lint

Allow updating admin relays
  src/features/admin/hooks/useAdminNostrRelays.ts
  src/features/admin/nostr-relays.tsx
Due: lint

Add link to Nostr Relays in dashboard
  src/features/admin/tabs/dashboard.tsx
  src/features/ui/index.tsx
Due: lint

yarn i18n
  src/locales/en.json
Due: none

Feature-gate blocks
  src/components/sidebar-menu.tsx
  src/features/ui/components/link-footer.tsx
  src/features/ui/index.tsx
  src/utils/features.ts
Due: lint

Update dependency intl-messageformat to v10.5.12
  package.json
  yarn.lock
Due: deps

Update docker Docker tag to v26
  .gitlab-ci.yml
Due: none

features: support explicitAddressing on Ditto
  src/utils/features.ts
Due: lint

PublicTimeline: hide fediverse explanation on Nostr
  src/features/public-timeline/index.tsx
Due: lint

Navbar: hide login form in standalone mode
  src/features/ui/components/navbar.tsx
Due: lint

docs: add soapbox docs in README
  README.md
Due: none

fix: set error if prefix is different than nsec
  src/features/ui/components/modals/nostr-login-modal/steps/key-add-step.tsx
Due: lint

Path conditions:
  deps: any of: yarn.lock
  lint: any of: **/*.js, **/*.jsx, **/*.cjs, **/*.mjs, **/*.ts, **/*.tsx, **/*.scss, **/*.css, .eslintignore, .eslintrc.cjs, .stylelintrc.json
  docs-deploy: any of: docs/**/*
