Repository soapbox-pub/soapbox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deps, lint-js, lint-sass, jest, nginx-test, docs-deploy

.gitlab-ci.yml:

image: node:18

variables:
  NODE_ENV: test

default:
  interruptible: true

cache: &cache
  key:
    files:
      - yarn.lock
  paths:
    - node_modules/
  policy: pull

stages:
  - deps
  - test
  - deploy

deps:
  stage: deps
  script: yarn install --ignore-scripts
  only:
    changes:
      - yarn.lock
  cache:
    <<: *cache
    policy: push

danger:
  stage: test
  script:
    # https://github.com/danger/danger-js/issues/1029#issuecomment-998915436
    - export CI_MERGE_REQUEST_IID=${CI_OPEN_MERGE_REQUESTS#*!}
    - npx danger ci
  except:
    variables:
      - $CI_DEFAULT_BRANCH == $CI_COMMIT_REF_NAME
  allow_failure: true

lint-js:
  stage: test
  script: yarn lint:js
  only:
    changes:
      - "**/*.js"
      - "**/*.jsx"
      - "**/*.ts"
      - "**/*.tsx"
      - ".eslintignore"
      - ".eslintrc.js"

lint-sass:
  stage: test
  script: yarn lint:sass
  only:
    changes:
      - "**/*.scss"
      - "**/*.css"
      - ".stylelintrc.json"

jest:
  stage: test
  script: yarn test:coverage --runInBand
  only:
    changes:
      - "**/*.js"
      - "**/*.json"
      - "app/soapbox/**/*"
      - "webpack/**/*"
      - "custom/**/*"
      - "jest.config.js"
      - "package.json"
      - "yarn.lock"
      - ".gitlab-ci.yml"
  coverage: /All files[^|]*\|[^|]*\s+([\d\.]+)/
  artifacts:
    reports:
      junit: junit.xml
      coverage_report:
        coverage_format: cobertura
        path: .coverage/cobertura-coverage.xml

nginx-test:
  stage: test
  image: nginx:latest
  before_script:
    - cp installation/mastodon.conf /etc/nginx/conf.d/default.conf
  script: nginx -t
  only:
    changes:
      - "installation/mastodon.conf"

build-production:
  stage: test
  script:
    - yarn build
    - yarn manage:translations en
    # Fail if files got changed.
    # https://stackoverflow.com/a/9066385
    - git diff --quiet
  variables:
    NODE_ENV: production
  artifacts:
    paths:
     - static

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
    - apk add curl
  script:
    - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline
  only:
    variables:
      - $CI_DEFAULT_BRANCH == $CI_COMMIT_REF_NAME
    changes:
      - "docs/**/*"

review:
  stage: deploy
  environment:
    name: review/$CI_COMMIT_REF_NAME
    url: https://$CI_COMMIT_REF_SLUG.git.soapbox.pub
  script:
    - npx -y surge static $CI_COMMIT_REF_SLUG.git.soapbox.pub
  allow_failure: true

pages:
  stage: deploy
  before_script: []
  script:
    # artifacts are kept between jobs
    - mv static public
  variables:
    NODE_ENV: production
  artifacts:
    paths:
    - public
  only:
    variables:
      - $CI_DEFAULT_BRANCH == $CI_COMMIT_REF_NAME

docker:
  stage: deploy
  image: docker:20.10.22
  services:
    - docker:20.10.22-dind
  tags:
    - dind
  # https://medium.com/devops-with-valentine/how-to-build-a-docker-image-and-push-it-to-the-gitlab-container-registry-from-a-gitlab-ci-pipeline-acac0d1f26df
  script:
    - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
    - docker build -t $CI_REGISTRY_IMAGE .
    - docker push $CI_REGISTRY_IMAGE
  only:
    variables:
      - $CI_DEFAULT_BRANCH == $CI_COMMIT_REF_NAME

include:
  - template: Jobs/Dependency-Scanning.gitlab-ci.yml
  - template: Security/License-Scanning.gitlab-ci.yml

Translated using Weblate (Chinese (Simplified))
  app/soapbox/locales/zh-CN.json
Due: jest

Translated using Weblate (Spanish)
  app/soapbox/locales/es.json
Due: jest

Update translation files
  app/soapbox/locales/ar.json
  app/soapbox/locales/de.json
  app/soapbox/locales/es.json
  app/soapbox/locales/it.json
  app/soapbox/locales/no.json
  app/soapbox/locales/pl.json
Due: jest

Update translation files
  app/soapbox/locales/ar.json
  app/soapbox/locales/de.json
  app/soapbox/locales/es.json
  app/soapbox/locales/it.json
  app/soapbox/locales/no.json
  app/soapbox/locales/pl.json
  app/soapbox/locales/zh-CN.json
Due: jest

Translated using Weblate (Norwegian Bokmål)
  app/soapbox/locales/no.json
Due: jest

Translated using Weblate (Arabic)
  app/soapbox/locales/ar.json
Due: jest

Translated using Weblate (German)
  app/soapbox/locales/de.json
Due: jest

Update translation files
  app/soapbox/locales/no.json
Due: jest

Update dependency stylelint-config-standard-scss to v7
  package.json
  yarn.lock
Due: deps, jest

Translated using Weblate (Italian)
  app/soapbox/locales/it.json
Due: jest

Lexical: Hashtag, emoji autocompletion
  app/soapbox/actions/compose.ts
  app/soapbox/components/ui/emoji/emoji.tsx
  app/soapbox/features/compose/editor/index.tsx
  app/soapbox/features/compose/editor/nodes/emoji-node.tsx
  app/soapbox/features/compose/editor/plugins/autosuggest-plugin.tsx
  app/soapbox/features/compose/editor/plugins/emoji-plugin.tsx
  app/soapbox/reducers/compose.ts
  app/soapbox/utils/suggestions.ts
  package.json
  yarn.lock
Due: deps, lint-js, jest

Use Link header for home timeline pagination
  app/soapbox/actions/timelines.ts
  app/soapbox/features/feed-filtering/feed-carousel.tsx
  app/soapbox/features/home-timeline/index.tsx
  app/soapbox/features/test-timeline/index.tsx
  app/soapbox/reducers/timelines.ts
Due: lint-js, jest

Sign nostr event from websocket
  app/soapbox/actions/streaming.ts
  app/soapbox/stream.ts
  app/soapbox/types/nostr.ts
  app/soapbox/types/window.d.ts
  package.json
  yarn.lock
Due: deps, lint-js, jest

Add animation to AuthorizeRejectButton comp
  app/soapbox/components/authorize-reject-buttons.tsx
Due: lint-js, jest

Update banned members design
  app/soapbox/features/group/group-blocked-members.tsx
  app/soapbox/locales/en.json
Due: lint-js, jest

Fix weight of List Item text
  app/soapbox/components/list.tsx
  app/soapbox/features/ui/components/modals/manage-group-modal/steps/privacy-step.tsx
Due: lint-js, jest

Refactor Group Layout selection
  app/soapbox/features/groups/components/discover/layout-buttons.tsx
  app/soapbox/features/groups/components/discover/search/results.tsx
  app/soapbox/features/groups/popular.tsx
  app/soapbox/features/groups/suggested.tsx
Due: lint-js, jest

Remove deprecated Tailwind line-clamp plugin (now bundled with v3.3)
  package.json
  tailwind.config.cjs
  yarn.lock
Due: deps, jest

Tailwind: migrate to TypeScript
  tailwind.config.ts
  tailwind/__tests__/colors-test.ts
  tailwind/colors.ts
Due: lint-js

eslint: specify tailwind.config.ts
  .eslintrc.cjs
Due: none

EditGroup: move AvatarPicker and HeaderPicker into their own components
  app/soapbox/features/group/components/group-avatar-picker.tsx
  app/soapbox/features/group/components/group-header-picker.tsx
  app/soapbox/features/group/edit-group.tsx
Due: lint-js, jest

Update copy after requesting to join group
  app/soapbox/actions/groups.ts
  app/soapbox/features/group/components/group-action-button.tsx
  app/soapbox/locales/en.json
Due: lint-js, jest

Remove 'Pending requests' from Group Manage
  app/soapbox/features/group/manage-group.tsx
Due: lint-js, jest

ManageGroupModal: use internal state instead of Redux
  app/soapbox/actions/groups.ts
  app/soapbox/entity-store/hooks/useCreateEntity.ts
  app/soapbox/entity-store/hooks/useEntityActions.ts
  app/soapbox/features/group/components/group-avatar-picker.tsx
  app/soapbox/features/group/components/group-header-picker.tsx
  app/soapbox/features/ui/components/modals/manage-group-modal/manage-group-modal.tsx
  app/soapbox/features/ui/components/modals/manage-group-modal/steps/details-step.tsx
  app/soapbox/features/ui/components/modals/manage-group-modal/steps/privacy-step.tsx
  app/soapbox/hooks/api/groups/useCreateGroup.ts
  app/soapbox/hooks/api/index.ts
  app/soapbox/reducers/index.ts
Due: lint-js, jest

Remove group-editor code
  app/soapbox/actions/groups.ts
  app/soapbox/reducers/group-editor.ts
Due: lint-js, jest

ManageGroupModal --> CreateGroupModal
  app/soapbox/features/groups/index.tsx
  app/soapbox/features/ui/components/modal-root.tsx
  app/soapbox/features/ui/components/modals/manage-group-modal/create-group-modal.tsx
  app/soapbox/features/ui/components/panels/new-group-panel.tsx
  app/soapbox/features/ui/util/async-components.ts
Due: lint-js, jest

isLoading --> isSubmitting for action hooks
  app/soapbox/entity-store/hooks/useDeleteEntity.ts
  app/soapbox/entity-store/hooks/useEntityActions.ts
  app/soapbox/features/group/components/group-action-button.tsx
  app/soapbox/hooks/api/groups/useCancelMembershipRequest.ts
  app/soapbox/hooks/api/groups/useDeleteGroup.ts
  app/soapbox/hooks/api/groups/useJoinGroup.ts
  app/soapbox/hooks/api/groups/useLeaveGroup.ts
Due: lint-js, jest
