Repository soapbox-pub/soapbox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deps, lint-js, lint-sass, jest, nginx-test, docs-deploy

.gitlab-ci.yml:

image: node:18

variables:
  NODE_ENV: test

default:
  interruptible: true

cache: &cache
  key:
    files:
      - yarn.lock
  paths:
    - node_modules/
  policy: pull

stages:
  - deps
  - test
  - deploy

deps:
  stage: deps
  script: yarn install --ignore-scripts
  only:
    changes:
      - yarn.lock
  cache:
    <<: *cache
    policy: push

danger:
  stage: test
  script:
    # https://github.com/danger/danger-js/issues/1029#issuecomment-998915436
    - export CI_MERGE_REQUEST_IID=${CI_OPEN_MERGE_REQUESTS#*!}
    - npx danger ci
  except:
    variables:
      - $CI_DEFAULT_BRANCH == $CI_COMMIT_REF_NAME
  allow_failure: true

lint-js:
  stage: test
  script: yarn lint:js
  only:
    changes:
      - "**/*.js"
      - "**/*.jsx"
      - "**/*.ts"
      - "**/*.tsx"
      - ".eslintignore"
      - ".eslintrc.js"

lint-sass:
  stage: test
  script: yarn lint:sass
  only:
    changes:
      - "**/*.scss"
      - "**/*.css"
      - ".stylelintrc.json"

jest:
  stage: test
  script: yarn test:coverage --runInBand
  only:
    changes:
      - "**/*.js"
      - "**/*.json"
      - "app/soapbox/**/*"
      - "webpack/**/*"
      - "custom/**/*"
      - "jest.config.js"
      - "package.json"
      - "yarn.lock"
      - ".gitlab-ci.yml"
  coverage: /All files[^|]*\|[^|]*\s+([\d\.]+)/
  artifacts:
    reports:
      junit: junit.xml
      coverage_report:
        coverage_format: cobertura
        path: .coverage/cobertura-coverage.xml

nginx-test:
  stage: test
  image: nginx:latest
  before_script:
    - cp installation/mastodon.conf /etc/nginx/conf.d/default.conf
  script: nginx -t
  only:
    changes:
      - "installation/mastodon.conf"

build-production:
  stage: test
  script:
    - yarn build
    - yarn manage:translations en
    # Fail if files got changed.
    # https://stackoverflow.com/a/9066385
    - git diff --quiet
  variables:
    NODE_ENV: production
  artifacts:
    paths:
     - static

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
    - apk add curl
  script:
    - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline
  only:
    variables:
      - $CI_DEFAULT_BRANCH == $CI_COMMIT_REF_NAME
    changes:
      - "docs/**/*"

review:
  stage: deploy
  environment:
    name: review/$CI_COMMIT_REF_NAME
    url: https://$CI_COMMIT_REF_SLUG.git.soapbox.pub
  script:
    - npx -y surge static $CI_COMMIT_REF_SLUG.git.soapbox.pub
  allow_failure: true

pages:
  stage: deploy
  before_script: []
  script:
    # artifacts are kept between jobs
    - mv static public
  variables:
    NODE_ENV: production
  artifacts:
    paths:
    - public
  only:
    variables:
      - $CI_DEFAULT_BRANCH == $CI_COMMIT_REF_NAME

docker:
  stage: deploy
  image: docker:20.10.22
  services:
    - docker:20.10.22-dind
  tags:
    - dind
  # https://medium.com/devops-with-valentine/how-to-build-a-docker-image-and-push-it-to-the-gitlab-container-registry-from-a-gitlab-ci-pipeline-acac0d1f26df
  script:
    - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
    - docker build -t $CI_REGISTRY_IMAGE .
    - docker push $CI_REGISTRY_IMAGE
  only:
    variables:
      - $CI_DEFAULT_BRANCH == $CI_COMMIT_REF_NAME

include:
  - template: Jobs/Dependency-Scanning.gitlab-ci.yml
  - template: Security/License-Scanning.gitlab-ci.yml

Account: rip out calculations on display name, truncate with CSS
  app/soapbox/components/account.tsx
Due: lint-js, jest

Add support for react-intl for Storybook
  .storybook/main.ts
  .storybook/preview.ts
  .storybook/preview.tsx
  package.json
  yarn.lock
Due: deps, lint-js, jest

Update changelog
  CHANGELOG.md
Due: none

Translated using Weblate (German)
  app/soapbox/locales/de.json
Due: jest

Translated using Weblate (Spanish)
  app/soapbox/locales/es.json
Due: jest

Translated using Weblate (Chinese (Simplified))
  app/soapbox/locales/zh-CN.json
Due: jest

Toast.stories: update Template for new preview
  stories/Toast.stories.tsx
Due: lint-js

Invert features.emojiReactsRGI
  app/soapbox/actions/soapbox.ts
  app/soapbox/utils/features.ts
Due: lint-js, jest

Improve Emoji Reactions and add support for Chat Reactions
  app/soapbox/actions/streaming.ts
  app/soapbox/components/__tests__/emoji-selector.test.tsx
  app/soapbox/components/emoji-selector.tsx
  app/soapbox/components/status-action-bar.tsx
  app/soapbox/components/status-reaction-wrapper.tsx
  app/soapbox/components/ui/emoji-selector/emoji-selector.tsx
  app/soapbox/components/ui/icon-button/icon-button.tsx
  app/soapbox/containers/dropdown-menu-container.ts
  app/soapbox/features/chats/components/__tests__/chat-message-list.test.tsx
  app/soapbox/features/chats/components/__tests__/chat-message-reaction.test.tsx
  app/soapbox/features/chats/components/chat-message-list.tsx
  app/soapbox/features/chats/components/chat-message-reaction-wrapper/chat-message-reaction-wrapper.tsx
  app/soapbox/features/chats/components/chat-message-reaction.tsx
  app/soapbox/features/chats/components/chat-message.tsx
  app/soapbox/normalizers/chat-message.ts
  app/soapbox/normalizers/emoji-reaction.ts
  app/soapbox/normalizers/index.ts
  app/soapbox/queries/__tests__/chats.test.ts
  app/soapbox/queries/chats.ts
  app/soapbox/types/entities.ts
  app/soapbox/utils/__tests__/chats.test.ts
  app/soapbox/utils/chats.ts
  app/soapbox/utils/features.ts
Due: lint-js, jest

Chats: support multiple attachments
  app/soapbox/features/chats/components/chat-composer.tsx
  app/soapbox/features/chats/components/chat.tsx
  app/soapbox/normalizers/instance.ts
  app/soapbox/queries/chats.ts
Due: lint-js, jest

ChatUploadPreview: support gif attachments
  app/soapbox/features/chats/components/chat-upload-preview.tsx
Due: lint-js, jest

ChatTextarea: add gaps between uploads, put pending upload at end of list
  app/soapbox/features/chats/components/chat-textarea.tsx
Due: lint-js, jest

CHats: fix deleting a specific attachment
  app/soapbox/features/chats/components/chat-composer.tsx
  app/soapbox/features/chats/components/chat-textarea.tsx
  app/soapbox/features/chats/components/chat.tsx
Due: lint-js, jest

classNames -> clsx
  app/soapbox/features/chats/components/chat-message-reaction.tsx
Due: lint-js, jest

Chats: disable adding media (and submitting) while media is uploading
  app/soapbox/features/chats/components/chat-composer.tsx
Due: lint-js, jest

Fix instance tests
  app/soapbox/normalizers/__tests__/instance.test.ts
  app/soapbox/reducers/__tests__/instance.test.ts
Due: lint-js, jest

Consolidate around MediaPreview component
  app/soapbox/components/media-gallery/media-item-thumbnail.tsx
  app/soapbox/components/media-gallery/media-item.tsx
  app/soapbox/components/media/media-preview.tsx
  app/soapbox/features/chats/components/chat-upload.tsx
Due: lint-js, jest

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Add StillVideo component
  app/soapbox/components/media/media-preview.tsx
  app/soapbox/components/still-video.tsx
  app/soapbox/features/chats/components/chat-upload-preview.tsx
  app/soapbox/features/chats/components/chat-upload.tsx
Due: lint-js, jest

EmojiSelector: render full picker
  app/soapbox/components/ui/emoji-selector/emoji-selector.tsx
Due: lint-js, jest

EmojiSelector: allow reacting from full picker
  app/soapbox/components/ui/emoji-selector/emoji-selector.tsx
Due: lint-js, jest

StatusReactionWrapper: put the picker in a portal
  app/soapbox/components/status-reaction-wrapper.tsx
Due: lint-js, jest

Don't allow reacting with any emoji to a chat for now
  app/soapbox/features/chats/components/chat-message-reaction-wrapper/chat-message-reaction-wrapper.tsx
Due: lint-js, jest

Translated using Weblate (Italian)
  app/soapbox/locales/it.json
Due: jest

Display all emoji reactions
  app/soapbox/utils/__tests__/emoji-reacts.test.ts
  app/soapbox/utils/emoji-reacts.ts
Due: lint-js, jest

Display all emoji reactions
  CHANGELOG.md
  app/soapbox/utils/__tests__/emoji-reacts.test.ts
  app/soapbox/utils/emoji-reacts.ts
Due: lint-js, jest

Update hoverable menu on Chat Messages
  app/soapbox/components/ui/emoji-selector/emoji-selector.tsx
  app/soapbox/features/chats/components/chat-message.tsx
Due: lint-js, jest

Update Changelog
  CHANGELOG.md
Due: none

Discard changes to 'emojiReactsRGI' feature
  app/soapbox/utils/features.ts
Due: lint-js, jest

Disable chatEmojiReacts
  app/soapbox/utils/features.ts
Due: lint-js, jest

Re-build dropdown-menu using FloatingUI
  app/soapbox/actions/dropdown-menu.ts
  app/soapbox/components/dropdown-menu.tsx
  app/soapbox/components/dropdown-menu/dropdown-menu-item.tsx
  app/soapbox/components/dropdown-menu/dropdown-menu.tsx
  app/soapbox/components/dropdown-menu/index.ts
  app/soapbox/components/sidebar-navigation.tsx
  app/soapbox/components/status-action-bar.tsx
  app/soapbox/components/statuses/sensitive-content-overlay.tsx
  app/soapbox/components/ui/accordion/accordion.tsx
  app/soapbox/components/ui/index.ts
  app/soapbox/components/ui/portal/portal.tsx
  app/soapbox/containers/dropdown-menu-container.ts
  app/soapbox/features/account/components/header.tsx
  app/soapbox/features/admin/components/report-status.tsx
  app/soapbox/features/admin/components/report.tsx
  app/soapbox/features/chats/components/chat-list-item.tsx
  app/soapbox/features/chats/components/chat-message.tsx
  app/soapbox/features/event/components/event-header.tsx
  app/soapbox/features/group/group-members.tsx
  app/soapbox/features/theme-editor/index.tsx
  app/soapbox/features/ui/components/instance-moderation-panel.tsx
  app/soapbox/features/ui/components/modals/actions-modal.tsx
  app/soapbox/features/ui/index.tsx
  app/soapbox/reducers/dropdown-menu.ts
  app/soapbox/utils/features.ts
  app/styles/application.scss
  app/styles/components/dropdown-menu.scss
  package.json
  yarn.lock
Due: deps, lint-js, lint-sass, jest

Replace @reach/portal with custom Portal
  app/soapbox/components/autosuggest-input.tsx
  app/soapbox/components/autosuggest-textarea.tsx
  app/soapbox/components/ui/tooltip/tooltip.tsx
  package.json
  yarn.lock
Due: deps, lint-js, jest

Fix dropdown-menu reducer test
  app/soapbox/reducers/__tests__/dropdown-menu.test.ts
Due: lint-js, jest

Make sure DOM is ready for Portal
  app/soapbox/components/ui/portal/portal.tsx
  app/soapbox/jest/test-helpers.tsx
Due: lint-js, jest

Cleanup a few things
  app/soapbox/components/dropdown-menu/dropdown-menu-item.tsx
  app/soapbox/components/dropdown-menu/dropdown-menu.tsx
  app/soapbox/components/ui/portal/portal.tsx
  app/soapbox/features/account/components/header.tsx
Due: lint-js, jest

Dashboard: Allow to create announcements
  app/soapbox/actions/admin.ts
  app/soapbox/features/admin/announcements.tsx
  app/soapbox/features/chats/components/chat-textarea.tsx
  app/soapbox/features/ui/components/modal-root.tsx
  app/soapbox/features/ui/components/modals/edit-announcement-modal.tsx
  app/soapbox/features/ui/components/modals/manage-group-modal/manage-group-modal.tsx
  app/soapbox/features/ui/index.tsx
  app/soapbox/features/ui/util/async-components.ts
  app/soapbox/normalizers/announcement.ts
  app/soapbox/reducers/admin-announcements.ts
  app/soapbox/reducers/index.ts
Due: lint-js, jest

Update CHANGELOG.MD
  CHANGELOG.md
Due: none
