Repository soapbox-pub/soapbox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deps, lint-js, lint-sass, jest, nginx-test, docs-deploy

deps:
  stage: deps
  script: yarn install --ignore-scripts
  cache:
    key:
      files:
      - yarn.lock
    paths:
    - node_modules/
    policy: push

lint-js:
  stage: test
  script: yarn lint:js

lint-sass:
  stage: test
  script: yarn lint:sass

jest:
  stage: test
  script: yarn test:coverage --runInBand
  coverage: /All files[^|]*\|[^|]*\s+([\d\.]+)/
  artifacts:
    reports:
      junit: junit.xml
      coverage_report:
        coverage_format: cobertura
        path: .coverage/cobertura-coverage.xml

nginx-test:
  stage: test
  image: nginx:latest
  before_script:
  - cp installation/mastodon.conf /etc/nginx/conf.d/default.conf
  script: nginx -t

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
  - apk add curl
  script:
  - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline

We do a little refactoring
  app/soapbox/features/group/edit-group.tsx
  app/soapbox/hooks/forms/useImageField.ts
  app/soapbox/hooks/forms/useTextField.ts
Due: lint-js, jest

Input: improve disabled style
  app/soapbox/components/ui/input/input.tsx
  app/soapbox/features/group/edit-group.tsx
Due: lint-js, jest

FormGroup: move hintText above input
  app/soapbox/components/ui/form-group/form-group.tsx
Due: lint-js, jest

EditGroup: add "cannot change" hint
  app/soapbox/features/group/edit-group.tsx
Due: lint-js, jest

yarn i18n
  app/soapbox/locales/en.json
Due: jest

i18n
  app/soapbox/locales/en.json
Due: jest

Lexical: Cleanup, move TypeaheadMenuPlugin and parts of MentionPlugin to new AutosuggestPlugin
  app/soapbox/features/compose/editor/index.tsx
  app/soapbox/features/compose/editor/plugins/autosuggest-plugin.tsx
  app/soapbox/features/compose/editor/plugins/floating-link-editor-plugin.tsx
  app/soapbox/features/compose/editor/plugins/mention-plugin.tsx
Due: lint-js, jest

Add tests for GroupRelationship
  app/soapbox/features/group/components/__tests__/group-relationship.test.tsx
  app/soapbox/features/group/components/group-relationship.tsx
Due: lint-js, jest

Add tests for GroupOptionsButton
  app/soapbox/features/group/components/__tests__/group-options-button.test.tsx
  app/soapbox/features/group/components/group-options-button.tsx
Due: lint-js, jest

Improve dark mode support of Groups + bug fixes
  app/soapbox/components/groups/group-avatar.tsx
  app/soapbox/components/ui/button/useButtonStyles.ts
  app/soapbox/components/ui/popover/popover.tsx
  app/soapbox/features/group/components/group-relationship.tsx
  app/soapbox/features/groups/pending-requests.tsx
  app/soapbox/features/placeholder/components/placeholder-group-discover.tsx
  app/soapbox/features/ui/components/modals/manage-group-modal/steps/confirmation-step.tsx
Due: lint-js, jest

Groups: make "share with followers" button work
  app/soapbox/actions/compose.ts
  app/soapbox/features/compose/components/compose-form.tsx
  app/soapbox/features/group/group-timeline.tsx
  app/soapbox/reducers/compose.ts
Due: lint-js, jest

Change discover chunk to groups
  app/soapbox/features/ui/util/async-components.ts
Due: lint-js, jest

Replace Toggle with a custom component
  app/soapbox/components/ui/toggle/toggle.tsx
  app/soapbox/features/filters/edit-filter.tsx
  app/soapbox/features/ui/components/modals/edit-announcement-modal.tsx
Due: lint-js, jest

Toggle: add size prop
  app/soapbox/components/ui/toggle/toggle.tsx
Due: lint-js, jest

Toggle: use bg-primary-600 when checked
  app/soapbox/components/ui/toggle/toggle.tsx
Due: lint-js, jest

Toggle: fix JSDoc comment
  app/soapbox/components/ui/toggle/toggle.tsx
Due: lint-js, jest

Toggle: add disabled state
  app/soapbox/components/ui/toggle/toggle.tsx
Due: lint-js, jest

Toggle: add "name" prop
  app/soapbox/components/ui/toggle/toggle.tsx
Due: lint-js, jest

Remove react-toggle
  app/soapbox/features/report/components/status-check-box.tsx
  app/soapbox/features/ui/components/modals/compose-event-modal/compose-event-modal.tsx
  app/soapbox/features/ui/components/modals/edit-federation-modal.tsx
  app/soapbox/features/ui/components/modals/mute-modal.tsx
  app/soapbox/features/ui/components/modals/report-modal/steps/other-actions-step.tsx
  app/styles/application.scss
  app/styles/components/react-toggle.scss
  package.json
  yarn.lock
Due: deps, lint-js, lint-sass, jest

Toggle: fix size sm track
  app/soapbox/components/ui/toggle/toggle.tsx
Due: lint-js, jest

GroupTimeline: use size sm Toggle
  app/soapbox/features/group/group-timeline.tsx
Due: lint-js, jest

GroupTimeline: make label clickable
  app/soapbox/features/group/group-timeline.tsx
Due: lint-js, jest

Toggle: prevent clicking label getting it stuck
  app/soapbox/components/ui/toggle/toggle.tsx
Due: lint-js, jest

GroupTimeline: use FormattedMessage
  app/soapbox/features/group/group-timeline.tsx
  app/soapbox/locales/en.json
Due: lint-js, jest

Only show toggle for public groups
  app/soapbox/features/group/group-timeline.tsx
Due: lint-js, jest

wip
  app/soapbox/features/compose/editor/index.tsx
  app/soapbox/features/compose/editor/nodes.ts
  app/soapbox/features/compose/editor/nodes/emoji-node.tsx
  app/soapbox/features/compose/editor/plugins/autosuggest-plugin.tsx
  app/soapbox/features/compose/editor/plugins/emoji-plugin.tsx
Due: lint-js, jest

Update TailwindCSS, fix aspect ratio in ProfileMediaPanel
  app/soapbox/features/account-gallery/components/media-item.tsx
  package.json
  yarn.lock
Due: deps, lint-js, jest

Lint
  app/soapbox/components/account.tsx
  app/soapbox/components/dropdown-menu/dropdown-menu-item.tsx
  app/soapbox/components/error-boundary.tsx
  app/soapbox/components/event-preview.tsx
  app/soapbox/components/gdpr-banner.tsx
  app/soapbox/components/group-card.tsx
  app/soapbox/components/groups/popover/group-popover.tsx
  app/soapbox/components/icon-with-counter.tsx
  app/soapbox/components/profile-hover-card.tsx
  app/soapbox/components/sidebar-menu.tsx
  app/soapbox/components/still-image.tsx
  app/soapbox/components/ui/file-input/file-input.tsx
  app/soapbox/components/ui/icon/icon.tsx
  app/soapbox/components/ui/menu/menu.tsx
  app/soapbox/features/account/components/header.tsx
  app/soapbox/features/admin/tabs/awaiting-approval.tsx
  app/soapbox/features/ads/components/ad.tsx
  app/soapbox/features/auth-layout/index.tsx
  app/soapbox/features/chats/components/chat-list.tsx
  app/soapbox/features/chats/components/chat-page/components/chat-page-settings.tsx
  app/soapbox/features/chats/components/chat-page/components/welcome.tsx
  app/soapbox/features/chats/components/chat-search/results.tsx
  app/soapbox/features/chats/components/chat-widget/chat-pane-header.tsx
  app/soapbox/features/directory/components/account-card.tsx
  app/soapbox/features/edit-profile/components/profile-preview.tsx
  app/soapbox/features/group/components/group-header.tsx
  app/soapbox/features/group/edit-group.tsx
  app/soapbox/features/groups/components/discover/group-grid-item.tsx
  app/soapbox/features/onboarding/steps/suggested-accounts-step.tsx
  app/soapbox/features/placeholder/components/placeholder-event-preview.tsx
  app/soapbox/features/placeholder/components/placeholder-group-card.tsx
  app/soapbox/features/placeholder/components/placeholder-group-discover.tsx
  app/soapbox/features/public-layout/components/footer.tsx
  app/soapbox/features/public-layout/components/header.tsx
  app/soapbox/features/public-layout/components/sonar.tsx
  app/soapbox/features/ui/components/modals/compose-event-modal/compose-event-modal.tsx
  app/soapbox/features/ui/components/modals/manage-group-modal/steps/details-step.tsx
  app/soapbox/features/ui/components/modals/report-modal/steps/reason-step.tsx
  app/soapbox/features/ui/components/navbar.tsx
  app/soapbox/features/ui/components/promo-panel.tsx
Due: lint-js, jest

Nostr fools
  app/soapbox/components/account.tsx
  app/soapbox/components/display-name.tsx
  app/soapbox/components/status-reply-mentions.tsx
  app/soapbox/features/ui/components/profile-info-panel.tsx
  app/soapbox/normalizers/account.ts
  app/soapbox/normalizers/mention.ts
  app/soapbox/schemas/account.ts
  package.json
  yarn.lock
Due: deps, lint-js, jest

Nostrify notifications
  app/soapbox/features/notifications/components/notification.tsx
Due: lint-js, jest

Fix reblog name
  app/soapbox/components/status.tsx
Due: lint-js, jest

Rename likes to zaps
  app/soapbox/components/status-action-bar.tsx
  app/soapbox/features/notifications/components/notification.tsx
  app/soapbox/locales/en.json
Due: lint-js, jest

Remove bloat
  app/soapbox/components/status-reaction-wrapper.tsx
Due: lint-js, jest

Translated using Weblate (Chinese (Simplified))
  app/soapbox/locales/zh-CN.json
Due: jest

Translated using Weblate (German)
  app/soapbox/locales/de.json
Due: jest

Update translation files
  app/soapbox/locales/ar.json
  app/soapbox/locales/de.json
  app/soapbox/locales/es.json
  app/soapbox/locales/it.json
  app/soapbox/locales/no.json
  app/soapbox/locales/pl.json
  app/soapbox/locales/zh-CN.json
Due: jest

Translated using Weblate (Spanish)
  app/soapbox/locales/es.json
Due: jest

Path conditions:
  deps: any of: yarn.lock
  lint-js: any of: **/*.js, **/*.jsx, **/*.ts, **/*.tsx, .eslintignore, .eslintrc.js
  lint-sass: any of: **/*.scss, **/*.css, .stylelintrc.json
  jest: any of: **/*.js, **/*.json, app/soapbox/**/*, webpack/**/*, custom/**/*, jest.config.js, package.json, yarn.lock, .gitlab-ci.yml
  nginx-test: any of: installation/mastodon.conf
  docs-deploy: any of: docs/**/*
