Repository soapbox-pub/soapbox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deps, lint-js, lint-sass, jest, nginx-test, docs-deploy

deps:
  stage: deps
  script: yarn install --ignore-scripts
  cache:
    key:
      files:
      - yarn.lock
    paths:
    - node_modules/
    policy: push

lint-js:
  stage: test
  script: yarn lint:js

lint-sass:
  stage: test
  script: yarn lint:sass

jest:
  stage: test
  script: yarn test:coverage --runInBand
  coverage: /All files[^|]*\|[^|]*\s+([\d\.]+)/
  artifacts:
    reports:
      junit: junit.xml
      coverage_report:
        coverage_format: cobertura
        path: .coverage/cobertura-coverage.xml

nginx-test:
  stage: test
  image: nginx:latest
  before_script:
  - cp installation/mastodon.conf /etc/nginx/conf.d/default.conf
  script: nginx -t

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
  - apk add curl
  script:
  - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline

Truncate account names in modals
  app/soapbox/features/ui/components/modals/birthdays-modal.tsx
  app/soapbox/features/ui/components/modals/event-participants-modal.tsx
  app/soapbox/features/ui/components/modals/favourites-modal.tsx
  app/soapbox/features/ui/components/modals/mentions-modal.tsx
  app/soapbox/features/ui/components/modals/reactions-modal.tsx
  app/soapbox/features/ui/components/modals/reblogs-modal.tsx
Due: lint-js, jest

Update changelog
  CHANGELOG.md
Due: none

Update yarn lockfile
  yarn.lock
Due: deps, jest

purg.com tweaks and modifications
  app/soapbox/components/sidebar-navigation.tsx
  app/soapbox/features/public-layout/components/header.tsx
  app/soapbox/features/ui/components/link-footer.tsx
  app/soapbox/features/ui/components/navbar.tsx
Due: lint-js, jest

Fix 'View context' button
  app/soapbox/features/account-gallery/components/media-item.tsx
  app/soapbox/features/ui/components/modals/media-modal.tsx
  app/soapbox/service-worker/web-push-notifications.ts
Due: lint-js, jest

ExternalLoginForm: accept `?server` param to redirect the login form to the specified instance Fixes https://gitlab.com/soapbox-pub/soapbox/-/issues/1313
  CHANGELOG.md
  app/soapbox/features/external-login/components/external-login-form.tsx
Due: lint-js, jest

Translations: Support allow_unauthenticated and allow_remote
  CHANGELOG.md
  app/soapbox/components/translate-button.tsx
Due: lint-js, jest

Revert "Update yarn lockfile"
  yarn.lock
Due: deps, jest

Revert "Merge branch 'soapbox-pub:develop' into develop"
  CHANGELOG.md
  app/soapbox/components/account.tsx
  app/soapbox/components/modal-root.tsx
  app/soapbox/components/translate-button.tsx
  app/soapbox/features/account-gallery/components/media-item.tsx
  app/soapbox/features/external-login/components/external-login-form.tsx
  app/soapbox/features/reply-mentions/account.tsx
  app/soapbox/features/ui/components/modals/media-modal.tsx
  app/soapbox/service-worker/web-push-notifications.ts
Due: lint-js, jest

Finally reset back to before an incorrect upstream merge.
  yarn.lock
Due: deps, jest

proper merge from upstream
  CHANGELOG.md
  README.md
  app/soapbox/components/account.tsx
  app/soapbox/components/modal-root.tsx
  app/soapbox/components/translate-button.tsx
  app/soapbox/features/external-login/components/external-login-form.tsx
  app/soapbox/features/reply-mentions/account.tsx
  app/soapbox/features/ui/components/modals/media-modal.tsx
Due: lint-js, jest

Rework releases CI
  .gitlab-ci.yml
  CHANGELOG.md
  package.json
  scripts/do-release.ts
  scripts/lib/changelog.ts
  yarn.lock
Due: deps, lint-js, jest

yarn deduplicate
  package.json
  yarn.lock
Due: deps, jest

GitLab CI: use pull-push for deps
  .gitlab-ci.yml
Due: jest

update yarn.lock
  yarn.lock
Due: deps, jest

Lint
  app/soapbox/components/status.tsx
Due: lint-js, jest

Remove 'file-icon' in empty link preview
  app/soapbox/features/status/components/card.tsx
  app/styles/components/status.scss
Due: lint-js, lint-sass, jest

Allow null
  app/soapbox/features/status/components/card.tsx
Due: lint-js, jest

Add Changelog entry
  CHANGELOG.md
Due: none

Delete accounts.scss
  app/soapbox/components/display-name.tsx
  app/soapbox/features/account-gallery/components/media-item.tsx
  app/soapbox/features/account-gallery/index.tsx
  app/soapbox/features/account-timeline/components/moved-note.tsx
  app/soapbox/features/ui/components/profile-media-panel.tsx
  app/styles/accounts.scss
  app/styles/application.scss
Due: lint-js, lint-sass, jest

Remove Dyslexic mode
  .stylelintrc.json
  app/assets/fonts/OpenDyslexic/LICENSE
  app/assets/fonts/OpenDyslexic/OpenDyslexic-Bold-Italic.woff2
  app/assets/fonts/OpenDyslexic/OpenDyslexic-Bold.woff2
  app/assets/fonts/OpenDyslexic/OpenDyslexic-Italic.woff2
  app/assets/fonts/OpenDyslexic/OpenDyslexic-Regular.woff2
  app/soapbox/actions/settings.ts
  app/soapbox/containers/soapbox.tsx
  app/soapbox/features/developers/settings-store.tsx
  app/soapbox/locales/en.json
  app/styles/application.scss
  app/styles/dyslexic.scss
  app/styles/fonts.scss
Due: lint-js, lint-sass, jest

Remove 'history' dep
  app/soapbox/actions/accounts.ts
  app/soapbox/actions/chats.ts
  app/soapbox/actions/compose.ts
  app/soapbox/components/modal-root.tsx
  app/soapbox/types/history.ts
  app/soapbox/utils/redirect.ts
  package.json
  yarn.lock
Due: deps, lint-js, jest

useDispatch --> useAppDispatch, fix types for react-redux v8
  app/soapbox/components/domain.tsx
  app/soapbox/components/emoji-button-wrapper.tsx
  app/soapbox/components/sidebar-menu.tsx
  app/soapbox/contexts/chat-context.tsx
  app/soapbox/features/aliases/components/search.tsx
  app/soapbox/features/blocks/index.tsx
  app/soapbox/features/compose/components/search.tsx
  app/soapbox/features/developers/developers-challenge.tsx
  app/soapbox/features/developers/developers-menu.tsx
  app/soapbox/features/directory/index.tsx
  app/soapbox/features/domain-blocks/index.tsx
  app/soapbox/features/follow-requests/components/account-authorize.tsx
  app/soapbox/features/follow-requests/index.tsx
  app/soapbox/features/lists/components/new-list-form.tsx
  app/soapbox/features/lists/index.tsx
  app/soapbox/features/mutes/index.tsx
  app/soapbox/features/onboarding/onboarding-wizard.tsx
  app/soapbox/features/onboarding/steps/avatar-selection-step.tsx
  app/soapbox/features/onboarding/steps/bio-step.tsx
  app/soapbox/features/onboarding/steps/cover-photo-selection-step.tsx
  app/soapbox/features/onboarding/steps/display-name-step.tsx
  app/soapbox/features/preferences/index.tsx
  app/soapbox/features/public-layout/components/header.tsx
  app/soapbox/features/quotes/index.tsx
  app/soapbox/features/settings/index.tsx
  app/soapbox/features/test-timeline/index.tsx
  app/soapbox/features/ui/components/action-button.tsx
  app/soapbox/features/ui/components/link-footer.tsx
  app/soapbox/features/ui/components/modals/report-modal/steps/other-actions-step.tsx
  app/soapbox/features/ui/components/modals/report-modal/steps/reason-step.tsx
  app/soapbox/features/ui/components/navbar.tsx
  app/soapbox/features/ui/components/profile-dropdown.tsx
  app/soapbox/features/ui/components/profile-familiar-followers.tsx
  app/soapbox/features/ui/components/profile-media-panel.tsx
  app/soapbox/features/ui/components/theme-toggle.tsx
  app/soapbox/features/verification/waitlist-page.tsx
Due: lint-js, jest

Vite: preliminary setup
  app/index.html
  package.json
  vite.config.ts
  yarn.lock
Due: deps, lint-js, jest

Vite: try some other things
  app/styles/application.scss
  package.json
  postcss.config.js.bak
  tailwind.config.js
  vite.config.ts
  yarn.lock
Due: deps, lint-js, lint-sass, jest

I don't think it makes sense to have SvgIcon and ForkAwesomeIcon in a single component anymore
  app/soapbox/components/icon-button.tsx
  app/soapbox/components/icon.tsx
  app/soapbox/components/status-content.tsx
  app/soapbox/components/svg-icon.tsx
  app/soapbox/features/list-adder/components/list.tsx
  app/soapbox/features/lists/index.tsx
  app/soapbox/features/soapbox-config/components/icon-picker-dropdown.tsx
  app/soapbox/features/ui/components/list-panel.tsx
  app/soapbox/features/ui/components/promo-panel.tsx
Due: lint-js, jest

Remove polyfills, delete application.ts
  app/application.ts
  app/soapbox/base-polyfills.ts
  app/soapbox/extra-polyfills.ts
  app/soapbox/load-polyfills.ts
  app/soapbox/main.tsx
  package.json
  webpack/shared.ts
  yarn.lock
Due: deps, lint-js, jest

Update dependency node to v18.13.0
  .tool-versions
Due: none

Update dependency react-virtuoso to v4
  package.json
  yarn.lock
Due: deps, jest

ScrollableList: update Virtuoso component types for v4
  app/soapbox/components/scrollable-list.tsx
Due: lint-js, jest

Increase timeout for intermittently failing test
  app/soapbox/features/ui/__tests__/index.test.tsx
Due: lint-js, jest

Fix console error
  app/soapbox/features/ui/components/link-footer.tsx
Due: lint-js, jest

Ensure notifications are enabled
  app/soapbox/actions/notifications.ts
Due: lint-js, jest

Remove 'hasError' prop from FormGroup and Input
  app/soapbox/components/ui/form-group/form-group.tsx
  app/soapbox/components/ui/input/input.tsx
  app/soapbox/features/auth-login/components/registration-form.tsx
  app/soapbox/features/soapbox-config/index.tsx
Due: lint-js, jest

Fix locale
  app/soapbox/locales/en.json
Due: jest

Fix order of en.json
  app/soapbox/locales/en.json
Due: jest

Force jsonwebtoken to ^9.0.0
  package.json
  yarn.lock
Due: deps, jest

Set withLinkToProfile to false in PendingStatus
  app/soapbox/features/ui/components/pending-status.tsx
Due: lint-js, jest

Path conditions:
  deps: any of: yarn.lock
  lint-js: any of: **/*.js, **/*.jsx, **/*.ts, **/*.tsx, .eslintignore, .eslintrc.js
  lint-sass: any of: **/*.scss, **/*.css, .stylelintrc.json
  jest: any of: **/*.js, **/*.json, app/soapbox/**/*, webpack/**/*, custom/**/*, jest.config.js, package.json, yarn.lock, .gitlab-ci.yml
  nginx-test: any of: installation/mastodon.conf
  docs-deploy: any of: docs/**/*
