Repository soapbox-pub/soapbox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deps, lint, docs-deploy

.gitlab-ci.yml:

image: node:20

variables:
  NODE_ENV: test
  DS_EXCLUDED_ANALYZERS: gemnasium-python

default:
  interruptible: true

cache: &cache
  key:
    files:
      - yarn.lock
  paths:
    - node_modules/
  policy: pull

stages:
  - deps
  - test
  - deploy
  - release

deps:
  stage: deps
  script: yarn install --ignore-scripts
  only:
    changes:
      - yarn.lock
  cache:
    <<: *cache
    policy: push

danger:
  stage: test
  script:
    # https://github.com/danger/danger-js/issues/1029#issuecomment-998915436
    - export CI_MERGE_REQUEST_IID=${CI_OPEN_MERGE_REQUESTS#*!}
    - npx danger ci
  except:
    variables:
      - $CI_DEFAULT_BRANCH == $CI_COMMIT_REF_NAME
  allow_failure: true

lint:
  stage: test
  script: yarn lint
  only:
    changes:
      - "**/*.js"
      - "**/*.jsx"
      - "**/*.cjs"
      - "**/*.mjs"
      - "**/*.ts"
      - "**/*.tsx"
      - "**/*.scss"
      - "**/*.css"
      - ".eslintignore"
      - ".eslintrc.cjs"
      - ".stylelintrc.json"

build:
  stage: test
  before_script:
    - apt-get update -y && apt-get install -y zip
  script:
    - yarn build
    - cp dist/index.html dist/404.html
    - cd dist && zip -r ../soapbox.zip . && cd ..
  variables:
    NODE_ENV: production
  artifacts:
    paths:
     - soapbox.zip

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
    - apk add curl
  script:
    - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline
  only:
    variables:
      - $CI_DEFAULT_BRANCH == $CI_COMMIT_REF_NAME
    changes:
      - "docs/**/*"

review:
  stage: deploy
  environment:
    name: review/$CI_COMMIT_REF_NAME
    url: https://$CI_COMMIT_REF_SLUG.git.soapbox.pub
  before_script:
    - apt-get update -y && apt-get install -y unzip
  script:
    - unzip soapbox.zip -d dist
    - npx -y surge dist $CI_COMMIT_REF_SLUG.git.soapbox.pub
  allow_failure: true

pages:
  stage: deploy
  before_script:
    - apt-get update -y && apt-get install -y unzip
  script:
    # artifacts are kept between jobs
    - unzip soapbox.zip -d public
  variables:
    NODE_ENV: production
  artifacts:
    paths:
    - public
  only:
    variables:
      - $CI_DEFAULT_BRANCH == $CI_COMMIT_REF_NAME

docker:
  stage: deploy
  image: docker:24.0.6
  services:
    - docker:24.0.6-dind
  tags:
    - dind
  # https://medium.com/devops-with-valentine/how-to-build-a-docker-image-and-push-it-to-the-gitlab-container-registry-from-a-gitlab-ci-pipeline-acac0d1f26df
  script:
    - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
    - docker build -t $CI_REGISTRY_IMAGE:$CI_COMMIT_TAG .
    - docker push $CI_REGISTRY_IMAGE:$CI_COMMIT_TAG
  rules:
    - if: $CI_COMMIT_TAG
  interruptible: false

release:
  stage: release
  rules:
    - if: $CI_COMMIT_TAG
  script:
    - npx ts-node ./scripts/do-release.ts
  interruptible: false

include:
  - template: Jobs/Dependency-Scanning.gitlab-ci.yml

Fix lodash imports to get rid of unnecessary extra chunk
  src/features/chats/components/chat-message.tsx
  src/features/quotes/index.tsx
Due: lint

Fix ProfileHoverCard page crash Fixes https://gitlab.com/soapbox-pub/soapbox/-/issues/1550
  src/features/ui/index.tsx
Due: lint

SoapboxMount: add Suspense boundaries
  src/init/soapbox-mount.tsx
Due: lint

Layout.Aside: add Suspense boundary for the whole component
  src/components/ui/layout/layout.tsx
Due: lint

UI: wrap StatusHoverCard with Suspense boundary
  src/features/report/components/status-check-box.tsx
  src/features/ui/index.tsx
Due: lint

Convert all tests to ESM
  src/actions/accounts.test.ts
  src/actions/announcements.test.ts
  src/actions/blocks.test.ts
  src/actions/preload.test.ts
  src/actions/rules.test.ts
  src/actions/status-quotes.test.ts
  src/actions/statuses.test.ts
  src/components/ui/icon/svg-icon.test.tsx
  src/features/notifications/components/notification.test.tsx
  src/normalizers/account.test.ts
  src/normalizers/instance.test.ts
  src/normalizers/soapbox/soapbox-config.test.ts
  src/normalizers/status.test.ts
  src/reducers/announcements.test.ts
  src/reducers/auth.test.ts
  src/reducers/compose.test.ts
  src/reducers/instance.test.ts
  src/reducers/statuses.test.ts
  src/schemas/group.test.ts
  src/schemas/poll.test.ts
  src/utils/status.test.ts
Due: lint

Reducers: Preserve translation if an existing status already has it
  src/reducers/statuses.ts
Due: lint

ComposeForm: wrap ComposeEditor with Suspense
  src/features/compose/components/compose-form.tsx
Due: lint

Chunk ScheduleForm differently, fix screen blinking when compose is focused
  src/features/compose/components/compose-form.tsx
  src/features/compose/components/schedule-form.tsx
  src/features/ui/util/async-components.ts
Due: lint

Wrap EmojiPicker with a Suspense boundary
  src/features/emoji/components/emoji-picker-dropdown.tsx
Due: lint

Fix RTL Toggle Fixes https://gitlab.com/soapbox-pub/soapbox/-/issues/1462
  src/components/ui/toggle/toggle.tsx
Due: lint

Use Tajawal font for Arabic Fixes https://gitlab.com/soapbox-pub/soapbox/-/issues/1361
  package.json
  src/main.tsx
  src/styles/i18n.css
  tailwind.config.cjs
  yarn.lock
Due: deps, lint

ChatPane: clean up, switch to the other side in RTL
  src/features/chats/components/chat-pane/chat-pane.tsx
  src/features/chats/components/ui/pane.tsx
  src/features/ui/index.tsx
Due: lint

i18n.css --> i18n/arabic.css
  src/main.tsx
  src/styles/i18n/arabic.css
Due: lint

UserPanel: fix RTL support for @
  src/features/ui/components/user-panel.tsx
Due: lint

Card --> PreviewCard
  src/components/preview-card.tsx
  src/components/status-media.tsx
Due: lint

LinkPreview: check RTL of text
  src/components/preview-card.tsx
  src/rtl.ts
Due: lint

rtl.ts -> utils/rtl.ts
  src/components/autosuggest-input.tsx
  src/components/autosuggest-textarea.tsx
  src/components/preview-card.tsx
  src/components/status-content.tsx
  src/features/compose/components/reply-indicator.tsx
  src/utils/rtl.ts
Due: lint

Chats: flip arrow icons in RTL
  src/features/chats/components/chat-page/components/chat-page-main.tsx
  src/features/chats/components/chat-page/components/chat-page-new.tsx
  src/features/chats/components/chat-page/components/chat-page-settings.tsx
  src/features/chats/components/chat-widget/chat-settings.tsx
  src/features/chats/components/chat-widget/chat-window.tsx
  src/features/chats/components/chat-widget/headers/chat-search-header.tsx
  src/features/groups/discover.tsx
Due: lint

ErrorBoundary: fix RTL arrow
  src/components/error-boundary.tsx
Due: lint

ErrorBoundary: we do a little refactoring
  src/components/error-boundary.tsx
Due: lint

ErrorBoundary: ensure error text is LTR
  src/components/error-boundary.tsx
Due: lint

Translated using Weblate (Polish)
  src/locales/pl.json
Due: none

StatusContent: ensure inline mentions are always LTR
  src/components/status-content.tsx
Due: lint

Input: fix RTL with append
  src/components/ui/input/input.tsx
Due: lint

translationRuner: fix translationsDirectory path
  scripts/translationRunner.ts
Due: lint

translationRunner: hack around lack of ESM support
  scripts/translationRunner.ts
Due: lint

Remove ts-node, use tsx to run scripts
  .gitlab-ci.yml
  package.json
  tsconfig.json
  yarn.lock
Due: deps

AccountSearch: fix icon position in RTL Fixes https://gitlab.com/soapbox-pub/soapbox/-/issues/1557
  src/components/account-search.tsx
Due: lint

Chat search: ensure acct is LTR
  src/features/chats/components/chat-search/results.tsx
Due: lint

Input: support RTL detection on all Inputs, remove from AutosuggestInput
  src/components/autosuggest-input.tsx
  src/components/ui/input/input.tsx
  src/hooks/useLocale.ts
  src/utils/rtl.ts
Due: lint

Remove AutosuggestTextarea
  package.json
  src/components/autosuggest-textarea.tsx
  src/features/compose/components/compose-form.tsx
  yarn.lock
Due: deps, lint

AccountNotePanel: use our native Textarea component
  src/components/ui/textarea/textarea.tsx
  src/features/ui/components/panels/account-note-panel.tsx
Due: lint

Textarea: autodetect RTL
  src/components/ui/textarea/textarea.tsx
Due: lint

Update formatjs monorepo
  package.json
  yarn.lock
Due: deps

Nuke translationRunner, make `yarn i18n` work again
  babel.config.cjs
  package.json
  scripts/translationRunner.ts
  types/react-intl-translations-manager/index.d.ts
  yarn.lock
Due: deps, lint

npx yarn-deduplicate yarn.lock && yarn
  yarn.lock
Due: deps

Remove yargs
  package.json
  yarn.lock
Due: deps

i18n: resolve duplicate message identifiers in code
  src/components/sidebar-menu.tsx
  src/components/status-action-bar.tsx
  src/features/account/components/header.tsx
  src/features/chats/components/chat-page/components/chat-page-sidebar.tsx
  src/features/chats/components/chat-pane/blankslate.tsx
  src/features/filters/index.tsx
  src/features/group/components/group-options-button.tsx
  src/features/group/manage-group.tsx
  src/features/list-adder/index.tsx
  src/features/ui/components/floating-action-button.tsx
  src/features/ui/components/modals/actions-modal.tsx
  src/features/ui/components/navbar.tsx
  src/features/ui/components/panels/sign-up-panel.tsx
  src/toast.tsx
Due: lint

Run yarn i18n, copy some messages from en.json back into source files
  src/actions/compose.ts
  src/components/polls/poll-footer.tsx
  src/components/sidebar-menu.tsx
  src/components/status-action-bar.tsx
  src/components/status-list.tsx
  src/components/thumb-navigation.tsx
  src/features/auth-login/components/login-form.tsx
  src/features/auth-login/components/password-reset.tsx
  src/features/auth-login/components/registration-page.tsx
  src/features/chats/components/chat-search-input.tsx
  src/features/compose/components/polls/poll-form.tsx
  src/features/edit-profile/index.tsx
  src/features/emoji/components/emoji-picker-dropdown.tsx
  src/features/group/components/group-member-list-item.tsx
  src/features/group/manage-group.tsx
  src/features/groups/popular.tsx
  src/features/notifications/components/notification.tsx
  src/features/preferences/index.tsx
  src/features/public-timeline/index.tsx
  src/features/settings/index.tsx
  src/features/ui/components/modals/compose-event-modal/upload-button.tsx
  src/features/ui/components/modals/compose-modal.tsx
  src/features/ui/components/modals/edit-announcement-modal.tsx
  src/features/ui/components/modals/missing-description-modal.tsx
  src/features/ui/components/navbar.tsx
  src/features/ui/components/profile-stats.tsx
  src/features/ui/components/user-panel.tsx
  src/locales/en.json
  src/pages/profile-page.tsx
Due: lint
