Repository soapbox-pub/soapbox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deps, lint-js, lint-sass, jest, nginx-test, docs-deploy

deps:
  stage: deps
  script: yarn install --ignore-scripts
  cache:
    key:
      files:
      - yarn.lock
    paths:
    - node_modules/
    policy: push

lint-js:
  stage: test
  script: yarn lint:js

lint-sass:
  stage: test
  script: yarn lint:sass

jest:
  stage: test
  script: yarn test:coverage --runInBand
  coverage: /All files[^|]*\|[^|]*\s+([\d\.]+)/
  artifacts:
    reports:
      junit: junit.xml
      coverage_report:
        coverage_format: cobertura
        path: .coverage/cobertura-coverage.xml

nginx-test:
  stage: test
  image: nginx:latest
  before_script:
  - cp installation/mastodon.conf /etc/nginx/conf.d/default.conf
  script: nginx -t

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
  - apk add curl
  script:
  - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline

Lexical: Fix EmojiNode, working emoji autocompletion with custom emoji preview
  app/soapbox/features/compose/editor/nodes/emoji-node.tsx
  app/soapbox/features/compose/editor/plugins/autosuggest-plugin.tsx
Due: lint-js, jest

Lexical: lint, update test
  app/soapbox/features/compose/editor/plugins/draggable-block-plugin.tsx
  app/soapbox/features/compose/editor/plugins/floating-link-editor-plugin.tsx
  app/soapbox/features/compose/editor/plugins/floating-text-format-toolbar-plugin.tsx
  app/soapbox/reducers/__tests__/compose.test.ts
Due: lint-js, jest

yarn i18n
  app/soapbox/locales/en.json
Due: jest

Enable hotkeys
  app/soapbox/features/ui/index.tsx
Due: lint-js, jest

ProfileInfoPanel: fix long usernames x-overflow'ing the page
  app/soapbox/features/ui/components/profile-info-panel.tsx
Due: lint-js, jest

Threads: add a bit of space between the top post and column header
  app/soapbox/features/status/index.tsx
Due: lint-js, jest

Update dependency @floating-ui/react to ^0.23.0
  package.json
  yarn.lock
Due: deps, jest

Add `toSchema` function, to convert any legacy normalizer into a zod schema
  app/soapbox/utils/normalizers.ts
Due: lint-js, jest

Fix replying to status from Group
  app/soapbox/actions/statuses.ts
  app/soapbox/hooks/api/groups/useGroups.ts
Due: lint-js, jest

Set button type to Toggle
  app/soapbox/components/ui/toggle/toggle.tsx
Due: lint-js, jest

Groups: add group gallery
  app/soapbox/entity-store/entities.ts
  app/soapbox/features/group/group-gallery.tsx
  app/soapbox/features/ui/index.tsx
  app/soapbox/features/ui/util/async-components.ts
  app/soapbox/hooks/api/groups/useGroupMedia.ts
  app/soapbox/hooks/api/index.ts
  app/soapbox/pages/group-page.tsx
  app/soapbox/schemas/status.ts
Due: lint-js, jest

Toggle: fix toggle acting as a submit button in forms
  app/soapbox/components/ui/toggle/toggle.tsx
Due: lint-js, jest

Improve alignment/spacing
  app/soapbox/components/status-list.tsx
  app/soapbox/components/status.tsx
  app/soapbox/components/ui/card/card.tsx
  app/soapbox/features/account/components/header.tsx
  app/soapbox/features/event/event-discussion.tsx
  app/soapbox/features/group/components/group-header.tsx
  app/soapbox/features/group/group-timeline.tsx
  app/soapbox/features/placeholder/components/placeholder-status.tsx
  app/soapbox/features/status/components/thread-status.tsx
  app/soapbox/features/status/index.tsx
  app/soapbox/pages/group-page.tsx
  app/soapbox/pages/profile-page.tsx
Due: lint-js, jest

Translated using Weblate (Arabic)
  app/soapbox/locales/ar.json
Due: jest

Update translation files
  app/soapbox/locales/ar.json
  app/soapbox/locales/de.json
  app/soapbox/locales/es.json
  app/soapbox/locales/it.json
  app/soapbox/locales/no.json
  app/soapbox/locales/pl.json
  app/soapbox/locales/zh-CN.json
Due: jest

Translated using Weblate (Turkish)
  app/soapbox/locales/tr.json
Due: jest

Translated using Weblate (Chinese (Simplified))
  app/soapbox/locales/zh-CN.json
Due: jest

Translated using Weblate (Norwegian Bokmål)
  app/soapbox/locales/no.json
Due: jest

Translated using Weblate (Georgian)
  app/soapbox/locales/ka.json
Due: jest

Update translation files
  app/soapbox/locales/no.json
Due: jest

EntityStore: allow customizing import position
  app/soapbox/entity-store/__tests__/reducer.test.ts
  app/soapbox/entity-store/actions.ts
  app/soapbox/entity-store/hooks/useCreateEntity.ts
  app/soapbox/entity-store/hooks/useEntities.ts
  app/soapbox/entity-store/reducer.ts
  app/soapbox/entity-store/types.ts
  app/soapbox/entity-store/utils.ts
Due: lint-js, jest

Lexical: Use in ComposeEventModal, style improvements, types
  app/soapbox/components/dropdown-menu/dropdown-menu-item.tsx
  app/soapbox/components/ui/portal/portal.tsx
  app/soapbox/components/ui/slider/slider.tsx
  app/soapbox/containers/soapbox.tsx
  app/soapbox/entity-store/hooks/utils.ts
  app/soapbox/features/admin/user-index.tsx
  app/soapbox/features/chats/components/__tests__/chat-message-list.test.tsx
  app/soapbox/features/compose/components/compose-form.tsx
  app/soapbox/features/compose/editor/index.tsx
  app/soapbox/features/compose/editor/plugins/autosuggest-plugin.tsx
  app/soapbox/features/compose/editor/plugins/mention-plugin.tsx
  app/soapbox/features/emoji/containers/emoji-picker-dropdown-container.tsx
  app/soapbox/features/soapbox-config/components/icon-picker-menu.tsx
  app/soapbox/features/ui/components/modals/compose-event-modal/compose-event-modal.tsx
  app/soapbox/normalizers/group.ts
  app/soapbox/reducers/compose.ts
  app/soapbox/utils/scopes.ts
Due: lint-js, jest

Support autoFocus in Streamfield
  app/soapbox/components/ui/streamfield/streamfield.tsx
  app/soapbox/features/group/components/group-tags-field.tsx
Due: lint-js, jest

Add group context to details screen
  app/soapbox/features/status/components/detailed-status.tsx
  app/soapbox/features/status/index.tsx
  app/soapbox/locales/en.json
  app/soapbox/locales/zh-CN.json
Due: lint-js, jest

Fix: scheduled poast box datepicker cut off again
  app/soapbox/pages/home-page.tsx
Due: lint-js, jest

Fix renderLocation in ComposeEventModal
  app/soapbox/features/ui/components/modals/compose-event-modal/compose-event-modal.tsx
Due: lint-js, jest

Resolve bug with toast during modal
  app/soapbox/components/modal-root.tsx
  app/soapbox/containers/soapbox.tsx
Due: lint-js, jest

Add ability to share Group statuses
  app/soapbox/components/status-action-bar.tsx
  app/soapbox/normalizers/status.ts
Due: lint-js, jest

Path conditions:
  deps: any of: yarn.lock
  lint-js: any of: **/*.js, **/*.jsx, **/*.ts, **/*.tsx, .eslintignore, .eslintrc.js
  lint-sass: any of: **/*.scss, **/*.css, .stylelintrc.json
  jest: any of: **/*.js, **/*.json, app/soapbox/**/*, webpack/**/*, custom/**/*, jest.config.js, package.json, yarn.lock, .gitlab-ci.yml
  nginx-test: any of: installation/mastodon.conf
  docs-deploy: any of: docs/**/*
