Repository soapbox-pub/soapbox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deps, lint, docs-deploy

.gitlab-ci.yml:

image: node:20

variables:
  NODE_ENV: test
  DS_EXCLUDED_ANALYZERS: gemnasium-python

default:
  interruptible: true

cache: &cache
  key:
    files:
      - yarn.lock
  paths:
    - node_modules/
  policy: pull

stages:
  - deps
  - test
  - deploy
  - release

deps:
  stage: deps
  script: yarn install --ignore-scripts
  only:
    changes:
      - yarn.lock
  cache:
    <<: *cache
    policy: push

danger:
  stage: test
  script:
    # https://github.com/danger/danger-js/issues/1029#issuecomment-998915436
    - export CI_MERGE_REQUEST_IID=${CI_OPEN_MERGE_REQUESTS#*!}
    - npx danger ci
  except:
    variables:
      - $CI_DEFAULT_BRANCH == $CI_COMMIT_REF_NAME
  allow_failure: true

lint:
  stage: test
  script: yarn lint
  only:
    changes:
      - "**/*.js"
      - "**/*.jsx"
      - "**/*.cjs"
      - "**/*.mjs"
      - "**/*.ts"
      - "**/*.tsx"
      - "**/*.scss"
      - "**/*.css"
      - ".eslintignore"
      - ".eslintrc.cjs"
      - ".stylelintrc.json"

build:
  stage: test
  before_script:
    - apt-get update -y && apt-get install -y zip
  script:
    - yarn build
    - cp dist/index.html dist/404.html
    - cd dist && zip -r ../soapbox.zip . && cd ..
  variables:
    NODE_ENV: production
  artifacts:
    paths:
     - soapbox.zip

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
    - apk add curl
  script:
    - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline
  only:
    variables:
      - $CI_DEFAULT_BRANCH == $CI_COMMIT_REF_NAME
    changes:
      - "docs/**/*"

review:
  stage: deploy
  environment:
    name: review/$CI_COMMIT_REF_NAME
    url: https://$CI_COMMIT_REF_SLUG.git.soapbox.pub
  before_script:
    - apt-get update -y && apt-get install -y unzip
  script:
    - unzip soapbox.zip -d dist
    - npx -y surge dist $CI_COMMIT_REF_SLUG.git.soapbox.pub
  allow_failure: true

pages:
  stage: deploy
  before_script:
    - apt-get update -y && apt-get install -y unzip
  script:
    # artifacts are kept between jobs
    - unzip soapbox.zip -d public
  variables:
    NODE_ENV: production
  artifacts:
    paths:
    - public
  only:
    variables:
      - $CI_DEFAULT_BRANCH == $CI_COMMIT_REF_NAME

docker:
  stage: deploy
  image: docker:24.0.6
  services:
    - docker:24.0.6-dind
  tags:
    - dind
  # https://medium.com/devops-with-valentine/how-to-build-a-docker-image-and-push-it-to-the-gitlab-container-registry-from-a-gitlab-ci-pipeline-acac0d1f26df
  script:
    - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
    - docker build -t $CI_REGISTRY_IMAGE:$CI_COMMIT_TAG .
    - docker push $CI_REGISTRY_IMAGE:$CI_COMMIT_TAG
  rules:
    - if: $CI_COMMIT_TAG
  interruptible: false

release:
  stage: release
  rules:
    - if: $CI_COMMIT_TAG
  script:
    - npx ts-node ./scripts/do-release.ts
  interruptible: false

include:
  - template: Jobs/Dependency-Scanning.gitlab-ci.yml

Upgrade Lexical to v0.12.4
  package.json
  yarn.lock
Due: deps

ComposeForm: refactor canSubmit so it works correctly in more scenarios
  src/features/compose/components/compose-form.tsx
Due: lint

FocusPlugin: refactor the useEffect for sanity
  src/features/compose/editor/plugins/focus-plugin.tsx
Due: lint

ComposeForm: do autoFocus on mobile
  src/features/compose/components/compose-form.tsx
Due: lint

ComposeForm: disable submit when there is no editorRef
  src/features/compose/components/compose-form.tsx
Due: lint

account.tsx: add space between action
  src/components/account.tsx
Due: lint

Translated using Weblate (Chinese (Traditional))
  src/locales/zh-TW.json
Due: none

Translated using Weblate (Arabic)
  src/locales/ar.json
Due: none

Translated using Weblate (Japanese)
  src/locales/ja.json
Due: none

Update dependency @types/react-motion to ^0.0.39
  package.json
  yarn.lock
Due: deps

Update dependency intl-messageformat to v10.5.8
  package.json
  yarn.lock
Due: deps

Update dependency node to v20.10.0
  .tool-versions
Due: none

Update dependency vite-plugin-pwa to ^0.17.0
  package.json
  yarn.lock
Due: deps

Update dependency @reduxjs/toolkit to v2
  package.json
  yarn.lock
Due: deps

Update dependency html-react-parser to v5
  package.json
  yarn.lock
Due: deps

Update dependency jsdom to v23
  package.json
  yarn.lock
Due: deps

Update dependency react-redux to v9
  package.json
  yarn.lock
Due: deps

Update dependency redux to v5
  package.json
  yarn.lock
Due: deps

Update dependency redux-thunk to v3
  package.json
  yarn.lock
Due: deps

Sentry: decrease tracesSampleRate to .1
  src/sentry.ts
Due: lint

Support alternate service domains
  src/api/hooks/admin/useCreateDomain.ts
  src/features/admin/domains.tsx
  src/features/ui/components/modals/edit-domain-modal.tsx
  src/schemas/domain.ts
Due: lint

Translated using Weblate (Polish)
  src/locales/pl.json
Due: none

Translated using Weblate (Indonesian)
  src/locales/id.json
Due: none

Translated using Weblate (Chinese (Simplified))
  src/locales/zh-CN.json
Due: none

Upgrade tailwindcss to v3.4.0
  package.json
  yarn.lock
Due: deps

Convert Tailwind config to TypeScript
  .eslintrc.cjs
  tailwind.config.ts
  tailwind/colors.cjs
  tailwind/colors.test.ts
  tailwind/colors.ts
Due: lint

yarn lint:js --fix
  src/components/big-card.tsx
  src/components/gdpr-banner.tsx
  src/components/site-error-boundary.tsx
  src/components/ui/select/select.tsx
  src/components/ui/tag-input/tag-input.tsx
  src/components/ui/textarea/textarea.tsx
  src/features/account/components/header.tsx
  src/features/aliases/components/search.tsx
  src/features/auth-login/components/consumers-list.tsx
  src/features/chats/components/chat-page/chat-page.tsx
  src/features/chats/components/chat-page/components/chat-page-main.tsx
  src/features/chats/components/chat-page/components/chat-page-new.tsx
  src/features/chats/components/chat-page/components/chat-page-settings.tsx
  src/features/chats/components/chat-textarea.tsx
  src/features/edit-profile/components/header-picker.tsx
  src/features/event/components/event-header.tsx
  src/features/feed-suggestions/feed-suggestions.tsx
  src/features/group/components/group-header.tsx
  src/features/onboarding/steps/fediverse-step.tsx
  src/features/placeholder/components/placeholder-notification.tsx
  src/features/ui/components/modals/compose-event-modal/compose-event-modal.tsx
  src/features/ui/components/modals/manage-group-modal/steps/confirmation-step.tsx
  src/features/ui/components/navbar.tsx
  src/features/ui/index.tsx
  src/pages/home-page.tsx
  src/pages/landing-page.tsx
Due: lint

Added a translation using Weblate (Javanese)
  src/locales/jv.json
Due: none

Upgrade all the Redux things
  package.json
  src/jest/test-helpers.tsx
  src/middleware/errors.ts
  src/middleware/sounds.ts
  src/store.ts
  yarn.lock
Due: deps, lint

Upgrade sass, bump nodejs in .tool-versions
  .tool-versions
  package.json
  yarn.lock
Due: deps

Update dependency reselect to v5
  package.json
  yarn.lock
Due: deps

Update dependency vite to v5
  package.json
  yarn.lock
Due: deps

Update dependency vite-plugin-static-copy to v1
  package.json
  yarn.lock
Due: deps
