Repository soapbox-pub/soapbox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deps, lint-js, lint-sass, jest, nginx-test, docs-deploy

deps:
  stage: deps
  script: yarn install --ignore-scripts
  cache:
    key:
      files:
      - yarn.lock
    paths:
    - node_modules/
    policy: push

lint-js:
  stage: test
  script: yarn lint:js

lint-sass:
  stage: test
  script: yarn lint:sass

jest:
  stage: test
  script: yarn test:coverage --runInBand
  coverage: /All files[^|]*\|[^|]*\s+([\d\.]+)/
  artifacts:
    reports:
      junit: junit.xml
      coverage_report:
        coverage_format: cobertura
        path: .coverage/cobertura-coverage.xml

nginx-test:
  stage: test
  image: nginx:latest
  before_script:
  - cp installation/mastodon.conf /etc/nginx/conf.d/default.conf
  script: nginx -t

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
  - apk add curl
  script:
  - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline

Update react monorepo to v18
  package.json
  yarn.lock
Due: deps, jest

Update dependency stylelint to v14
  package.json
  yarn.lock
Due: deps, jest

Update dependency stylelint-config-standard to v29
  package.json
  yarn.lock
Due: deps, jest

Lock file maintenance
  yarn.lock
Due: deps, jest

Renovate: disable lockFileMaintenance
  renovate.json
Due: jest

Fix button in Carousel
  app/soapbox/features/feed-filtering/feed-carousel.tsx
Due: lint-js, jest

Added a options in settings for redirect root no login
  app/soapbox/features/soapbox-config/index.tsx
Due: lint-js, jest

stylint: disable selector-class-pattern, remove reset.scss
  .stylelintrc.json
Due: lint-sass, jest

Update dependency react-redux to v8
  package.json
  yarn.lock
Due: deps, jest

Use stylelint-config-standard-scss, remove stylelint-config-standard and stylelint-scss
  .stylelintrc.json
  package.json
  yarn.lock
Due: deps, lint-sass, jest

currentColor --> currentcolor
  app/styles/components/audio-player.scss
  app/styles/components/icon.scss
  app/styles/emoji-picker.scss
Due: lint-sass

stylelint: disable some rules
  .stylelintrc.json
Due: lint-sass, jest

Conform scss to stylelint
  app/styles/components/buttons.scss
  app/styles/components/columns.scss
  app/styles/components/datepicker.scss
  app/styles/components/dropdown-menu.scss
  app/styles/components/filters.scss
  app/styles/components/modal.scss
  app/styles/components/status.scss
  app/styles/components/video-player.scss
Due: lint-sass

datepicker: fix accidentally removed icon from scss
  app/styles/components/datepicker.scss
Due: lint-sass

Remove uuid mock from Jest
  app/soapbox/components/ui/form-group/__tests__/form-group.test.tsx
  app/soapbox/jest/test-setup.ts
Due: lint-js, jest

Jest: remove unneeded moduleNameMapper for uuid
  jest.config.js
Due: lint-js, jest

Switch to React 18's createRoot API https://reactjs.org/blog/2022/03/08/react-18-upgrade-guide.html#updates-to-client-rendering-apis
  app/soapbox/main.tsx
Due: lint-js, jest

useDimensions: don't return null
  app/soapbox/hooks/useDimensions.ts
Due: lint-js, jest

Fix ChatPage tests
  app/soapbox/features/chats/components/chat-page/__tests__/chat-page.test.tsx
Due: lint-js, jest

Fix SmsVerification tests
  app/soapbox/features/verification/steps/__tests__/sms-verification.test.tsx
Due: lint-js, jest

Fix ReportModal test
  app/soapbox/features/ui/components/modals/report-modal/__tests__/report-modal.test.tsx
Due: lint-js, jest

Fix Registration tests
  app/soapbox/features/verification/__tests__/registration.test.tsx
Due: lint-js, jest

Fix EmailVerification test
  app/soapbox/features/verification/steps/__tests__/email-verification.test.tsx
Due: lint-js, jest

Tests: wrap toast.remove() with act()
  app/soapbox/jest/test-setup.ts
Due: lint-js, jest

Fix FeedCarousel test
  app/soapbox/features/feed-filtering/__tests__/feed-carousel.test.tsx
Due: lint-js, jest

Fix useFetchRelationships tests
  app/soapbox/queries/__tests__/relationships.test.ts
Due: lint-js, jest

Update yarn lockfile
  yarn.lock
Due: deps, jest

Upgrade axios to fix 'req' undefined error
  CHANGELOG.md
  app/soapbox/actions/me.ts
  app/soapbox/components/autosuggest-account-input.tsx
  package.json
  yarn.lock
Due: deps, lint-js, jest

Move status info to above Account
  app/soapbox/components/status.tsx
  app/soapbox/components/statuses/status-info.tsx
  app/soapbox/features/notifications/components/notification.tsx
  app/soapbox/features/status/components/detailed-status.tsx
Due: lint-js, jest

Add Changelog entry
  CHANGELOG.md
Due: none

Use human-readable message from the API as the default
  app/soapbox/features/verification/__tests__/registration.test.tsx
  app/soapbox/features/verification/registration.tsx
Due: lint-js, jest

Move timestamp back to Account
  app/soapbox/components/status.tsx
  app/soapbox/features/status/components/detailed-status.tsx
Due: lint-js, jest

Refactor to remove unneeded const
  app/soapbox/components/status.tsx
Due: lint-js, jest

Lint
  app/soapbox/features/status/components/detailed-status.tsx
Due: lint-js, jest

Fix loading of attachment dimensions for React 18 (useEffect --> useLayoutEffect)
  app/soapbox/components/media-gallery.tsx
Due: lint-js, jest

Audio/Video: fix initial size with useLayoutEffect for React 18
  app/soapbox/features/audio/index.tsx
  app/soapbox/features/video/index.tsx
Due: lint-js, jest

ChatPage: useLayoutEffect
  app/soapbox/features/chats/components/chat-page/chat-page.tsx
Due: lint-js, jest

Fix monospace font in Markdown code blocks
  CHANGELOG.md
  app/styles/application.scss
  package.json
  yarn.lock
Due: deps, lint-sass, jest

don't insert posts to timelines when editing a post
  app/soapbox/actions/statuses.ts
  app/soapbox/reducers/timelines.ts
Due: lint-js, jest

Path conditions:
  deps: any of: yarn.lock
  lint-js: any of: **/*.js, **/*.jsx, **/*.ts, **/*.tsx, .eslintignore, .eslintrc.js
  lint-sass: any of: **/*.scss, **/*.css, .stylelintrc.json
  jest: any of: **/*.js, **/*.json, app/soapbox/**/*, webpack/**/*, custom/**/*, jest.config.js, package.json, yarn.lock, .gitlab-ci.yml
  nginx-test: any of: installation/mastodon.conf
  docs-deploy: any of: docs/**/*
