Repository soapbox-pub/soapbox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deps, lint-js, lint-sass, jest, nginx-test, docs-deploy

.gitlab-ci.yml:

image: node:18

variables:
  NODE_ENV: test

default:
  interruptible: true

cache: &cache
  key:
    files:
      - yarn.lock
  paths:
    - node_modules/
  policy: pull

stages:
  - deps
  - test
  - deploy

deps:
  stage: deps
  script: yarn install --ignore-scripts
  only:
    changes:
      - yarn.lock
  cache:
    <<: *cache
    policy: push

danger:
  stage: test
  script:
    # https://github.com/danger/danger-js/issues/1029#issuecomment-998915436
    - export CI_MERGE_REQUEST_IID=${CI_OPEN_MERGE_REQUESTS#*!}
    - npx danger ci
  except:
    variables:
      - $CI_DEFAULT_BRANCH == $CI_COMMIT_REF_NAME
  allow_failure: true

lint-js:
  stage: test
  script: yarn lint:js
  only:
    changes:
      - "**/*.js"
      - "**/*.jsx"
      - "**/*.ts"
      - "**/*.tsx"
      - ".eslintignore"
      - ".eslintrc.js"

lint-sass:
  stage: test
  script: yarn lint:sass
  only:
    changes:
      - "**/*.scss"
      - "**/*.css"
      - ".stylelintrc.json"

jest:
  stage: test
  script: yarn test:coverage --runInBand
  only:
    changes:
      - "**/*.js"
      - "**/*.json"
      - "app/soapbox/**/*"
      - "webpack/**/*"
      - "custom/**/*"
      - "jest.config.js"
      - "package.json"
      - "yarn.lock"
      - ".gitlab-ci.yml"
  coverage: /All files[^|]*\|[^|]*\s+([\d\.]+)/
  artifacts:
    reports:
      junit: junit.xml
      coverage_report:
        coverage_format: cobertura
        path: .coverage/cobertura-coverage.xml

nginx-test:
  stage: test
  image: nginx:latest
  before_script:
    - cp installation/mastodon.conf /etc/nginx/conf.d/default.conf
  script: nginx -t
  only:
    changes:
      - "installation/mastodon.conf"

build-production:
  stage: test
  script:
    - yarn build
    - yarn manage:translations en
    # Fail if files got changed.
    # https://stackoverflow.com/a/9066385
    - git diff --quiet
  variables:
    NODE_ENV: production
  artifacts:
    paths:
     - static

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
    - apk add curl
  script:
    - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline
  only:
    variables:
      - $CI_DEFAULT_BRANCH == $CI_COMMIT_REF_NAME
    changes:
      - "docs/**/*"

review:
  stage: deploy
  environment:
    name: review/$CI_COMMIT_REF_NAME
    url: https://$CI_COMMIT_REF_SLUG.git.soapbox.pub
  script:
    - npx -y surge static $CI_COMMIT_REF_SLUG.git.soapbox.pub
  allow_failure: true

pages:
  stage: deploy
  before_script: []
  script:
    # artifacts are kept between jobs
    - mv static public
  variables:
    NODE_ENV: production
  artifacts:
    paths:
    - public
  only:
    variables:
      - $CI_DEFAULT_BRANCH == $CI_COMMIT_REF_NAME

docker:
  stage: deploy
  image: docker:20.10.22
  services:
    - docker:20.10.22-dind
  tags:
    - dind
  # https://medium.com/devops-with-valentine/how-to-build-a-docker-image-and-push-it-to-the-gitlab-container-registry-from-a-gitlab-ci-pipeline-acac0d1f26df
  script:
    - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
    - docker build -t $CI_REGISTRY_IMAGE .
    - docker push $CI_REGISTRY_IMAGE
  only:
    variables:
      - $CI_DEFAULT_BRANCH == $CI_COMMIT_REF_NAME

include:
  - template: Jobs/Dependency-Scanning.gitlab-ci.yml
  - template: Security/License-Scanning.gitlab-ci.yml

Update en.json
  app/soapbox/locales/en.json
Due: jest

add sort-keys rule to modal-root.tsx
  app/soapbox/features/ui/components/modal-root.tsx
Due: lint-js, jest

Fix en.json
  app/soapbox/locales/en.json
Due: jest

Chats: reset chat message field height after sending a message
  CHANGELOG.md
  app/soapbox/features/chats/components/chat-composer.tsx
  app/soapbox/features/chats/components/chat.tsx
Due: lint-js, jest

Sort en.json keys
  app/soapbox/locales/en.json
Due: jest

Transpile emoji-mart for jest
  app/soapbox/features/emoji/emoji-picker.ts
  jest.config.cjs
Due: lint-js, jest

EmojiSelector: improve style of 3-dots icon
  app/soapbox/components/ui/emoji-selector/emoji-selector.tsx
Due: lint-js, jest

Fix commented out code
  app/soapbox/utils/features.ts
Due: lint-js, jest

StatusReactionWrapper: switch to our Portal component
  app/soapbox/components/status-reaction-wrapper.tsx
Due: lint-js, jest

EmojiSelector: pass offset as a prop
  app/soapbox/components/ui/emoji-selector/emoji-selector.tsx
  app/soapbox/features/chats/components/chat-message-reaction-wrapper/chat-message-reaction-wrapper.tsx
Due: lint-js, jest

ChatMessage: remove testid from emoji button resulting in failing test
  app/soapbox/features/chats/components/chat-message.tsx
Due: lint-js, jest

Bump Sentry versions
  package.json
  yarn.lock
Due: deps, jest

Don't display card for quoted posts
  app/soapbox/components/quoted-status.tsx
Due: lint-js, jest

Fix tests
  app/soapbox/features/feed-filtering/__tests__/feed-carousel.test.tsx
Due: lint-js, jest

Sentry: filter out localForage "No storage found" error
  app/soapbox/monitoring.ts
Due: lint-js, jest

StatusList: don't push null item to Virtuoso (LoadGap)
  app/soapbox/components/status-list.tsx
Due: lint-js, jest

Close dropdown-menu when component unmounts
  app/soapbox/components/dropdown-menu/dropdown-menu.tsx
Due: lint-js, jest

ChatMessageReactionWrapper: put EmojiSelector in a portal to avoid overflow-x issues
  app/soapbox/components/ui/emoji-selector/emoji-selector.tsx
  app/soapbox/features/chats/components/chat-message-reaction-wrapper/chat-message-reaction-wrapper.tsx
Due: lint-js, jest

Performance: hide EmojiSelector until portaled
  app/soapbox/components/status-reaction-wrapper.tsx
  app/soapbox/features/chats/components/chat-message-reaction-wrapper/chat-message-reaction-wrapper.tsx
Due: lint-js, jest

Fix chatEmojiReactions feature gating
  app/soapbox/features/chats/components/chat-message.tsx
Due: lint-js, jest

Use clsx instead of template strings
  app/soapbox/components/ui/select/select.tsx
  app/soapbox/features/compose/components/privacy-dropdown.tsx
  app/soapbox/features/ui/components/modals/media-modal.tsx
Due: lint-js, jest

prevent scrolling when focused
  app/soapbox/components/dropdown-menu/dropdown-menu-item.tsx
Due: lint-js, jest

Add "unreleased" build to features for tests
  app/soapbox/utils/features.ts
Due: lint-js, jest

Fix type of chat_message.emoji_reactions, fix tests with +unreleased
  app/soapbox/features/chats/components/__tests__/chat-message-list.test.tsx
  app/soapbox/features/chats/components/chat-message.tsx
  app/soapbox/normalizers/chat-message.ts
Due: lint-js, jest

Use flip and arrow middleware
  app/soapbox/components/dropdown-menu/dropdown-menu.tsx
Due: lint-js, jest

Remove z-index
  app/soapbox/components/dropdown-menu/dropdown-menu.tsx
Due: lint-js, jest

Header: fix position of verified icon
  app/soapbox/features/account/components/header.tsx
Due: lint-js, jest

CHANGELOG: verified profile header
  CHANGELOG.md
Due: none

Remove unused styles
  app/styles/rtl.scss
  app/styles/ui.scss
Due: lint-sass

Prevent unnecessary calls to redux action
  app/soapbox/components/dropdown-menu/dropdown-menu.tsx
Due: lint-js, jest

verified badge on profile's header
  CHANGELOG.md
  app/soapbox/features/account/components/header.tsx
  app/soapbox/features/ui/components/profile-info-panel.tsx
Due: lint-js, jest

Translated using Weblate (Japanese)
  app/soapbox/locales/ja.json
Due: jest

Translated using Weblate (Italian)
  app/soapbox/locales/it.json
Due: jest

Translated using Weblate (Arabic)
  app/soapbox/locales/ar.json
Due: jest
