Repository soapbox-pub/soapbox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deps, lint-js, lint-sass, jest, nginx-test, docs-deploy

deps:
  stage: deps
  script: yarn install --ignore-scripts
  cache:
    key:
      files:
      - yarn.lock
    paths:
    - node_modules/
    policy: push

lint-js:
  stage: test
  script: yarn lint:js

lint-sass:
  stage: test
  script: yarn lint:sass

jest:
  stage: test
  script: yarn test:coverage --runInBand
  coverage: /All files[^|]*\|[^|]*\s+([\d\.]+)/
  artifacts:
    reports:
      junit: junit.xml
      coverage_report:
        coverage_format: cobertura
        path: .coverage/cobertura-coverage.xml

nginx-test:
  stage: test
  image: nginx:latest
  before_script:
  - cp installation/mastodon.conf /etc/nginx/conf.d/default.conf
  script: nginx -t

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
  - apk add curl
  script:
  - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline

Improve focus handlding and focused state styles
  app/soapbox/components/account.tsx
  app/soapbox/components/ui/tabs/tabs.css
  app/soapbox/components/ui/toggle/toggle.tsx
  app/soapbox/features/chats/components/chat-list-item.tsx
  app/soapbox/features/edit-profile/components/header-picker.tsx
  app/soapbox/features/ui/components/modals/compose-event-modal/upload-button.tsx
  app/soapbox/features/ui/components/profile-dropdown.tsx
Due: lint-js, lint-sass, jest

Fix bug trying to switch accounts
  app/soapbox/components/account.tsx
Due: lint-js, jest

Fix aspect ratio of avatars in audio player Fixes https://gitlab.com/soapbox-pub/soapbox/-/issues/1345
  CHANGELOG.md
  app/soapbox/features/audio/index.tsx
Due: lint-js, jest

Revert "Merge branch 'disable-errors-middleware' into 'develop'"
  app/soapbox/middleware/errors.ts
  app/soapbox/store.ts
Due: lint-js, jest

Enable trending tags for Ditto
  app/soapbox/utils/features.ts
Due: lint-js, jest

Hashtag: fix conditional display of "x people talking"
  app/soapbox/components/hashtag.tsx
Due: lint-js, jest

Disable privacyScopes on Ditto
  app/soapbox/utils/features.ts
Due: lint-js, jest

Lexical: Add media preview
  app/soapbox/components/upload.tsx
  app/soapbox/features/compose/editor/nodes/image-component.tsx
  app/styles/components/compose-form.scss
Due: lint-js, lint-sass, jest

Use account selector in Search input
  app/soapbox/actions/moderation.tsx
  app/soapbox/features/compose/components/search.tsx
Due: lint-js, jest

Lexical: Make labels localizable
  app/soapbox/features/compose/editor/plugins/floating-block-type-toolbar-plugin.tsx
  app/soapbox/features/compose/editor/plugins/floating-text-format-toolbar-plugin.tsx
  app/soapbox/features/developers/settings-store.tsx
Due: lint-js, jest

Lexical: Make Lexical editor optional
  app/soapbox/actions/settings.ts
  app/soapbox/components/autosuggest-textarea.tsx
  app/soapbox/features/compose/components/compose-form.tsx
  app/soapbox/features/compose/components/markdown-button.tsx
  app/soapbox/features/developers/settings-store.tsx
  app/soapbox/schemas/soapbox/settings.ts
Due: lint-js, jest

Fix "Add or remove from list" crashing the page Fixes https://gitlab.com/soapbox-pub/soapbox/-/issues/1493
  app/soapbox/reducers/list-adder.ts
Due: lint-js, jest

Fix reported statuses not showing up Fixes https://gitlab.com/soapbox-pub/soapbox/-/issues/1494
  app/soapbox/reducers/admin.ts
  app/soapbox/utils/normalizers.ts
Due: lint-js, jest

Lexical: Allow setting inline image alt text
  app/soapbox/components/upload.tsx
  app/soapbox/features/compose/editor/index.tsx
  app/soapbox/features/compose/editor/nodes/image-component.tsx
  app/soapbox/features/compose/editor/nodes/image-node.tsx
Due: lint-js, jest

Default to hiding Likes tab
  app/soapbox/pages/profile-page.tsx
Due: lint-js, jest

Lexical: modify headers
  app/soapbox/features/compose/editor/index.tsx
  app/soapbox/features/compose/editor/nodes/image-component.tsx
  app/soapbox/features/compose/editor/nodes/image-node.tsx
  app/soapbox/features/compose/editor/nodes/index.ts
  app/soapbox/features/compose/editor/nodes/mention-node.tsx
  app/soapbox/features/compose/editor/plugins/autosuggest-plugin.tsx
  app/soapbox/features/compose/editor/plugins/floating-block-type-toolbar-plugin.tsx
  app/soapbox/features/compose/editor/plugins/floating-link-editor-plugin.tsx
  app/soapbox/features/compose/editor/plugins/floating-text-format-toolbar-plugin.tsx
  app/soapbox/features/compose/editor/plugins/link-plugin.tsx
  app/soapbox/features/compose/editor/plugins/mention-plugin.tsx
  app/soapbox/features/compose/editor/utils/get-dom-range-rect.ts
  app/soapbox/features/compose/editor/utils/get-selected-node.ts
  app/soapbox/features/compose/editor/utils/point.ts
  app/soapbox/features/compose/editor/utils/rect.ts
  app/soapbox/features/compose/editor/utils/set-floating-elem-position.ts
  app/soapbox/features/compose/editor/utils/url.ts
Due: lint-js, jest

Lexical: Focus editor by hotkey
  app/soapbox/features/compose/editor/plugins/focus-plugin.tsx
  app/soapbox/features/ui/util/global-hotkeys.tsx
Due: lint-js, jest

Lexical: Do not display two toolbars at once
  app/soapbox/features/compose/editor/handlers/image.ts
  app/soapbox/features/compose/editor/nodes/image-component.tsx
  app/soapbox/features/compose/editor/plugins/autosuggest-plugin.tsx
  app/soapbox/features/compose/editor/plugins/floating-text-format-toolbar-plugin.tsx
  app/soapbox/features/compose/editor/plugins/focus-plugin.tsx
Due: lint-js, jest

Lexical: Improve image node insertion
  app/soapbox/features/compose/editor/index.tsx
  app/soapbox/features/compose/editor/plugins/floating-block-type-toolbar-plugin.tsx
Due: lint-js, jest

Set default for 'checked' property
  app/soapbox/components/ui/toggle/toggle.tsx
Due: lint-js, jest

Pass id to useEffect so it runs when id changes
  app/soapbox/features/hashtag-timeline/index.tsx
Due: lint-js, jest

Lexical: Allow images only
  app/soapbox/features/compose/editor/plugins/floating-block-type-toolbar-plugin.tsx
Due: lint-js, jest

Lexical: load editor async
  app/soapbox/features/compose/components/compose-form.tsx
  app/soapbox/features/compose/editor/nodes/mention-node.ts
  app/soapbox/features/ui/components/modals/compose-event-modal/compose-event-modal.tsx
  app/soapbox/features/ui/util/async-components.ts
Due: lint-js, jest

Move post edit history to a separate page
  app/soapbox/actions/compose.ts
  app/soapbox/components/status-content.tsx
  app/soapbox/components/status.tsx
  app/soapbox/components/statuses/status-info.tsx
  app/soapbox/features/delete-account/index.tsx
  app/soapbox/features/status-history/components/status-edit.tsx
  app/soapbox/features/status-history/index.tsx
  app/soapbox/features/status/components/detailed-status.tsx
  app/soapbox/features/status/components/thread.tsx
  app/soapbox/features/ui/components/modal-root.tsx
  app/soapbox/features/ui/components/modals/compare-history-modal.tsx
  app/soapbox/features/ui/index.tsx
  app/soapbox/features/ui/util/async-components.ts
  app/soapbox/normalizers/status-edit.ts
  app/soapbox/reducers/history.ts
Due: lint-js, jest

Update en.json
  app/soapbox/locales/en.json
Due: jest

Lexical: WIP port tables support
  app/soapbox/features/compose/editor/index.tsx
  app/soapbox/features/compose/editor/nodes/index.ts
  app/soapbox/features/compose/editor/nodes/table-cell-nodes.ts
  app/soapbox/features/compose/editor/nodes/table-component.tsx
  app/soapbox/features/compose/editor/nodes/table-node.tsx
  app/soapbox/features/compose/editor/plugins/floating-block-type-toolbar-plugin.tsx
  app/soapbox/features/compose/editor/plugins/table-action-menu-plugin.tsx
  app/soapbox/features/compose/editor/plugins/table-plugin.tsx
  package.json
  yarn.lock
Due: deps, lint-js, jest

Import response data from mute/block endpoints
  app/soapbox/actions/accounts.ts
Due: lint-js, jest

Translated using Weblate (Arabic)
  app/soapbox/locales/ar.json
Due: jest

Translated using Weblate (Polish)
  app/soapbox/locales/pl.json
Due: jest

Translated using Weblate (Korean)
  app/soapbox/locales/ko.json
Due: jest

Translated using Weblate (Chinese (Simplified))
  app/soapbox/locales/zh-CN.json
Due: jest

Translated using Weblate (Icelandic)
  app/soapbox/locales/is.json
Due: jest

Translated using Weblate (French)
  app/soapbox/locales/fr.json
Due: jest

Update translation files
  app/soapbox/locales/fr.json
Due: jest

Add margin-bottom to events list heading
  app/soapbox/features/events/index.tsx
Due: lint-js, jest

Path conditions:
  deps: any of: yarn.lock
  lint-js: any of: **/*.js, **/*.jsx, **/*.cjs, **/*.mjs, **/*.ts, **/*.tsx, .eslintignore, .eslintrc.cjs
  lint-sass: any of: **/*.scss, **/*.css, .stylelintrc.json
  jest: any of: **/*.js, **/*.json, app/soapbox/**/*, webpack/**/*, custom/**/*, jest.config.cjs, package.json, yarn.lock, .gitlab-ci.yml
  nginx-test: any of: installation/mastodon.conf
  docs-deploy: any of: docs/**/*
