Repository soapbox-pub/soapbox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deps, lint, docs-deploy

.gitlab-ci.yml:

image: node:20

variables:
  NODE_ENV: test
  DS_EXCLUDED_ANALYZERS: gemnasium-python

default:
  interruptible: true

cache: &cache
  key:
    files:
      - yarn.lock
  paths:
    - node_modules/
  policy: pull

stages:
  - deps
  - test
  - deploy
  - release

deps:
  stage: deps
  script: yarn install --ignore-scripts
  only:
    changes:
      - yarn.lock
  cache:
    <<: *cache
    policy: push

danger:
  stage: test
  script:
    # https://github.com/danger/danger-js/issues/1029#issuecomment-998915436
    - export CI_MERGE_REQUEST_IID=${CI_OPEN_MERGE_REQUESTS#*!}
    - npx danger ci
  except:
    variables:
      - $CI_DEFAULT_BRANCH == $CI_COMMIT_REF_NAME
  allow_failure: true

lint:
  stage: test
  script: yarn lint
  only:
    changes:
      - "**/*.js"
      - "**/*.jsx"
      - "**/*.cjs"
      - "**/*.mjs"
      - "**/*.ts"
      - "**/*.tsx"
      - "**/*.scss"
      - "**/*.css"
      - ".eslintignore"
      - ".eslintrc.cjs"
      - ".stylelintrc.json"

build:
  stage: test
  before_script:
    - apt-get update -y && apt-get install -y zip
  script:
    - yarn build
    - cp dist/index.html dist/404.html
    - cd dist && zip -r ../soapbox.zip . && cd ..
  variables:
    NODE_ENV: production
  artifacts:
    paths:
     - soapbox.zip

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
    - apk add curl
  script:
    - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline
  only:
    variables:
      - $CI_DEFAULT_BRANCH == $CI_COMMIT_REF_NAME
    changes:
      - "docs/**/*"

review:
  stage: deploy
  environment:
    name: review/$CI_COMMIT_REF_NAME
    url: https://$CI_COMMIT_REF_SLUG.git.soapbox.pub
  before_script:
    - apt-get update -y && apt-get install -y unzip
  script:
    - unzip soapbox.zip -d dist
    - npx -y surge dist $CI_COMMIT_REF_SLUG.git.soapbox.pub
  allow_failure: true

pages:
  stage: deploy
  before_script:
    - apt-get update -y && apt-get install -y unzip
  script:
    # artifacts are kept between jobs
    - unzip soapbox.zip -d public
  variables:
    NODE_ENV: production
  artifacts:
    paths:
    - public
  only:
    variables:
      - $CI_DEFAULT_BRANCH == $CI_COMMIT_REF_NAME

docker:
  stage: deploy
  image: docker:24.0.6
  services:
    - docker:24.0.6-dind
  tags:
    - dind
  # https://medium.com/devops-with-valentine/how-to-build-a-docker-image-and-push-it-to-the-gitlab-container-registry-from-a-gitlab-ci-pipeline-acac0d1f26df
  script:
    - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
    - docker build -t $CI_REGISTRY_IMAGE:$CI_COMMIT_TAG .
    - docker push $CI_REGISTRY_IMAGE:$CI_COMMIT_TAG
  rules:
    - if: $CI_COMMIT_TAG
  interruptible: false

release:
  stage: release
  rules:
    - if: $CI_COMMIT_TAG
  script:
    - npx ts-node ./scripts/do-release.ts
  interruptible: false

include:
  - template: Jobs/Dependency-Scanning.gitlab-ci.yml

accounts_meta: switch to immer, use the results for useOwnAccount
  src/actions/aliases.ts
  src/reducers/accounts-meta.ts
  src/selectors/index.ts
  src/utils/permissions.ts
Due: lint

Minor style improvements
  src/components/account.tsx
  src/components/ui/accordion/accordion.tsx
  src/components/ui/checkbox/checkbox.tsx
  src/features/auth-login/components/consumers-list.tsx
  src/features/directory/components/account-card.tsx
  src/features/soapbox-config/components/icon-picker-menu.tsx
  src/features/status/components/thread-status.tsx
  src/features/status/components/thread.tsx
Due: lint

Fix ScrollableList class names regression
  src/components/scrollable-list.tsx
  src/components/status-list.tsx
  src/features/admin/moderation-log.tsx
  src/features/admin/tabs/awaiting-approval.tsx
  src/features/admin/tabs/reports.tsx
  src/features/domain-blocks/index.tsx
  src/features/group/group-tags.tsx
  src/features/notifications/index.tsx
  src/features/status/components/thread.tsx
  src/features/ui/components/modals/birthdays-modal.tsx
  src/features/ui/components/modals/dislikes-modal.tsx
  src/features/ui/components/modals/event-participants-modal.tsx
  src/features/ui/components/modals/favourites-modal.tsx
  src/features/ui/components/modals/mentions-modal.tsx
  src/features/ui/components/modals/reactions-modal.tsx
  src/features/ui/components/modals/reblogs-modal.tsx
Due: lint

Add missing strings to translation, enable formatjs ESLint rules
  .eslintrc.json
  package.json
  src/components/status-action-bar.tsx
  src/components/ui/modal/modal.tsx
  src/components/ui/toast/toast.tsx
  src/features/auth-login/components/captcha.tsx
  src/features/chats/components/chat-message-list.tsx
  src/features/chats/components/chat-message.tsx
  src/features/directory/index.tsx
  src/features/follow-recommendations/index.tsx
  src/features/groups/components/group-link-preview.tsx
  src/features/status/components/detailed-status.tsx
  src/features/theme-editor/index.tsx
  src/features/ui/components/modals/landing-page-modal.tsx
  src/features/ui/components/modals/report-modal/report-modal.tsx
  src/features/ui/components/modals/report-modal/steps/other-actions-step.tsx
  src/features/ui/components/trends-panel.tsx
  src/locales/en.json
  src/pages/event-page.tsx
  yarn.lock
Due: deps, lint

instanceSchema: v1.uri -> v2.domain
  src/schemas/instance.ts
Due: lint

EditProfile: use instance.domain in nip05 placeholder
  src/features/edit-profile/index.tsx
Due: lint

Add EditIdentity page (wip)
  src/features/edit-identity/index.tsx
  src/features/settings/index.tsx
  src/features/ui/index.tsx
  src/features/ui/util/async-components.ts
Due: lint

UsernameInput: reuse i18n message from nip05 profile field
  src/features/edit-identity/index.tsx
Due: lint

EditIdentity: save nip05 to profile
  src/features/edit-identity/index.tsx
Due: lint

EditIdentity: add exclamation emoji for unverified name
  src/features/edit-identity/index.tsx
Due: lint

Translated using Weblate (Chinese (Simplified))
  src/locales/zh-CN.json
Due: none

Translated using Weblate (Croatian)
  src/locales/hr.json
Due: none

Translated using Weblate (Arabic)
  src/locales/ar.json
Due: none

Translated using Weblate (Italian)
  src/locales/it.json
Due: none

Translated using Weblate (Polish)
  src/locales/pl.json
Due: none

Translated using Weblate (Chinese (Traditional))
  src/locales/zh-TW.json
Due: none

Update translation files
  src/locales/ja.json
Due: none

Translated using Weblate (Welsh)
  src/locales/cy.json
Due: none

Translated using Weblate (Japanese)
  src/locales/ja.json
Due: none

Translated using Weblate (Javanese)
  src/locales/jv.json
Due: none

Translated using Weblate (Spanish)
  src/locales/es.json
Due: none

Translated using Weblate (Georgian)
  src/locales/ka.json
Due: none

Translated using Weblate (Indonesian)
  src/locales/id.json
Due: none
