Repository soapbox-pub/soapbox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deps, lint, docs-deploy

.gitlab-ci.yml:

image: node:20

variables:
  NODE_ENV: test
  DS_EXCLUDED_ANALYZERS: gemnasium-python

default:
  interruptible: true

cache: &cache
  key:
    files:
      - yarn.lock
  paths:
    - node_modules/
  policy: pull

stages:
  - deps
  - test
  - deploy
  - release

deps:
  stage: deps
  script: yarn install --ignore-scripts
  only:
    changes:
      - yarn.lock
  cache:
    <<: *cache
    policy: push

danger:
  stage: test
  script:
    # https://github.com/danger/danger-js/issues/1029#issuecomment-998915436
    - export CI_MERGE_REQUEST_IID=${CI_OPEN_MERGE_REQUESTS#*!}
    - npx danger ci
  except:
    variables:
      - $CI_DEFAULT_BRANCH == $CI_COMMIT_REF_NAME
  allow_failure: true

lint:
  stage: test
  script: yarn lint
  only:
    changes:
      - "**/*.js"
      - "**/*.jsx"
      - "**/*.cjs"
      - "**/*.mjs"
      - "**/*.ts"
      - "**/*.tsx"
      - "**/*.scss"
      - "**/*.css"
      - ".eslintignore"
      - ".eslintrc.cjs"
      - ".stylelintrc.json"

build:
  stage: test
  before_script:
    - apt-get update -y && apt-get install -y zip
  script:
    - yarn build
    - cp dist/index.html dist/404.html
    - cd dist && zip -r ../soapbox.zip . && cd ..
  variables:
    NODE_ENV: production
  artifacts:
    paths:
     - soapbox.zip

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
    - apk add curl
  script:
    - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline
  only:
    variables:
      - $CI_DEFAULT_BRANCH == $CI_COMMIT_REF_NAME
    changes:
      - "docs/**/*"

review:
  stage: deploy
  environment:
    name: review/$CI_COMMIT_REF_NAME
    url: https://$CI_COMMIT_REF_SLUG.git.soapbox.pub
  before_script:
    - apt-get update -y && apt-get install -y unzip
  script:
    - unzip soapbox.zip -d dist
    - npx -y surge dist $CI_COMMIT_REF_SLUG.git.soapbox.pub
  allow_failure: true

pages:
  stage: deploy
  before_script:
    - apt-get update -y && apt-get install -y unzip
  script:
    # artifacts are kept between jobs
    - unzip soapbox.zip -d public
  variables:
    NODE_ENV: production
  artifacts:
    paths:
    - public
  only:
    variables:
      - $CI_DEFAULT_BRANCH == $CI_COMMIT_REF_NAME

docker:
  stage: deploy
  image: docker:24.0.6
  services:
    - docker:24.0.6-dind
  tags:
    - dind
  # https://medium.com/devops-with-valentine/how-to-build-a-docker-image-and-push-it-to-the-gitlab-container-registry-from-a-gitlab-ci-pipeline-acac0d1f26df
  script:
    - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
    - docker build -t $CI_REGISTRY_IMAGE:$CI_COMMIT_TAG .
    - docker push $CI_REGISTRY_IMAGE:$CI_COMMIT_TAG
  rules:
    - if: $CI_COMMIT_TAG
  interruptible: false

release:
  stage: release
  rules:
    - if: $CI_COMMIT_TAG
  script:
    - npx ts-node ./scripts/do-release.ts
  interruptible: false

include:
  - template: Jobs/Dependency-Scanning.gitlab-ci.yml

MentionNode: use 'segmented' to fix Android problems
  src/features/compose/editor/nodes/mention-node.ts
Due: lint

AutosuggestPlugin: remove extraneous `?`
  src/features/compose/editor/plugins/autosuggest-plugin.tsx
Due: lint

lexical: restore EmojiNode, fix Android backspace!
  src/features/compose/editor/index.tsx
  src/features/compose/editor/nodes/emoji-node.tsx
  src/features/compose/editor/plugins/autosuggest-plugin.tsx
Due: lint

lexical: render native emojis as Twemoji
  src/features/compose/editor/nodes/emoji-node.tsx
  src/features/compose/editor/plugins/autosuggest-plugin.tsx
Due: lint

AutosuggestPlugin: don't autosuggest hashtags for now https://gitlab.com/soapbox-pub/soapbox/-/issues/1527
  src/features/compose/editor/plugins/autosuggest-plugin.tsx
Due: lint

EmojiNode: fix getTextContent, remove unused exportDOM
  src/features/compose/editor/nodes/emoji-node.tsx
Due: lint

EmojiPickerDropdown: minor refactoring
  src/features/emoji/components/emoji-picker-dropdown.tsx
  src/features/emoji/containers/emoji-picker-dropdown-container.tsx
Due: lint

actions: useEmoji --> chooseEmoji
  src/actions/compose.ts
  src/actions/emojis.ts
  src/features/compose/editor/plugins/autosuggest-plugin.tsx
  src/features/emoji/components/emoji-picker-dropdown.tsx
  src/reducers/settings.ts
Due: lint

ComposeForm: insert emoji from picker into lexical Fixes https://gitlab.com/soapbox-pub/soapbox/-/issues/1529
  src/features/compose/components/compose-form.tsx
Due: lint

lexical: pass compose text from the reducer on mount Fixes https://gitlab.com/soapbox-pub/soapbox/-/issues/1531
  src/features/compose/components/compose-form.tsx
Due: lint

Translated using Weblate (Welsh)
  src/locales/cy.json
Due: none

Translated using Weblate (Ukrainian)
  src/locales/uk.json
Due: none

Translated using Weblate (Tamil)
  src/locales/ta.json
Due: none

Translated using Weblate (Telugu)
  src/locales/te.json
Due: none

Translated using Weblate (Thai)
  src/locales/th.json
Due: none

Translated using Weblate (Swedish)
  src/locales/sv.json
Due: none

Translated using Weblate (Slovenian)
  src/locales/sl.json
Due: none

Translated using Weblate (Spanish (Argentina))
  src/locales/es-AR.json
Due: none

instanceSchema: support max_toot_chars again
  src/schemas/instance.ts
Due: lint

instanceSchema: get rid of `any()` fields
  src/schemas/instance.ts
  src/schemas/rule.ts
Due: lint

instanceSchema: support legacy Pleroma configuration
  src/schemas/instance.ts
Due: lint

Add async socket module, boilerplate Relay prototype
  src/features/nostr/relay.ts
  src/features/nostr/socket.ts
Due: lint

relay: parse messages from the relay
  src/features/nostr/relay.ts
  src/schemas/nostr.ts
Due: lint

Add Machina class
  src/features/nostr/machina.ts
  src/features/nostr/socket.ts
Due: lint

machina: use a queue, fix synchronous push
  src/features/nostr/machina.ts
Due: lint

machina: add tests
  src/features/nostr/machina.test.ts
Due: lint

fix(deps): update dependency @types/react-motion to ^0.0.35
  package.json
  yarn.lock
Due: deps

autosuggest css should be relative, not fixed
  src/features/compose/editor/plugins/autosuggest-plugin.tsx
Due: lint

added vertical scroll feature to the autosuggest component
  src/features/compose/editor/plugins/autosuggest-plugin.tsx
Due: lint

updated: raising autosuggestions to 10 items, for accounts, emoji, hashtags
  src/actions/compose.ts
Due: lint

Add a pubsub module based on machina
  src/features/nostr/pubsub.test.ts
  src/features/nostr/pubsub.ts
Due: lint

relay: add req
  src/features/nostr/pubsub.ts
  src/features/nostr/relay.test.ts
  src/features/nostr/relay.ts
Due: lint

Add NiceRelay module with a nice send function
  .eslintrc.cjs
  src/features/nostr/nice-relay.ts
Due: lint

Translated using Weblate (Arabic)
  src/locales/ar.json
Due: none

nostr: move functionality from base Relay into NiceRelay
  src/features/nostr/nice-relay.ts
  src/features/nostr/relay.test.ts
  src/features/nostr/relay.ts
  src/schemas/nostr.ts
Due: lint

Add WebSocket reanimator module
  src/features/nostr/reanimate.ts
Due: lint

reanimate: use a callback instead of relying on the return value
  src/features/nostr/nice-relay.ts
  src/features/nostr/reanimate.ts
Due: lint

updated: autosuggest search limit raised to 10, for account, emoji, hashtag. Scrollable overlay fits nearly 4 of them.
  src/actions/compose.ts
  src/features/compose/editor/plugins/autosuggest-plugin.tsx
Due: lint

updated: reply-indicator overflows verbose communications, during reply
  src/features/compose/components/reply-indicator.tsx
Due: lint

reanimate: reorganize, fix `attempt`
  src/features/nostr/reanimate.ts
Due: lint
