Repository soapbox-pub/soapbox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deps, lint-js, lint-sass, jest, nginx-test, docs-deploy

deps:
  stage: deps
  script: yarn install --ignore-scripts
  cache:
    key:
      files:
      - yarn.lock
    paths:
    - node_modules/
    policy: push

lint-js:
  stage: test
  script: yarn lint:js

lint-sass:
  stage: test
  script: yarn lint:sass

jest:
  stage: test
  script: yarn test:coverage --runInBand
  coverage: /All files[^|]*\|[^|]*\s+([\d\.]+)/
  artifacts:
    reports:
      junit: junit.xml
      coverage_report:
        coverage_format: cobertura
        path: .coverage/cobertura-coverage.xml

nginx-test:
  stage: test
  image: nginx:latest
  before_script:
  - cp installation/mastodon.conf /etc/nginx/conf.d/default.conf
  script: nginx -t

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
  - apk add curl
  script:
  - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline

Translated using Weblate (Japanese)
  app/soapbox/locales/ja.json
Due: jest

EmojiSelector: ensure the full picker fits on the screen on mobile
  app/soapbox/components/ui/emoji-selector/emoji-selector.tsx
Due: lint-js, jest

hovering reportee shows reportee card, not reporter's
  CHANGELOG.md
  app/soapbox/features/admin/components/report.tsx
Due: lint-js, jest

Add link to announcements
  app/soapbox/features/admin/tabs/dashboard.tsx
Due: lint-js, jest

Announcements: Feature-gate link
  app/soapbox/features/admin/tabs/dashboard.tsx
Due: lint-js, jest

DropdownMenu: close only if open in Redux
  app/soapbox/components/dropdown-menu/dropdown-menu.tsx
Due: lint-js, jest

Bump version to v3.2.0
  CHANGELOG.md
  package.json
Due: jest

Prep CHANGELOG for next release
  CHANGELOG.md
Due: none

Update dependency @tabler/icons to v2
  package.json
  yarn.lock
Due: deps, jest

fixes the stuff
  app/soapbox/components/account.tsx
Due: lint-js, jest

Alex's suggestion (brap)
  app/soapbox/components/account.tsx
Due: lint-js, jest

GitLab CI: only run Docker job when a tag is pushed
  .gitlab-ci.yml
Due: jest

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Remove groups from changelog
  CHANGELOG.md
Due: none

Fix: audio player track position opacity missing
  CHANGELOG.md
  app/soapbox/features/audio/index.tsx
  app/styles/components/audio-player.scss
Due: lint-js, lint-sass, jest

Tabler: ballon.svg --> balloon.svg
  app/soapbox/features/birthdays/account.tsx
  app/soapbox/features/ui/components/profile-info-panel.tsx
Due: lint-js, jest

"For you" feature
  app/soapbox/components/error-boundary.tsx
  app/soapbox/components/sidebar-navigation.tsx
  app/soapbox/components/status-list.tsx
  app/soapbox/components/thumb-navigation.tsx
  app/soapbox/features/ui/components/modals/hotkeys-modal.tsx
  app/soapbox/features/ui/components/navbar.tsx
  app/soapbox/locales/en.json
Due: lint-js, jest

Replace `<p></p>` with empty string in chats and statuses
  app/soapbox/normalizers/chat-message.ts
  app/soapbox/normalizers/status.ts
Due: lint-js, jest

Compose: Only send group_id when not null
  app/soapbox/actions/compose.ts
Due: lint-js, jest

Add zod
  package.json
  yarn.lock
Due: deps, jest

Attachment: first pass at zod
  app/soapbox/components/media-gallery.tsx
  app/soapbox/components/upload.tsx
  app/soapbox/normalizers/__tests__/attachment.test.ts
  app/soapbox/normalizers/attachment.ts
  app/soapbox/normalizers/index.ts
  app/soapbox/types/entities.ts
Due: lint-js, jest

Attachment: fix zod type
  app/soapbox/components/upload.tsx
  app/soapbox/features/account-gallery/components/media-item.tsx
  app/soapbox/features/chats/components/chat-upload-preview.tsx
  app/soapbox/features/ui/components/group-media-panel.tsx
  app/soapbox/features/ui/components/profile-media-panel.tsx
  app/soapbox/normalizers/__tests__/attachment.test.ts
  app/soapbox/normalizers/attachment.ts
  app/soapbox/normalizers/chat-message.ts
  app/soapbox/normalizers/status.ts
  app/soapbox/selectors/index.ts
Due: lint-js, jest

Attachment: granular types for meta and pleroma, use catch()
  app/soapbox/components/media-gallery.tsx
  app/soapbox/components/status-media.tsx
  app/soapbox/components/upload.tsx
  app/soapbox/features/account-gallery/components/media-item.tsx
  app/soapbox/features/report/components/status-check-box.tsx
  app/soapbox/features/ui/components/modals/media-modal.tsx
  app/soapbox/normalizers/attachment.ts
Due: lint-js, jest

Attachment: allow id to be empty string for backwards-compat, call toJS if needed
  app/soapbox/normalizers/attachment.ts
  app/soapbox/normalizers/chat-message.ts
  app/soapbox/normalizers/status.ts
Due: lint-js, jest

Attachment: fix audio uploads
  app/soapbox/normalizers/attachment.ts
Due: lint-js, jest

Improve rounded courners in MediaGallery and Chats
  app/soapbox/components/media-gallery.tsx
  app/soapbox/features/chats/components/chat-message.tsx
  app/styles/components/media-gallery.scss
Due: lint-js, lint-sass, jest

WIP
  app/soapbox/actions/events.ts
  app/soapbox/components/announcements/reactions-bar.tsx
  app/soapbox/components/ui/emoji-selector/emoji-selector.tsx
  app/soapbox/features/account-gallery/components/media-item.tsx
  app/soapbox/features/emoji/components/emoji-picker-dropdown.tsx
  app/soapbox/features/emoji/containers/emoji-picker-dropdown-container.jsx
  app/soapbox/features/emoji/containers/emoji-picker-dropdown-container.tsx
  app/soapbox/features/emoji/mapping.ts
  app/soapbox/features/emoji/search.ts
  app/soapbox/reducers/__tests__/statuses.test.ts
  app/soapbox/reducers/custom-emojis.ts
  types/emoji-mart/index.d.ts
Due: lint-js, jest

Types, update styles
  app/soapbox/features/emoji/components/emoji-picker-dropdown.tsx
  app/soapbox/features/emoji/components/emoji-picker.tsx
  app/soapbox/features/emoji/data.ts
  app/soapbox/features/emoji/index.ts
  app/soapbox/features/emoji/search.ts
  app/styles/emoji-picker.scss
  package.json
  types/emoji-mart/index.d.ts
  yarn.lock
Due: deps, lint-js, lint-sass, jest

Add Trending and Suggested Groups to discovery
  app/soapbox/components/group-card.tsx
  app/soapbox/components/ui/carousel/carousel.tsx
  app/soapbox/components/ui/index.ts
  app/soapbox/features/groups/components/discover/group.tsx
  app/soapbox/features/groups/components/discover/popular-groups.tsx
  app/soapbox/features/groups/components/discover/suggested-groups.tsx
  app/soapbox/features/groups/components/tab-bar.tsx
  app/soapbox/features/groups/discover.tsx
  app/soapbox/features/groups/index.tsx
  app/soapbox/features/placeholder/components/placeholder-group-card.tsx
  app/soapbox/features/placeholder/components/placeholder-group-discover.tsx
  app/soapbox/features/ui/components/panels/new-group-panel.tsx
  app/soapbox/features/ui/index.tsx
  app/soapbox/features/ui/util/async-components.ts
  app/soapbox/locales/en.json
  app/soapbox/normalizers/group.ts
  app/soapbox/queries/groups.ts
  app/soapbox/utils/features.ts
  package.json
  tailwind.config.cjs
  yarn.lock
Due: deps, lint-js, jest

Chats: allow uploading multiple attachments at once (if the backend supports it)
  app/soapbox/features/chats/components/chat-composer.tsx
  app/soapbox/features/chats/components/chat-textarea.tsx
  app/soapbox/features/chats/components/chat.tsx
  app/soapbox/utils/features.ts
Due: lint-js, jest

Types improvements, mostly
  .eslintrc.cjs
  app/soapbox/actions/about.ts
  app/soapbox/actions/account-notes.ts
  app/soapbox/actions/admin.ts
  app/soapbox/actions/apps.ts
  app/soapbox/actions/auth.ts
  app/soapbox/actions/blocks.ts
  app/soapbox/actions/email-list.ts
  app/soapbox/actions/events.ts
  app/soapbox/actions/export-data.ts
  app/soapbox/actions/familiar-followers.ts
  app/soapbox/actions/groups.ts
  app/soapbox/actions/import-data.ts
  app/soapbox/actions/media.ts
  app/soapbox/actions/push-notifications/index.ts
  app/soapbox/actions/push-notifications/registerer.ts
  app/soapbox/actions/push-notifications/setter.ts
  app/soapbox/components/media-gallery.tsx
  app/soapbox/components/ui/portal/portal.tsx
  app/soapbox/components/ui/slider/slider.tsx
  app/soapbox/components/upload.tsx
  app/soapbox/features/account/components/header.tsx
  app/soapbox/features/admin/moderation-log.tsx
  app/soapbox/features/chats/components/__tests__/chat-message-list.test.tsx
  app/soapbox/features/chats/components/chat-composer.tsx
  app/soapbox/features/chats/components/chat-message-reaction.tsx
  app/soapbox/features/chats/components/chat-textarea.tsx
  app/soapbox/features/ui/components/modals/report-modal/steps/reason-step.tsx
  app/soapbox/features/ui/components/poll-preview.tsx
  app/soapbox/globals.ts
  app/soapbox/hooks/useDimensions.ts
  app/soapbox/queries/__tests__/chats.test.ts
  app/soapbox/queries/chats.ts
  app/soapbox/reducers/reports.ts
  app/soapbox/reducers/statuses.ts
  app/soapbox/utils/chats.ts
  app/soapbox/utils/emoji-reacts.ts
  app/soapbox/utils/notification.ts
  app/soapbox/utils/phone.ts
  app/soapbox/utils/queries.ts
Due: lint-js, jest

Add support for Group search
  app/soapbox/features/groups/components/discover/group.tsx
  app/soapbox/features/groups/components/discover/search/index.tsx
  app/soapbox/features/groups/components/discover/search/no-results-blankslate.tsx
  app/soapbox/features/groups/components/discover/search/recent-searches.tsx
  app/soapbox/features/groups/components/discover/search/results.tsx
  app/soapbox/features/groups/discover.tsx
  app/soapbox/features/placeholder/components/placeholder-group-search.tsx
  app/soapbox/normalizers/group.ts
  app/soapbox/queries/groups/search.ts
  app/soapbox/settings.ts
  app/soapbox/utils/features.ts
  app/soapbox/utils/groups.ts
Due: lint-js, jest

Enable groups for v.build === UNRELEASED
  app/soapbox/utils/features.ts
Due: lint-js, jest

Add `yarn i18n` command to fix translation files
  docs/development/yarn-commands.md
  package.json
Due: jest, docs-deploy

Restore icon picker
  app/soapbox/features/emoji/components/emoji-picker.tsx
  app/soapbox/features/emoji/search.ts
  app/soapbox/features/soapbox-config/components/icon-picker-dropdown.tsx
  app/soapbox/features/soapbox-config/components/icon-picker-menu.tsx
  app/soapbox/features/soapbox-config/components/icon-picker.tsx
  app/soapbox/features/soapbox-config/components/promo-panel-input.tsx
Due: lint-js, jest

Update en.json
  app/soapbox/components/ui/emoji-selector/emoji-selector.tsx
  app/soapbox/features/emoji/components/emoji-picker-dropdown.tsx
  app/soapbox/features/emoji/containers/emoji-picker-dropdown-container.tsx
  app/soapbox/locales/en.json
Due: lint-js, jest

Cleanup
  app/soapbox/features/emoji/components/emoji-picker-dropdown.tsx
  app/soapbox/features/emoji/containers/emoji-picker-dropdown-container.tsx
  app/soapbox/locales/en.json
Due: lint-js, jest

Path conditions:
  deps: any of: yarn.lock
  lint-js: any of: **/*.js, **/*.jsx, **/*.ts, **/*.tsx, .eslintignore, .eslintrc.js
  lint-sass: any of: **/*.scss, **/*.css, .stylelintrc.json
  jest: any of: **/*.js, **/*.json, app/soapbox/**/*, webpack/**/*, custom/**/*, jest.config.js, package.json, yarn.lock, .gitlab-ci.yml
  nginx-test: any of: installation/mastodon.conf
  docs-deploy: any of: docs/**/*
