Repository soapbox-pub/soapbox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deps, lint-js, lint-sass, jest, nginx-test, docs-deploy

.gitlab-ci.yml:

image: node:18

variables:
  NODE_ENV: test

default:
  interruptible: true

cache: &cache
  key:
    files:
      - yarn.lock
  paths:
    - node_modules/
  policy: pull

stages:
  - deps
  - test
  - deploy

deps:
  stage: deps
  script: yarn install --ignore-scripts
  only:
    changes:
      - yarn.lock
  cache:
    <<: *cache
    policy: push

danger:
  stage: test
  script:
    # https://github.com/danger/danger-js/issues/1029#issuecomment-998915436
    - export CI_MERGE_REQUEST_IID=${CI_OPEN_MERGE_REQUESTS#*!}
    - npx danger ci
  except:
    variables:
      - $CI_DEFAULT_BRANCH == $CI_COMMIT_REF_NAME
  allow_failure: true

lint-js:
  stage: test
  script: yarn lint:js
  only:
    changes:
      - "**/*.js"
      - "**/*.jsx"
      - "**/*.ts"
      - "**/*.tsx"
      - ".eslintignore"
      - ".eslintrc.js"

lint-sass:
  stage: test
  script: yarn lint:sass
  only:
    changes:
      - "**/*.scss"
      - "**/*.css"
      - ".stylelintrc.json"

jest:
  stage: test
  script: yarn test:coverage --runInBand
  only:
    changes:
      - "**/*.js"
      - "**/*.json"
      - "app/soapbox/**/*"
      - "webpack/**/*"
      - "custom/**/*"
      - "jest.config.js"
      - "package.json"
      - "yarn.lock"
      - ".gitlab-ci.yml"
  coverage: /All files[^|]*\|[^|]*\s+([\d\.]+)/
  artifacts:
    reports:
      junit: junit.xml
      coverage_report:
        coverage_format: cobertura
        path: .coverage/cobertura-coverage.xml

nginx-test:
  stage: test
  image: nginx:latest
  before_script:
    - cp installation/mastodon.conf /etc/nginx/conf.d/default.conf
  script: nginx -t
  only:
    changes:
      - "installation/mastodon.conf"

build-production:
  stage: test
  script:
    - yarn build
    - yarn manage:translations en
    # Fail if files got changed.
    # https://stackoverflow.com/a/9066385
    - git diff --quiet
  variables:
    NODE_ENV: production
  artifacts:
    paths:
     - static

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
    - apk add curl
  script:
    - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline
  only:
    variables:
      - $CI_DEFAULT_BRANCH == $CI_COMMIT_REF_NAME
    changes:
      - "docs/**/*"

review:
  stage: deploy
  environment:
    name: review/$CI_COMMIT_REF_NAME
    url: https://$CI_COMMIT_REF_SLUG.git.soapbox.pub
  script:
    - npx -y surge static $CI_COMMIT_REF_SLUG.git.soapbox.pub
  allow_failure: true

pages:
  stage: deploy
  before_script: []
  script:
    # artifacts are kept between jobs
    - mv static public
  variables:
    NODE_ENV: production
  artifacts:
    paths:
    - public
  only:
    variables:
      - $CI_DEFAULT_BRANCH == $CI_COMMIT_REF_NAME

docker:
  stage: deploy
  image: docker:20.10.22
  services:
    - docker:20.10.22-dind
  tags:
    - dind
  # https://medium.com/devops-with-valentine/how-to-build-a-docker-image-and-push-it-to-the-gitlab-container-registry-from-a-gitlab-ci-pipeline-acac0d1f26df
  script:
    - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
    - docker build -t $CI_REGISTRY_IMAGE .
    - docker push $CI_REGISTRY_IMAGE
  only:
    variables:
      - $CI_DEFAULT_BRANCH == $CI_COMMIT_REF_NAME

include:
  - template: Jobs/Dependency-Scanning.gitlab-ci.yml
  - template: Security/License-Scanning.gitlab-ci.yml

Translated using Weblate (Chinese (Simplified))
  app/soapbox/locales/zh-CN.json
Due: jest

Translated using Weblate (Polish)
  app/soapbox/locales/pl.json
Due: jest

Translated using Weblate (Arabic)
  app/soapbox/locales/ar.json
Due: jest

Translated using Weblate (Italian)
  app/soapbox/locales/it.json
Due: jest

Translated using Weblate (Norwegian Bokmål)
  app/soapbox/locales/no.json
Due: jest

Translated using Weblate (German)
  app/soapbox/locales/de.json
Due: jest

Update translation files
  app/soapbox/locales/ar.json
  app/soapbox/locales/no.json
Due: jest

Update filter preview
  CHANGELOG.md
  app/soapbox/features/filters/edit-filter.tsx
  app/soapbox/features/filters/index.tsx
  app/soapbox/locales/en.json
Due: lint-js, jest

Translated using Weblate (Spanish)
  app/soapbox/locales/es.json
Due: jest

Create Group: enforce max limit on description and name
  app/soapbox/features/ui/components/modals/manage-group-modal/steps/details-step.tsx
  app/soapbox/normalizers/instance.ts
Due: lint-js, jest

Fix groups modal bailing too soon
  app/soapbox/actions/groups.ts
  app/soapbox/features/ui/components/modals/manage-group-modal/manage-group-modal.tsx
  app/soapbox/features/ui/components/modals/manage-group-modal/steps/confirmation-step.tsx
Due: lint-js, jest

Groups: scaffold the confirmation step
  app/soapbox/actions/groups.ts
  app/soapbox/components/ui/stack/stack.tsx
  app/soapbox/features/ui/components/modals/manage-group-modal/manage-group-modal.tsx
  app/soapbox/features/ui/components/modals/manage-group-modal/steps/confirmation-step.tsx
Due: lint-js, jest

Create Group: add info items to confirmation step
  app/soapbox/features/ui/components/modals/manage-group-modal/steps/confirmation-step.tsx
Due: lint-js, jest

Add copy and share links to group confirmation step
  app/soapbox/features/ui/components/modals/manage-group-modal/steps/confirmation-step.tsx
Due: lint-js, jest

Fix instance test
  app/soapbox/normalizers/__tests__/instance.test.ts
Due: lint-js, jest

Truncate Nostr pubkeys in reply mentions
  CHANGELOG.md
  app/soapbox/components/status-reply-mentions.tsx
  app/soapbox/features/compose/components/reply-mentions.tsx
  app/soapbox/utils/nostr.ts
Due: lint-js, jest

Sort conversations by last status date rather than id
  app/soapbox/reducers/conversations.ts
Due: lint-js, jest

yarn i18n
  app/soapbox/locales/en.json
Due: jest

Update dependency @testing-library/react to v14
  package.json
  yarn.lock
Due: deps, jest

Use EntityStore for Groups
  app/soapbox/features/groups/index.tsx
  app/soapbox/hooks/index.ts
  app/soapbox/hooks/useGroup.ts
  app/soapbox/hooks/useGroups.ts
  app/soapbox/pages/group-page.tsx
Due: lint-js, jest

Combine group hooks into one useGroups file
  app/soapbox/hooks/index.ts
  app/soapbox/hooks/useGroup.ts
  app/soapbox/hooks/useGroups.ts
Due: lint-js, jest

First draft of GroupRelationship entity hooks
  app/soapbox/hooks/useGroups.ts
Due: lint-js, jest

EntityStore: allow passing a parser function to parse the entities
  app/soapbox/entity-store/hooks/useEntities.ts
  app/soapbox/entity-store/hooks/useEntity.ts
Due: lint-js, jest

Group hooks: use new parser opt
  app/soapbox/hooks/useGroups.ts
Due: lint-js, jest

EntityStore: support staleTime option (automatically fetch)
  app/soapbox/entity-store/hooks/useEntities.ts
  app/soapbox/entity-store/types.ts
  app/soapbox/entity-store/utils.ts
Due: lint-js, jest

Lexical: add hashtag plugin
  app/soapbox/features/compose/editor/index.tsx
  app/soapbox/features/compose/editor/nodes.ts
  package.json
  yarn.lock
Due: deps, lint-js, jest

Update README.md
  README.md
Due: none

EntityStore: allow passing an undefined endpoint (to skip fetch), prevent race conditions in isFetching
  app/soapbox/entity-store/hooks/useEntities.ts
Due: lint-js, jest

EntityStore: fetch with useEntity automatically, accept refetch opt
  app/soapbox/entity-store/hooks/useEntity.ts
Due: lint-js, jest

Update useGroups queries with EntityStore improvements
  app/soapbox/hooks/useGroups.ts
  app/soapbox/hooks/useGroupsPath.ts
Due: lint-js, jest

Actually, do put relationships in their own list. And fix parsers not doing the right thing.
  app/soapbox/hooks/useGroups.ts
Due: lint-js, jest
