Repository soapbox-pub/soapbox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deps, lint, docs-deploy

.gitlab-ci.yml:

image: node:20

variables:
  NODE_ENV: test
  DS_EXCLUDED_ANALYZERS: gemnasium-python

default:
  interruptible: true

cache: &cache
  key:
    files:
      - yarn.lock
  paths:
    - node_modules/
  policy: pull

stages:
  - deps
  - test
  - deploy
  - release

deps:
  stage: deps
  script: yarn install --ignore-scripts
  only:
    changes:
      - yarn.lock
  cache:
    <<: *cache
    policy: push

danger:
  stage: test
  script:
    # https://github.com/danger/danger-js/issues/1029#issuecomment-998915436
    - export CI_MERGE_REQUEST_IID=${CI_OPEN_MERGE_REQUESTS#*!}
    - npx danger ci
  except:
    variables:
      - $CI_DEFAULT_BRANCH == $CI_COMMIT_REF_NAME
  allow_failure: true

lint:
  stage: test
  script: yarn lint
  only:
    changes:
      - "**/*.js"
      - "**/*.jsx"
      - "**/*.cjs"
      - "**/*.mjs"
      - "**/*.ts"
      - "**/*.tsx"
      - "**/*.scss"
      - "**/*.css"
      - ".eslintignore"
      - ".eslintrc.cjs"
      - ".stylelintrc.json"

build:
  stage: test
  before_script:
    - apt-get update -y && apt-get install -y zip
  script:
    - yarn build
    - cp dist/index.html dist/404.html
    - cd dist && zip -r ../soapbox.zip . && cd ..
  variables:
    NODE_ENV: production
  artifacts:
    paths:
     - soapbox.zip

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
    - apk add curl
  script:
    - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline
  only:
    variables:
      - $CI_DEFAULT_BRANCH == $CI_COMMIT_REF_NAME
    changes:
      - "docs/**/*"

review:
  stage: deploy
  environment:
    name: review/$CI_COMMIT_REF_NAME
    url: https://$CI_COMMIT_REF_SLUG.git.soapbox.pub
  before_script:
    - apt-get update -y && apt-get install -y unzip
  script:
    - unzip soapbox.zip -d dist
    - npx -y surge dist $CI_COMMIT_REF_SLUG.git.soapbox.pub
  allow_failure: true

pages:
  stage: deploy
  before_script:
    - apt-get update -y && apt-get install -y unzip
  script:
    # artifacts are kept between jobs
    - unzip soapbox.zip -d public
  variables:
    NODE_ENV: production
  artifacts:
    paths:
    - public
  only:
    variables:
      - $CI_DEFAULT_BRANCH == $CI_COMMIT_REF_NAME

docker:
  stage: deploy
  image: docker:24.0.6
  services:
    - docker:24.0.6-dind
  tags:
    - dind
  # https://medium.com/devops-with-valentine/how-to-build-a-docker-image-and-push-it-to-the-gitlab-container-registry-from-a-gitlab-ci-pipeline-acac0d1f26df
  script:
    - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
    - docker build -t $CI_REGISTRY_IMAGE:$CI_COMMIT_TAG .
    - docker push $CI_REGISTRY_IMAGE:$CI_COMMIT_TAG
  rules:
    - if: $CI_COMMIT_TAG
  interruptible: false

release:
  stage: release
  rules:
    - if: $CI_COMMIT_TAG
  script:
    - npx ts-node ./scripts/do-release.ts
  interruptible: false

include:
  - template: Jobs/Dependency-Scanning.gitlab-ci.yml

Add key import step
  src/features/ui/components/modals/nostr-signin-modal/nostr-signin-modal.tsx
  src/features/ui/components/modals/nostr-signin-modal/steps/extension-step.tsx
  src/features/ui/components/modals/nostr-signin-modal/steps/key-add-step.tsx
Due: lint

CSP: allow wss connections
  index.html
Due: none

NostrSignin: remove unused setSigner state
  src/features/ui/components/modals/nostr-signin-modal/nostr-signin-modal.tsx
  src/features/ui/components/modals/nostr-signin-modal/steps/key-add-step.tsx
  src/features/ui/components/modals/nostr-signin-modal/steps/keygen-step.tsx
Due: lint

NostrSignin: remove IdentityStep, AccountStep, other useless code
  src/features/ui/components/modals/nostr-signin-modal/nostr-signin-modal.tsx
  src/features/ui/components/modals/nostr-signin-modal/steps/account-step.tsx
  src/features/ui/components/modals/nostr-signin-modal/steps/identity-step.tsx
  src/features/ui/components/modals/nostr-signin-modal/steps/key-add-step.tsx
  src/features/ui/components/modals/nostr-signin-modal/steps/key-step.tsx
  src/features/ui/components/modals/nostr-signin-modal/steps/keygen-step.tsx
Due: lint

Remove unused DittoSignup module
  src/features/ui/components/modals/nostr-signin-modal/DittoSignup.ts
Due: lint

NostrSignin: update steps
  src/features/ui/components/modals/nostr-signin-modal/nostr-signin-modal.tsx
  src/features/ui/components/modals/nostr-signin-modal/steps/extension-step.tsx
Due: lint

Rework nostrExtensionLogIn action
  src/actions/nostr.ts
  src/features/ui/components/modals/nostr-signin-modal/components/nostr-extension-indicator.tsx
  src/features/ui/components/modals/nostr-signin-modal/steps/extension-step.tsx
Due: lint

Break NostrLogin into a separate flow from NostrSignin
  src/features/ui/components/modal-root.tsx
  src/features/ui/components/modals/nostr-login-modal/components/emoji-graphic.tsx
  src/features/ui/components/modals/nostr-login-modal/components/nostr-extension-indicator.tsx
  src/features/ui/components/modals/nostr-login-modal/nostr-login-modal.tsx
  src/features/ui/components/modals/nostr-login-modal/steps/extension-step.tsx
  src/features/ui/components/modals/nostr-login-modal/steps/key-add-step.tsx
  src/features/ui/components/modals/nostr-signin-modal/nostr-signin-modal.tsx
  src/features/ui/components/modals/nostr-signin-modal/steps/key-step.tsx
  src/features/ui/components/navbar.tsx
  src/features/ui/util/async-components.ts
Due: lint

nostr-signin-modal -> nostr-signup-modal
  src/features/ui/components/modal-root.tsx
  src/features/ui/components/modals/nostr-login-modal/components/nostr-extension-indicator.tsx
  src/features/ui/components/modals/nostr-login-modal/nostr-login-modal.tsx
  src/features/ui/components/modals/nostr-login-modal/steps/extension-step.tsx
  src/features/ui/components/modals/nostr-login-modal/steps/key-add-step.tsx
  src/features/ui/components/modals/nostr-signup-modal/components/emoji-graphic.tsx
  src/features/ui/components/modals/nostr-signup-modal/components/nostr-extension-indicator.tsx
  src/features/ui/components/modals/nostr-signup-modal/nostr-signup-modal.tsx
  src/features/ui/components/modals/nostr-signup-modal/steps/extension-step.tsx
  src/features/ui/components/modals/nostr-signup-modal/steps/key-step.tsx
  src/features/ui/components/modals/nostr-signup-modal/steps/keygen-step.tsx
  src/features/ui/components/panels/sign-up-panel.tsx
  src/features/ui/util/async-components.ts
Due: lint

Move EmojiGraphic to soapbox/components
  src/components/emoji-graphic.tsx
  src/features/ui/components/modals/nostr-login-modal/steps/extension-step.tsx
  src/features/ui/components/modals/nostr-login-modal/steps/key-add-step.tsx
  src/features/ui/components/modals/nostr-signup-modal/components/emoji-graphic.tsx
  src/features/ui/components/modals/nostr-signup-modal/steps/extension-step.tsx
  src/features/ui/components/modals/nostr-signup-modal/steps/key-step.tsx
  src/features/ui/components/modals/nostr-signup-modal/steps/keygen-step.tsx
Due: lint

Have only one NostrExtensionIndicator component
  src/features/ui/components/modals/nostr-signup-modal/components/nostr-extension-indicator.tsx
  src/features/ui/components/modals/nostr-signup-modal/steps/key-step.tsx
Due: lint

NostrLoginModal: fix handleClose
  src/features/ui/components/modals/nostr-login-modal/nostr-login-modal.tsx
Due: lint

NostrExtensionIndicator: close either modal on click
  src/features/ui/components/modals/nostr-login-modal/components/nostr-extension-indicator.tsx
Due: lint

Make NostrLogin modal flow work
  src/actions/nostr.ts
  src/features/ui/components/modals/nostr-login-modal/steps/key-add-step.tsx
Due: lint

KeyStep: fix modals, sort of
  src/features/ui/components/modals/nostr-signup-modal/steps/key-step.tsx
Due: lint

KeygenStep: log the user in
  src/features/ui/components/modals/nostr-signup-modal/steps/keygen-step.tsx
Due: lint

Fix navigating between NostrSignup and NostrLogin
  src/features/ui/components/modals/nostr-login-modal/nostr-login-modal.tsx
  src/features/ui/components/modals/nostr-signup-modal/steps/key-step.tsx
Due: lint

Fi nostr_signup accidentally capitalized i18n strings
  src/features/ui/components/modals/nostr-login-modal/steps/extension-step.tsx
  src/features/ui/components/modals/nostr-login-modal/steps/key-add-step.tsx
  src/features/ui/components/modals/nostr-signup-modal/steps/extension-step.tsx
  src/features/ui/components/modals/nostr-signup-modal/steps/key-step.tsx
  src/features/ui/components/modals/nostr-signup-modal/steps/keygen-step.tsx
Due: lint

ExtensionStep: combine into one component
  src/features/ui/components/modals/nostr-login-modal/nostr-login-modal.tsx
  src/features/ui/components/modals/nostr-login-modal/steps/extension-step.tsx
  src/features/ui/components/modals/nostr-signup-modal/nostr-signup-modal.tsx
  src/features/ui/components/modals/nostr-signup-modal/steps/extension-step.tsx
Due: lint

fix(deps): update dependency @lexical/clipboard to ^0.14.0
  package.json
  yarn.lock
Due: deps

fix(deps): update dependency @lexical/hashtag to ^0.14.0
  package.json
  yarn.lock
Due: deps

fix(deps): update dependency @lexical/link to ^0.14.0
  package.json
  yarn.lock
Due: deps

Fix up login/signing paths and buttons
  src/features/auth-login/components/login-page.tsx
  src/features/auth-login/components/registration-page.tsx
  src/features/ui/components/panels/sign-up-panel.tsx
Due: lint

yarn i18n
  src/locales/en.json
Due: none

Update dependency @lexical/react to ^0.14.0
  package.json
  yarn.lock
Due: deps

Update dependency @lexical/selection to ^0.14.0
  package.json
  yarn.lock
Due: deps

Update dependency @tabler/icons to v3
  package.json
  yarn.lock
Due: deps

Update docker Docker tag to v25.0.5
  .gitlab-ci.yml
Due: none

NostrProvider: memoize the signer
  src/contexts/nostr-context.tsx
Due: lint

Bookmark folders
  src/actions/bookmarks.ts
  src/actions/interactions.ts
  src/api/hooks/index.ts
  src/api/hooks/statuses/useBookmarkFolder.ts
  src/api/hooks/statuses/useBookmarkFolders.ts
  src/api/hooks/statuses/useCreateBookmarkFolder.ts
  src/api/hooks/statuses/useDeleteBookmarkFolder.ts
  src/api/hooks/statuses/useUpdateBookmarkFolder.ts
  src/entity-store/entities.ts
  src/features/bookmark-folders/components/new-folder-form.tsx
  src/features/bookmark-folders/index.tsx
  src/features/bookmarks/index.tsx
  src/features/list-adder/index.tsx
  src/features/list-editor/index.tsx
  src/features/ui/components/modal-root.tsx
  src/features/ui/components/modals/compose-modal.tsx
  src/features/ui/components/modals/edit-bookmark-folder-modal.tsx
  src/features/ui/components/modals/reactions-modal.tsx
  src/features/ui/components/modals/select-bookmark-folder-modal.tsx
  src/features/ui/components/modals/unauthorized-modal.tsx
  src/features/ui/index.tsx
  src/features/ui/util/async-components.ts
  src/features/video/index.tsx
  src/hooks/forms/useTextField.ts
  src/locales/en.json
  src/reducers/status-lists.ts
  src/schemas/bookmark-folder.ts
  src/schemas/index.ts
  src/schemas/status.ts
  src/toast.tsx
  src/utils/features.ts
Due: lint

Bookmark folders route should not be feature gated
  src/features/ui/index.tsx
Due: lint

Call it 'beta' for now
  src/components/site-error-boundary.tsx
  src/features/ui/components/theme-selector.tsx
  src/locales/en.json
Due: lint

Fix error handling
  src/features/bookmark-folders/components/new-folder-form.tsx
  src/features/bookmarks/index.tsx
  src/features/ui/components/modals/edit-bookmark-folder-modal.tsx
Due: lint

Fix layout, add missing colors
  src/components/announcements/announcements-panel.tsx
  src/components/ui/layout/layout.tsx
  src/features/edit-profile/components/avatar-picker.tsx
Due: lint

More colors
  src/components/autosuggest-input.tsx
  src/components/dropdown-menu/dropdown-menu-item.tsx
  src/components/ui/input/input.tsx
  src/components/ui/select/select.tsx
  src/features/compose/editor/plugins/autosuggest-plugin.tsx
  src/styles/components/compose-form.scss
  src/styles/components/datepicker.scss
Due: lint

Change icon, rename theme, set divideType based on theme
  src/components/scrollable-list.tsx
  src/components/status-list.tsx
  src/features/bookmarks/index.tsx
  src/features/community-timeline/index.tsx
  src/features/hashtag-timeline/index.tsx
  src/features/home-timeline/index.tsx
  src/features/landing-timeline/index.tsx
  src/features/list-timeline/index.tsx
  src/features/notifications/index.tsx
  src/features/public-timeline/index.tsx
  src/features/quotes/index.tsx
  src/features/remote-timeline/index.tsx
  src/features/test-timeline/index.tsx
  src/features/ui/components/theme-selector.tsx
Due: lint

Nostr: allow setting a nip05 username
  src/features/edit-profile/index.tsx
  src/locales/en.json
  src/schemas/account.ts
  src/utils/features.ts
Due: lint

Black for touchscreen actions modal
  src/features/compose/components/reply-indicator.tsx
  src/styles/components/modal.scss
Due: lint
