Repository soapbox-pub/soapbox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deps, lint, docs-deploy

deps:
  stage: deps
  script: yarn install --ignore-scripts
  cache:
    key:
      files:
      - yarn.lock
    paths:
    - node_modules/
    policy: push

lint:
  stage: test
  script: yarn lint

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
  - apk add curl
  script:
  - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline

Remove Trending Truths
  src/actions/trending-statuses.ts
  src/utils/features.ts
Due: lint

Remove Truth Social PolicyModal
  src/components/modal-root.tsx
  src/features/ui/components/modal-root.tsx
  src/features/ui/components/modals/policy-modal.tsx
  src/features/ui/index.tsx
  src/features/ui/util/async-components.ts
  src/queries/policies.ts
  src/utils/features.ts
Due: lint

lexical: fix minor spacing/size issues
  src/features/compose/components/compose-form.tsx
  src/features/compose/editor/index.tsx
  src/features/compose/editor/plugins/autosuggest-plugin.tsx
Due: lint

lexical: remove markdown support
  package.json
  src/features/compose/components/compose-form.tsx
  src/features/compose/editor/handlers/image.ts
  src/features/compose/editor/index.tsx
  src/features/compose/editor/plugins/floating-block-type-toolbar-plugin.tsx
  src/features/compose/editor/plugins/floating-link-editor-plugin.tsx
  src/features/compose/editor/plugins/floating-text-format-toolbar-plugin.tsx
  yarn.lock
Due: deps, lint

Fix standalone redirect Fixes https://gitlab.com/soapbox-pub/soapbox/-/issues/1524
  src/features/ui/index.tsx
Due: lint

vite used to build in ./dist directory, let's build again into ./static
  package.json
Due: none

Translated using Weblate (Italian)
  src/locales/it.json
Due: none

AutosuggestPlugin: treat Tab the same as Enter
  src/features/compose/editor/plugins/autosuggest-plugin.tsx
Due: lint

AutosuggestPlugin: pageYOffset --> scrollY
  src/features/compose/editor/plugins/autosuggest-plugin.tsx
Due: lint

AutosuggestPlugin: update when suggestions updates
  src/features/compose/editor/plugins/autosuggest-plugin.tsx
Due: lint

AutosuggestPlugin: clear suggestions after selecting a suggestion
  src/features/compose/editor/plugins/autosuggest-plugin.tsx
Due: lint

Make Lexical the only editor
  src/actions/settings.ts
  src/features/compose/components/compose-form.tsx
  src/features/developers/settings-store.tsx
  src/features/ui/util/global-hotkeys.tsx
  src/locales/en.json
  src/schemas/soapbox/settings.ts
Due: lint

lexical: pass the actual EditorState as the ref, count with onChange callback
  src/features/compose/components/compose-form.tsx
  src/features/compose/editor/index.tsx
Due: lint

lexical: set the actual editor as the ref, clear the form on submit
  src/features/compose/components/compose-form.tsx
  src/features/compose/editor/index.tsx
Due: lint

lexical: add RefPlugin to set the ref
  src/features/compose/editor/index.tsx
  src/features/compose/editor/plugins/ref-plugin.tsx
Due: lint

lexical: fix placeholder z-index
  src/features/compose/editor/index.tsx
Due: lint

lexical: fix modal close confirmation
  src/features/compose/editor/plugins/state-plugin.tsx
Due: lint

RegistrationPage: display "registrations closed" message in place of signup form when registrations are closed
  src/features/auth-login/components/registration-page.tsx
  src/hooks/useRegistrationStatus.ts
Due: lint

LandingTimeline: remove unnecessary onlyMedia
  src/features/landing-timeline/index.tsx
Due: lint

fix(deps): update dependency @lexical/code to ^0.12.0
  package.json
  yarn.lock
Due: deps

lexical: fix ctrl+Enter
  src/features/compose/editor/plugins/state-plugin.tsx
Due: lint

lexical: remove unused nodes
  package.json
  src/features/compose/editor/nodes/image-component.tsx
  src/features/compose/editor/nodes/image-node.tsx
  src/features/compose/editor/nodes/index.ts
  yarn.lock
Due: deps, lint

Upgrade all lexical deps
  package.json
  yarn.lock
Due: deps

Update translation files
  src/locales/ar.json
  src/locales/de.json
  src/locales/es.json
  src/locales/fr.json
  src/locales/hr.json
  src/locales/it.json
  src/locales/no.json
  src/locales/pl.json
  src/locales/tr.json
  src/locales/zh-CN.json
Due: none

fix(deps): update dependency react-router-dom to v6
  package.json
  yarn.lock
Due: deps

lexical: fix custom emojis (add a text representation of them)
  src/features/compose/editor/nodes/emoji-node.tsx
Due: lint

fix account migration route
  src/features/settings/index.tsx
Due: lint

Fix remote timeline pages
  src/features/federation-restrictions/components/instance-restrictions.tsx
  src/features/ui/components/modals/edit-federation-modal.tsx
Due: lint

Delete mention-node.tsx
  src/features/compose/editor/nodes/mention-node.tsx
Due: lint

Hide unauth features if they're restricted by the backend
  src/api/hooks/streaming/useCommunityStream.ts
  src/components/sidebar-navigation.tsx
  src/features/landing-timeline/index.tsx
  src/schemas/instance.ts
Due: lint

LandingTimeline: display About page instead of the feed if the feed is restricted by the API
  src/features/landing-timeline/index.tsx
Due: lint

Fix composer always being in Markdown Fixes https://gitlab.com/soapbox-pub/soapbox/-/issues/1526
  src/actions/compose.ts
Due: lint

EmojiNode: clone with key
  src/features/compose/editor/nodes/emoji-node.tsx
Due: lint

Disable EmojiNode for now :(
  src/features/compose/editor/plugins/autosuggest-plugin.tsx
Due: lint

MentionPlugin: do a little refactoring
  src/features/compose/editor/plugins/mention-plugin.tsx
Due: lint

MentionPlugin: simplify regex and getMatch
  src/features/compose/editor/plugins/mention-plugin.tsx
Due: lint

MentionPlugin: use a simpler regex, fix double-@ mentions Fixes https://gitlab.com/soapbox-pub/soapbox/-/issues/1530
  src/features/compose/editor/plugins/mention-plugin.tsx
Due: lint

lexical: fix license path in lexical files
  src/features/compose/editor/nodes/index.ts
  src/features/compose/editor/nodes/mention-node.ts
  src/features/compose/editor/plugins/autosuggest-plugin.tsx
  src/features/compose/editor/plugins/link-plugin.tsx
  src/features/compose/editor/utils/get-dom-range-rect.ts
  src/features/compose/editor/utils/get-selected-node.ts
  src/features/compose/editor/utils/point.ts
  src/features/compose/editor/utils/rect.ts
  src/features/compose/editor/utils/set-floating-elem-position.ts
  src/features/compose/editor/utils/url.ts
Due: lint

lexical: remove MentionPlugin, only insert mention when selected from autosuggest
  src/features/compose/editor/index.tsx
  src/features/compose/editor/nodes/mention-node.ts
  src/features/compose/editor/plugins/autosuggest-plugin.tsx
  src/features/compose/editor/plugins/mention-plugin.tsx
Due: lint

Path conditions:
  deps: any of: yarn.lock
  lint: any of: **/*.js, **/*.jsx, **/*.cjs, **/*.mjs, **/*.ts, **/*.tsx, **/*.scss, **/*.css, .eslintignore, .eslintrc.cjs, .stylelintrc.json
  docs-deploy: any of: docs/**/*
