Repository soapbox-pub/soapbox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deps, lint, docs-deploy

.gitlab-ci.yml:

image: node:20

variables:
  NODE_ENV: test
  DS_EXCLUDED_ANALYZERS: gemnasium-python

default:
  interruptible: true

cache: &cache
  key:
    files:
      - yarn.lock
  paths:
    - node_modules/
  policy: pull

stages:
  - deps
  - test
  - deploy
  - release

deps:
  stage: deps
  script: yarn install --ignore-scripts
  only:
    changes:
      - yarn.lock
  cache:
    <<: *cache
    policy: push

danger:
  stage: test
  script:
    # https://github.com/danger/danger-js/issues/1029#issuecomment-998915436
    - export CI_MERGE_REQUEST_IID=${CI_OPEN_MERGE_REQUESTS#*!}
    - npx danger ci
  except:
    variables:
      - $CI_DEFAULT_BRANCH == $CI_COMMIT_REF_NAME
  allow_failure: true

lint:
  stage: test
  script: yarn lint
  only:
    changes:
      - "**/*.js"
      - "**/*.jsx"
      - "**/*.cjs"
      - "**/*.mjs"
      - "**/*.ts"
      - "**/*.tsx"
      - "**/*.scss"
      - "**/*.css"
      - ".eslintignore"
      - ".eslintrc.cjs"
      - ".stylelintrc.json"

build:
  stage: test
  before_script:
    - apt-get update -y && apt-get install -y zip
  script:
    - yarn build
    - cp dist/index.html dist/404.html
    - cd dist && zip -r ../soapbox.zip . && cd ..
  variables:
    NODE_ENV: production
  artifacts:
    paths:
     - soapbox.zip

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
    - apk add curl
  script:
    - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline
  only:
    variables:
      - $CI_DEFAULT_BRANCH == $CI_COMMIT_REF_NAME
    changes:
      - "docs/**/*"

review:
  stage: deploy
  environment:
    name: review/$CI_COMMIT_REF_NAME
    url: https://$CI_COMMIT_REF_SLUG.git.soapbox.pub
  before_script:
    - apt-get update -y && apt-get install -y unzip
  script:
    - unzip soapbox.zip -d dist
    - npx -y surge dist $CI_COMMIT_REF_SLUG.git.soapbox.pub
  allow_failure: true

pages:
  stage: deploy
  before_script:
    - apt-get update -y && apt-get install -y unzip
  script:
    # artifacts are kept between jobs
    - unzip soapbox.zip -d public
  variables:
    NODE_ENV: production
  artifacts:
    paths:
    - public
  only:
    variables:
      - $CI_DEFAULT_BRANCH == $CI_COMMIT_REF_NAME

docker:
  stage: deploy
  image: docker:24.0.6
  services:
    - docker:24.0.6-dind
  tags:
    - dind
  # https://medium.com/devops-with-valentine/how-to-build-a-docker-image-and-push-it-to-the-gitlab-container-registry-from-a-gitlab-ci-pipeline-acac0d1f26df
  script:
    - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
    - docker build -t $CI_REGISTRY_IMAGE:$CI_COMMIT_TAG .
    - docker push $CI_REGISTRY_IMAGE:$CI_COMMIT_TAG
  rules:
    - if: $CI_COMMIT_TAG
  interruptible: false

release:
  stage: release
  rules:
    - if: $CI_COMMIT_TAG
  script:
    - npx ts-node ./scripts/do-release.ts
  interruptible: false

include:
  - template: Jobs/Dependency-Scanning.gitlab-ci.yml

NostrSigninModal: add EmojiGraphic, use an emoji on each step
  src/features/ui/components/modals/nostr-signin-modal/components/emoji-graphic.tsx
  src/features/ui/components/modals/nostr-signin-modal/steps/extension-step.tsx
  src/features/ui/components/modals/nostr-signin-modal/steps/identity-step.tsx
  src/features/ui/components/modals/nostr-signin-modal/steps/key-step.tsx
Due: lint

NostrExtensionIndicator: move to `components/` subpath
  src/features/ui/components/modals/nostr-signin-modal/components/nostr-extension-indicator.tsx
  src/features/ui/components/modals/nostr-signin-modal/steps/identity-step.tsx
  src/features/ui/components/modals/nostr-signin-modal/steps/key-step.tsx
Due: lint

IdentityStep: lookup the account before proceeding
  src/features/ui/components/modals/nostr-signin-modal/components/nostr-extension-indicator.tsx
  src/features/ui/components/modals/nostr-signin-modal/steps/identity-step.tsx
Due: lint

Flesh out AccountStep
  src/features/ui/components/modals/nostr-signin-modal/steps/account-step.tsx
  src/features/ui/components/modals/nostr-signin-modal/steps/identity-step.tsx
  src/schemas/account.ts
Due: lint

NostrSigninModal: hold accountId instead of username in the state
  src/api/hooks/accounts/useAccountLookup.ts
  src/features/ui/components/modals/nostr-signin-modal/nostr-signin-modal.tsx
  src/features/ui/components/modals/nostr-signin-modal/steps/account-step.tsx
  src/features/ui/components/modals/nostr-signin-modal/steps/identity-step.tsx
Due: lint

Modal: support back button
  src/components/ui/modal/modal.tsx
Due: lint

NostrSigninModal: make each step render a Modal directly
  src/features/ui/components/modals/nostr-signin-modal/nostr-signin-modal.tsx
  src/features/ui/components/modals/nostr-signin-modal/steps/account-step.tsx
  src/features/ui/components/modals/nostr-signin-modal/steps/extension-step.tsx
  src/features/ui/components/modals/nostr-signin-modal/steps/identity-step.tsx
  src/features/ui/components/modals/nostr-signin-modal/steps/key-step.tsx
  src/features/ui/components/modals/nostr-signin-modal/steps/register-step.tsx
Due: lint

NostrSigninModal: make use of Back button
  src/features/ui/components/modals/nostr-signin-modal/steps/account-step.tsx
Due: lint

Add NKeyStorage class to retrieve and set keys in browser storage in a mostly-secure way
  package.json
  src/features/nostr/NKeyStorage.ts
  src/features/nostr/keys.ts
  src/schemas/nostr.ts
  src/utils/storage.ts
  src/workers/pow.worker.ts
  yarn.lock
Due: deps, lint

Upgrade nspec, parse nsec the easier way
  package.json
  src/features/nostr/NKeyStorage.ts
  yarn.lock
Due: deps, lint

Add KeygenStep, only show ExtensionStep when window.nostr is present
  src/features/nostr/NKeyStorage.ts
  src/features/ui/components/modals/nostr-signin-modal/components/emoji-graphic.tsx
  src/features/ui/components/modals/nostr-signin-modal/nostr-signin-modal.tsx
  src/features/ui/components/modals/nostr-signin-modal/steps/identity-step.tsx
  src/features/ui/components/modals/nostr-signin-modal/steps/key-step.tsx
  src/features/ui/components/modals/nostr-signin-modal/steps/keygen-step.tsx
  src/utils/input.ts
Due: lint

NostrSigninModal: represent steps as strings instead of numbers
  src/features/ui/components/modals/nostr-signin-modal/nostr-signin-modal.tsx
  src/features/ui/components/modals/nostr-signin-modal/steps/account-step.tsx
  src/features/ui/components/modals/nostr-signin-modal/steps/extension-step.tsx
  src/features/ui/components/modals/nostr-signin-modal/steps/identity-step.tsx
  src/features/ui/components/modals/nostr-signin-modal/steps/key-step.tsx
  src/features/ui/components/modals/nostr-signin-modal/steps/keygen-step.tsx
Due: lint

KeygenStep: display user's keys as copyable inputs
  src/components/copyable-input.tsx
  src/features/ui/components/modals/nostr-signin-modal/steps/keygen-step.tsx
Due: lint

ExtensionStep: improve whitespace between elements
  src/features/ui/components/modals/nostr-signin-modal/steps/extension-step.tsx
Due: lint

ExtensionStep: get rid of my-6
  src/features/ui/components/modals/nostr-signin-modal/steps/extension-step.tsx
Due: lint

KeygenStep: simplify it, add a tooltip over "Next" button
  src/components/ui/tooltip/tooltip.tsx
  src/features/ui/components/modals/nostr-signin-modal/steps/keygen-step.tsx
Due: lint

Fix ModalLoading component
  src/features/ui/components/modal-loading.tsx
Due: lint

NKeyStorage: fix schema parser
  src/features/nostr/NKeyStorage.ts
Due: lint

Advance from KeygenStep to AccountStep
  src/actions/accounts.ts
  src/features/ui/components/modals/nostr-signin-modal/nostr-signin-modal.tsx
  src/features/ui/components/modals/nostr-signin-modal/steps/account-step.tsx
  src/features/ui/components/modals/nostr-signin-modal/steps/keygen-step.tsx
Due: lint

IdentityStep: prevent entry of nsec
  src/features/ui/components/modals/nostr-signin-modal/steps/identity-step.tsx
Due: lint

Upgrade NSpec to v0.3.0
  package.json
  yarn.lock
Due: deps

Load NKeys in initial chunk so it always locks the storage
  src/main.tsx
Due: lint

Replace react-hotkeys with updated fork for Vite compatibility
  package.json
  src/features/ui/components/hotkeys.tsx
  yarn.lock
Due: deps, lint

Update dependency nspec to ^0.5.0
  package.json
  yarn.lock
Due: deps

Update dependency nostr-tools to v2
  package.json
  yarn.lock
Due: deps

Align poll option text to center
  src/components/polls/poll-option.tsx
Due: lint

Add .npmrc for JSR
  .npmrc
Due: none

Upgrade nspec to latest, switch to version from JSR
  package.json
  src/api/hooks/nostr/useSignerStream.ts
  src/features/nostr/NKeyStorage.ts
  src/features/nostr/SoapboxSigner.ts
  src/features/nostr/sign.ts
  src/features/ui/components/modals/nostr-signin-modal/nostr-signin-modal.tsx
  src/features/ui/components/modals/nostr-signin-modal/steps/account-step.tsx
  src/features/ui/components/modals/nostr-signin-modal/steps/keygen-step.tsx
  src/schemas/account.ts
  src/types/window.d.ts
  tsconfig.json
  yarn.lock
Due: deps, lint

Add NostrContext to manage connection to Nostr relay
  src/api/hooks/nostr/useSignerStream.ts
  src/contexts/nostr-context.tsx
  src/features/nostr/NKeyStorage.ts
  src/init/soapbox.tsx
Due: lint

Remove unused RegisterStep
  src/features/ui/components/modals/nostr-signin-modal/nostr-signin-modal.tsx
  src/features/ui/components/modals/nostr-signin-modal/steps/account-step.tsx
  src/features/ui/components/modals/nostr-signin-modal/steps/register-step.tsx
Due: lint

Change design of Backups page a bit
  src/features/backups/index.tsx
  src/locales/en.json
  src/reducers/backups.tsx
Due: lint

fix: remove .max-w-3xl from embedded status.
  src/features/embedded-status/index.tsx
Due: lint

Hook up DVM request
  src/features/nostr/hooks/useNostrReq.ts
  src/features/ui/components/modals/nostr-signin-modal/DittoSignup.ts
  src/features/ui/components/modals/nostr-signin-modal/steps/account-step.tsx
Due: lint

Use pubkey instead of npub
  src/features/ui/components/modals/nostr-signin-modal/steps/account-step.tsx
  src/schemas/account.ts
Due: lint

Add a default CSP with a meta tag
  index.html
Due: none

CSP: add missing frame-src directive
  index.html
Due: none

Sanitize PreviewCard html
  src/schemas/card.ts
Due: lint

cardSchema: take innerHTML instead, force type to 'link' if html is empty
  src/schemas/card.ts
Due: lint

Add weblock package
  package.json
  src/features/nostr/NKeyStorage.ts
  src/utils/storage.ts
  yarn.lock
Due: deps, lint

Git Nostr signer from currently-logged-in account
  src/actions/accounts.ts
  src/actions/nostr.ts
  src/contexts/nostr-context.tsx
  src/features/nostr/SoapboxSigner.ts
  src/features/nostr/sign.ts
Due: lint
