Repository soapbox-pub/soapbox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deps, lint-js, lint-sass, jest, nginx-test, docs-deploy

.gitlab-ci.yml:

image: node:18

variables:
  NODE_ENV: test

default:
  interruptible: true

cache: &cache
  key:
    files:
      - yarn.lock
  paths:
    - node_modules/
  policy: pull

stages:
  - deps
  - test
  - deploy

deps:
  stage: deps
  script: yarn install --ignore-scripts
  only:
    changes:
      - yarn.lock
  cache:
    <<: *cache
    policy: push

danger:
  stage: test
  script:
    # https://github.com/danger/danger-js/issues/1029#issuecomment-998915436
    - export CI_MERGE_REQUEST_IID=${CI_OPEN_MERGE_REQUESTS#*!}
    - npx danger ci
  except:
    variables:
      - $CI_DEFAULT_BRANCH == $CI_COMMIT_REF_NAME
  allow_failure: true

lint-js:
  stage: test
  script: yarn lint:js
  only:
    changes:
      - "**/*.js"
      - "**/*.jsx"
      - "**/*.ts"
      - "**/*.tsx"
      - ".eslintignore"
      - ".eslintrc.js"

lint-sass:
  stage: test
  script: yarn lint:sass
  only:
    changes:
      - "**/*.scss"
      - "**/*.css"
      - ".stylelintrc.json"

jest:
  stage: test
  script: yarn test:coverage --runInBand
  only:
    changes:
      - "**/*.js"
      - "**/*.json"
      - "app/soapbox/**/*"
      - "webpack/**/*"
      - "custom/**/*"
      - "jest.config.js"
      - "package.json"
      - "yarn.lock"
      - ".gitlab-ci.yml"
  coverage: /All files[^|]*\|[^|]*\s+([\d\.]+)/
  artifacts:
    reports:
      junit: junit.xml
      coverage_report:
        coverage_format: cobertura
        path: .coverage/cobertura-coverage.xml

nginx-test:
  stage: test
  image: nginx:latest
  before_script:
    - cp installation/mastodon.conf /etc/nginx/conf.d/default.conf
  script: nginx -t
  only:
    changes:
      - "installation/mastodon.conf"

build-production:
  stage: test
  script:
    - yarn build
    - yarn manage:translations en
    # Fail if files got changed.
    # https://stackoverflow.com/a/9066385
    - git diff --quiet
  variables:
    NODE_ENV: production
  artifacts:
    paths:
     - static

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
    - apk add curl
  script:
    - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline
  only:
    variables:
      - $CI_DEFAULT_BRANCH == $CI_COMMIT_REF_NAME
    changes:
      - "docs/**/*"

review:
  stage: deploy
  environment:
    name: review/$CI_COMMIT_REF_NAME
    url: https://$CI_COMMIT_REF_SLUG.git.soapbox.pub
  script:
    - npx -y surge static $CI_COMMIT_REF_SLUG.git.soapbox.pub
  allow_failure: true

pages:
  stage: deploy
  before_script: []
  script:
    # artifacts are kept between jobs
    - mv static public
  variables:
    NODE_ENV: production
  artifacts:
    paths:
    - public
  only:
    variables:
      - $CI_DEFAULT_BRANCH == $CI_COMMIT_REF_NAME

docker:
  stage: deploy
  image: docker:20.10.22
  services:
    - docker:20.10.22-dind
  tags:
    - dind
  # https://medium.com/devops-with-valentine/how-to-build-a-docker-image-and-push-it-to-the-gitlab-container-registry-from-a-gitlab-ci-pipeline-acac0d1f26df
  script:
    - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
    - docker build -t $CI_REGISTRY_IMAGE .
    - docker push $CI_REGISTRY_IMAGE
  only:
    variables:
      - $CI_DEFAULT_BRANCH == $CI_COMMIT_REF_NAME

include:
  - template: Jobs/Dependency-Scanning.gitlab-ci.yml
  - template: Security/License-Scanning.gitlab-ci.yml

Upgrade babel, simplify deps
  babel.config.cjs
  package.json
  yarn.lock
Due: deps, jest

Convert Storybook config to TypeScript
  .storybook/main.js
  .storybook/main.ts
  .storybook/preview.ts
Due: lint-js, jest

Lint storybook sample code
  app/soapbox/utils/media.ts
  stories/Button.stories.tsx
  stories/Button.tsx
  stories/Header.stories.tsx
  stories/Header.tsx
  stories/Page.stories.tsx
  stories/Page.tsx
  stories/button.css
Due: lint-js, lint-sass, jest

Make Tailwind work with Storybook. Have it use our Button
  .storybook/main.ts
  .storybook/preview.ts
  package.json
  stories/Button.stories.tsx
  stories/Button.tsx
  stories/button.css
  yarn.lock
Due: deps, lint-js, lint-sass, jest

Storybook: add hardcoded color variables, fix missing import
  .storybook/preview.ts
  stories/Header.tsx
  stories/theme.css
Due: lint-js, lint-sass

Storybook: improve Button stories
  stories/Button.stories.tsx
Due: lint-js

Storybook: improve Button story
  app/soapbox/components/ui/button/button.tsx
  stories/Button.stories.tsx
Due: lint-js, jest

Improve navbar alignment
  app/soapbox/features/ui/components/navbar.tsx
Due: lint-js, jest

Add Toast story
  app/soapbox/components/ui/toast/toast.tsx
  stories/Toast.stories.tsx
Due: lint-js, jest

wip
  app/soapbox/utils/features.ts
Due: lint-js, jest

Translated using Weblate (French)
  app/soapbox/locales/fr.json
Due: jest

Add NewEventPanel to events list page
  app/soapbox/features/events/index.tsx
  app/soapbox/features/ui/components/panels/new-event-panel.tsx
  app/soapbox/features/ui/index.tsx
  app/soapbox/features/ui/util/async-components.ts
  app/soapbox/pages/events-page.tsx
  app/soapbox/pages/groups-page.tsx
Due: lint-js, jest

Translated using Weblate (German)
  app/soapbox/locales/de.json
Due: jest

Translated using Weblate (Spanish)
  app/soapbox/locales/es.json
Due: jest

Update en.json
  app/soapbox/locales/en.json
Due: jest

Update dependency react-sticky-box to v2
  package.json
  yarn.lock
Due: deps, jest

remove comment
  app/styles/components/modal.scss
Due: lint-sass

ChatComposer: shrink "x" icon, fix pending upload jump
  app/soapbox/features/chats/components/chat-textarea.tsx
  app/soapbox/features/chats/components/chat-upload.tsx
Due: lint-js, jest

yarn lint:js --fix
  app/soapbox/components/announcements/reaction.tsx
  app/soapbox/components/autosuggest-input.tsx
  app/soapbox/components/autosuggest-textarea.tsx
  app/soapbox/components/badge.tsx
  app/soapbox/components/event-preview.tsx
  app/soapbox/components/outline-box.tsx
  app/soapbox/components/polls/poll-option.tsx
  app/soapbox/components/scroll-top-button.tsx
  app/soapbox/components/sidebar-menu.tsx
  app/soapbox/components/status-action-button.tsx
  app/soapbox/components/still-image.tsx
  app/soapbox/components/ui/banner/banner.tsx
  app/soapbox/components/ui/emoji-selector/emoji-selector.tsx
  app/soapbox/components/ui/hstack/hstack.tsx
  app/soapbox/components/ui/icon-button/icon-button.tsx
  app/soapbox/components/ui/menu/menu.tsx
  app/soapbox/components/ui/modal/modal.tsx
  app/soapbox/components/ui/stack/stack.tsx
  app/soapbox/containers/soapbox.tsx
  app/soapbox/features/chats/components/chat-list.tsx
  app/soapbox/features/chats/components/chat-page/chat-page.tsx
  app/soapbox/features/chats/components/chat-search/results.tsx
  app/soapbox/features/chats/components/chat.tsx
  app/soapbox/features/chats/components/ui/pane.tsx
  app/soapbox/features/soapbox-config/components/site-preview.tsx
  app/soapbox/features/ui/components/background-shapes.tsx
  app/soapbox/features/ui/components/link-footer.tsx
  app/soapbox/features/ui/components/modals/compare-history-modal.tsx
  app/soapbox/features/ui/components/modals/landing-page-modal.tsx
  app/soapbox/features/ui/components/modals/manage-group-modal/steps/details-step.tsx
  app/soapbox/features/ui/components/modals/report-modal/steps/reason-step.tsx
  app/soapbox/features/ui/components/navbar.tsx
  app/soapbox/features/ui/components/upload-area.tsx
Due: lint-js, jest

more styles cleanup
  app/styles/_mixins.scss
  app/styles/autosuggest.scss
  app/styles/basics.scss
  app/styles/components/columns.scss
  app/styles/components/compose-form.scss
  app/styles/components/media-gallery.scss
  app/styles/components/modal.scss
  app/styles/components/status.scss
  app/styles/fonts.scss
  app/styles/forms.scss
  app/styles/ui.scss
Due: lint-sass

update eslint config
  .eslintrc.cjs
Due: none

useOnScreen: memoize IntersectionObserver, fix types
  app/soapbox/hooks/useOnScreen.ts
Due: lint-js, jest

Account: useLayoutEffect, refactor function calls, fix types, prevent negative maxWidth
  app/soapbox/components/account.tsx
Due: lint-js, jest

Account: don't calculate max-width unnecessarily
  app/soapbox/components/account.tsx
Due: lint-js, jest

Account: let avatar and display name be truncated
  app/soapbox/components/account.tsx
Due: lint-js, jest

Menu: move <hr> styles to component
  app/soapbox/components/ui/menu/menu.css
  app/soapbox/components/ui/menu/menu.tsx
Due: lint-js, lint-sass, jest

ProfileDropdown: refactor with Floating UI
  app/soapbox/features/ui/components/profile-dropdown.tsx
  package.json
  yarn.lock
Due: deps, lint-js, jest

ProfileDropdown: dismiss when clicked outside
  app/soapbox/features/ui/components/profile-dropdown.tsx
Due: lint-js, jest

ProfileDropdown: fix hover styles for menu items with `action`
  app/soapbox/features/ui/components/profile-dropdown.tsx
Due: lint-js, jest

Add useClickOutside hook for Floating UI elements
  app/soapbox/features/ui/components/profile-dropdown.tsx
  app/soapbox/hooks/index.ts
  app/soapbox/hooks/useClickOutside.ts
Due: lint-js, jest

CHANGELOG: profile dropdown
  CHANGELOG.md
Due: none

Update .eslintrc.cjs
  .eslintrc.cjs
Due: none

Fix filters, restyle filters page
  app/soapbox/components/status.tsx
  app/soapbox/containers/status-container.tsx
  app/soapbox/features/filters/index.tsx
  app/soapbox/features/forms/index.tsx
  app/soapbox/features/notifications/components/notification.tsx
  app/soapbox/features/status/components/thread-status.tsx
  app/soapbox/features/status/index.tsx
  app/soapbox/normalizers/filter.ts
  app/soapbox/selectors/index.ts
  app/styles/application.scss
  app/styles/components/filters.scss
  app/styles/components/status.scss
  app/styles/forms.scss
Due: lint-js, lint-sass, jest

Update default border color for Tabs
  app/soapbox/components/ui/tabs/tabs.tsx
Due: lint-js, jest

ProfileDropdown: enforce a max width
  app/soapbox/features/ui/components/profile-dropdown.tsx
Due: lint-js, jest
