Repository soapbox-pub/soapbox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deps, lint-js, lint-sass, jest, nginx-test, docs-deploy

deps:
  stage: deps
  script: yarn install --ignore-scripts
  cache:
    key:
      files:
      - yarn.lock
    paths:
    - node_modules/
    policy: push

lint-js:
  stage: test
  script: yarn lint:js

lint-sass:
  stage: test
  script: yarn lint:sass

jest:
  stage: test
  script: yarn test:coverage --runInBand
  coverage: /All files[^|]*\|[^|]*\s+([\d\.]+)/
  artifacts:
    reports:
      junit: junit.xml
      coverage_report:
        coverage_format: cobertura
        path: .coverage/cobertura-coverage.xml

nginx-test:
  stage: test
  image: nginx:latest
  before_script:
  - cp installation/mastodon.conf /etc/nginx/conf.d/default.conf
  script: nginx -t

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
  - apk add curl
  script:
  - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline

Generate sw.js with workbox
  app/soapbox/service-worker/entry.ts
  package.json
  webpack/production.ts
  yarn.lock
Due: deps, lint-js, jest

Remove prop-types
  app/soapbox/utils/soapbox-prop-types.ts
  babel.config.js
  package.json
  webpack/rules/node-modules.ts
  yarn.lock
Due: deps, lint-js, jest

Update babel.config.js
  babel.config.js
Due: lint-js, jest

Force a patched version of glob-parent
  package.json
  yarn.lock
Due: deps, jest

Expose Registration form to unknown backends
  app/soapbox/utils/features.ts
Due: lint-js, jest

Revert "Merge branch 'renovate/react-virtuoso-4.x' into 'develop'"
  app/soapbox/components/scrollable-list.tsx
  app/soapbox/features/ui/__tests__/index.test.tsx
  package.json
  yarn.lock
Due: deps, lint-js, jest

Support Wildebeest
  app/soapbox/utils/features.ts
Due: lint-js, jest

Increase timeout for intermittently failing test
  app/soapbox/features/ui/__tests__/index.test.tsx
Due: lint-js, jest

Chats: fix jumpy scrollbar
  CHANGELOG.md
  app/soapbox/features/chats/components/chat-message-list.tsx
  app/soapbox/features/chats/components/chat-page/components/chat-page-main.tsx
Due: lint-js, jest

Weblate could not merge upstream changes while updating the repository.
  app/soapbox/locales/de.json
  app/soapbox/locales/fr.json
  app/soapbox/locales/hr.json
  app/soapbox/locales/it.json
  app/soapbox/locales/ja.json
  app/soapbox/locales/no.json
  app/soapbox/locales/pl.json
Due: jest

Fix toast test
  app/soapbox/features/verification/__tests__/registration.test.tsx
Due: lint-js, jest

Revert "Merge branch 'remove-polyfills' into 'develop'"
  app/application.ts
  app/soapbox/base-polyfills.ts
  app/soapbox/extra-polyfills.ts
  app/soapbox/load-polyfills.ts
  app/soapbox/main.tsx
  package.json
  webpack/shared.ts
  yarn.lock
Due: deps, lint-js, jest

Refactor conditional
  app/soapbox/actions/notifications.ts
  app/soapbox/features/ui/index.tsx
Due: lint-js, jest

Downgrade to React 17
  app/soapbox/main.tsx
  package.json
  yarn.lock
Due: deps, lint-js, jest

Fix avatar size in profile hover card
  app/soapbox/features/ui/components/user-panel.tsx
Due: lint-js, jest

Expose backups again
  CHANGELOG.md
  app/soapbox/features/backups/index.tsx
  app/soapbox/features/settings/index.tsx
  app/soapbox/features/ui/index.tsx
  app/soapbox/utils/features.ts
  app/styles/application.scss
  app/styles/components/backups.scss
Due: lint-js, lint-sass, jest

Move "Import data" under settings
  CHANGELOG.md
  app/soapbox/components/sidebar-menu.tsx
  app/soapbox/features/settings/index.tsx
  app/soapbox/features/ui/components/link-footer.tsx
Due: lint-js, jest

Restore export data CSV (behind a feature flag)
  CHANGELOG.md
  app/soapbox/features/settings/index.tsx
  app/soapbox/features/ui/index.tsx
  app/soapbox/utils/features.ts
Due: lint-js, jest

Fix export_data locale
  app/soapbox/features/settings/index.tsx
Due: lint-js, jest

ServiceWorker: use network-first strategy
  CHANGELOG.md
  app/soapbox/locales/en.json
  app/soapbox/main.tsx
  webpack/production.ts
Due: lint-js, jest

Remove singleUserMode, upgrade to redirectRootNoLogin
  app/soapbox/containers/soapbox.tsx
  app/soapbox/features/soapbox-config/index.tsx
  app/soapbox/features/ui/components/__tests__/cta-banner.test.tsx
  app/soapbox/features/ui/components/cta-banner.tsx
  app/soapbox/features/ui/components/modals/unauthorized-modal.tsx
  app/soapbox/features/ui/components/navbar.tsx
  app/soapbox/features/ui/components/panels/sign-up-panel.tsx
  app/soapbox/normalizers/soapbox/__tests__/soapbox-config.test.ts
  app/soapbox/normalizers/soapbox/soapbox-config.ts
Due: lint-js, jest

Remove redirect code from PublicLayout
  app/soapbox/features/public-layout/index.tsx
Due: lint-js, jest

Update changelog
  CHANGELOG.md
Due: none

Update en.json
  app/soapbox/locales/en.json
Due: jest

redirectRootNoLogin: improve phrasing
  app/soapbox/features/soapbox-config/index.tsx
  app/soapbox/locales/en.json
Due: lint-js, jest

Fix CtaBanner and UI tests
  app/soapbox/features/ui/__tests__/index.test.tsx
  app/soapbox/features/ui/components/__tests__/cta-banner.test.tsx
Due: lint-js, jest

Fix React 17 jsx-runtime module resolution bug
  webpack/shared.ts
Due: lint-js, jest

AccountGallery: fix crash in React 18 Fixes https://gitlab.com/soapbox-pub/soapbox/-/issues/1318
  app/soapbox/features/account-gallery/index.tsx
Due: lint-js, jest

StatusContent: useLayoutEffect, fix "read more" button glitchiness on React 18
  app/soapbox/components/status-content.tsx
Due: lint-js, jest

Translated using Weblate (Italian)
  app/soapbox/locales/it.json
Due: jest

Apply 1 suggestion(s) to 1 file(s)
  app/soapbox/normalizers/soapbox/soapbox-config.ts
Due: lint-js, jest

Translated using Weblate (Ukrainian)
  app/soapbox/locales/uk.json
Due: jest

ComposeForm: fix publish icon Fixes https://gitlab.com/soapbox-pub/soapbox/-/issues/1319
  CHANGELOG.md
  app/soapbox/features/compose/components/compose-form.tsx
Due: lint-js, jest

Upgrade qrcode.react, add white border Fixes https://gitlab.com/soapbox-pub/soapbox/-/issues/1321
  CHANGELOG.md
  app/soapbox/features/crypto-donate/components/detailed-crypto-address.tsx
  app/soapbox/features/security/mfa/otp-confirm-form.tsx
  package.json
  yarn.lock
Due: deps, lint-js, jest

Path conditions:
  deps: any of: yarn.lock
  lint-js: any of: **/*.js, **/*.jsx, **/*.ts, **/*.tsx, .eslintignore, .eslintrc.js
  lint-sass: any of: **/*.scss, **/*.css, .stylelintrc.json
  jest: any of: **/*.js, **/*.json, app/soapbox/**/*, webpack/**/*, custom/**/*, jest.config.js, package.json, yarn.lock, .gitlab-ci.yml
  nginx-test: any of: installation/mastodon.conf
  docs-deploy: any of: docs/**/*
